sudo: false
language: ruby
rvm:
- 2.2
script:
- bundle exec middleman build
before_install:
- openssl aes-256-cbc -K $encrypted_1b489f438a17_key -iv $encrypted_1b489f438a17_iv
  -in .travis/deploy_key.enc -out .travis/deploy_key -d
after_success:
- eval "$(ssh-agent -s)"
- chmod 600 .travis/deploy_key
- ssh-add .travis/deploy_key
- git config --global user.email "noreply@travis-ci.org"
- git config --global user.name "Travis CI"
- ".travis/deploy.sh"
