---
title: Builds
---

<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/builds.js"></script>
<% end %>

<div id="builds-application"></div>

<script type="text/x-handlebars" data-template-name="application">
  <div id="sidebar">
    <ol id="toc-list">
      <li class="level-1">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="level-1">{{#link-to 'tagged'}}Tagged Releases{{/link-to}}</li>
      <li class="level-1">
        <a>Channels</a>
        <ol style="display:block">
          <li class="level-3">{{#link-to 'release.latest'}}Release{{/link-to}}</li>
          <li class="level-3">{{#link-to 'beta.latest'}}Beta{{/link-to}}</li>
          <li class="level-3">{{#link-to 'canary.latest'}}Canary{{/link-to}}</li>
        </ol>
      </li>
    </ol>
  </div>

  <div id="content" class="has-sidebar">
    {{render 'mainIntro'}}

    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <div class="features section">
    <div class="feature">
      {{#link-to 'release.latest'}}
      <img class="tomster" src="/images/tomster-sm.png" alt="Release Builds">
      {{/link-to}}
      <h2>Release</h2>
      <p>Release builds have been hardened through our multi-tiered release process. These builds are perfect for use in production environments.</p>
    </div>
    <div class="feature">
      {{#link-to 'beta.latest'}}
      <img class="tomster" src="/images/tomster-beta-sm.png" alt="Beta Builds">
      {{/link-to}}
      <h2>Beta</h2>
      <p>Beta builds will incorporate new features that are ready for more review. They will include new features that have been more thoroughly tested. We do not recommend using Beta builds in production.</p>
    </div>
    <div class="feature">
      {{#link-to 'canary.latest'}}
      <img class="tomster" src="/images/tomster-under-construction-sm.png" alt="Canary Builds">
      {{/link-to}}
      <h2>Canary</h2>
      <p>Canary builds are the bleeding edge of Ember development. Please do not use these builds unless you are absolutely certain that you need fixes and/or features not available in the Release or Beta builds.</p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_filters">
  <ul class="project-pills">
    {{#each filters itemController="tabItem"}}
      <li {{action "setFilter" filter}} {{bind-attr class="isSelectedProject:active"}}>{{name}}</li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="_file_listing">
  {{#if ifFilteredFiles}}
    {{#if filesPresent }}
      <table class="table">
        <thead>
          <tr>
            <th>File</th>
            <th>Modified</th>
            <th>Size</th>
            <th>Quick Copy</th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredFiles}}
            <tr>
              <td><a {{bind-attr href=url }}>{{name}}</a></td>
              <td>{{format-date-time lastModified}}</td>
              <td>{{format-bytes size}}</td>
              <td>{{copy-clipboard label="Link" text=url}} {{copy-clipboard label="Script Tag" text=scriptTag}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{ else }}
      <br/>
      {{#if isLoading}}
        <p class="loading-spinner">
          Loading...<br/><br/>
          <img src="/images/ajax-loader.gif" />
        </p>
      {{else}}
        <p>There are currently no builds for {{title}}. Please check back soon.</p>
      {{/if}}
    {{/if}}
  {{ else }}
    <p class="extra-margin">Theere are currently no builds for {{title}}. Please check back soon.</p>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="release/latest">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li class="active">{{#link-to 'release.latest'}}Latest{{/link-to}}</li>
      <li>{{#link-to 'release.daily' }}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'filters'}}
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="release/daily">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li>{{#link-to 'release.latest'}}Latest{{/link-to}}</li>
      <li class="active">{{#link-to 'release.daily' }}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'filters'}}
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="beta/latest">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li class="active">{{#link-to 'beta.latest'}}Latest{{/link-to}}</li>
      <li>{{#link-to 'beta.daily' }}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'filters'}}
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="beta/daily">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li>{{#link-to 'beta.latest'}}Latest{{/link-to}}</li>
      <li class="active">{{#link-to 'beta.daily' }}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="canary/latest">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li class="active">{{#link-to 'canary.latest'}}Latest{{/link-to}}</li>
      <li>{{#link-to 'canary.daily' }}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'filters'}}
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="canary/daily">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li>{{#link-to 'canary.latest'}}Latest{{/link-to}}</li>
      <li class="active">{{#link-to 'canary.daily' }}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'filters'}}
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="tagged">
  <h2>{{title}}</h2>
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="daily">
  <h2>{{title}}</h2>
  {{partial 'fileListing'}}
</script>

<script type="text/x-handlebars" data-template-name="components/copy-clipboard">
  <button {{bind-attr data-clipboard-text=text}} {{bind-attr data-label=label}}>{{label}}</button>
</script>
