---
title: Builds
---

<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/builds.js"></script>
<% end %>

<div id="builds-application"></div>

<script type="text/x-handlebars" data-template-name="application">
  <div id="sidebar">
    <ol id="toc-list">
      <li {{bind-attr class=":level-1 isIndexActive:selected"}}>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li {{bind-attr class=":level-1 isTaggedActive:selected"}}>{{#link-to 'tagged'}}Tagged Releases{{/link-to}}</li>
      <li {{bind-attr class=":level-1 isChannelsActive:selected"}}>
        <a>Channels</a>
        <ol style="display:block">
          <li {{bind-attr class=":level-3 isReleaseActive:sub-selected"}}>{{#link-to 'release.latest'}}Release{{/link-to}}</li>
          <li {{bind-attr class=":level-3 isBetaActive:sub-selected"}}>{{#link-to 'beta.latest'}}Beta{{/link-to}}</li>
          <li {{bind-attr class=":level-3 isCanaryActive:sub-selected"}}>{{#link-to 'canary.latest'}}Canary{{/link-to}}</li>
        </ol>
      </li>
    </ol>
  </div>

  <div id="content" class="has-sidebar">
    {{render 'mainIntro'}}

    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <div class="features section">
    <div class="feature">
      {{#link-to 'release.latest'}}
      <img class="tomster" src="/images/tomster-sm.png" alt="Release Builds">
      {{/link-to}}
      <h2>Release</h2>
      <p>Release builds have been hardened through our multi-tiered release process. These builds are perfect for use in production environments.</p>
    </div>
    <div class="feature">
      {{#link-to 'beta.latest'}}
      <img class="tomster" src="/images/tomster-beta-sm.png" alt="Beta Builds">
      {{/link-to}}
      <h2>Beta</h2>
      <p>Beta builds will incorporate new features that are ready for more review. They will include new features that have been more thoroughly tested. We do not recommend using Beta builds in production.</p>
    </div>
    <div class="feature">
      {{#link-to 'canary.latest'}}
      <img class="tomster" src="/images/tomster-under-construction-sm.png" alt="Canary Builds">
      {{/link-to}}
      <h2>Canary</h2>
      <p>Canary builds are the bleeding edge of Ember development. Please do not use these builds unless you are absolutely certain that you need fixes and/or features not available in the Release or Beta builds.</p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_filters">
  <ul class="project-pills">
    {{#each filters itemController="tabItem"}}
      <li {{action "setFilter" projectFilter}} {{bind-attr class="isSelectedProject:active"}}>{{projectName}}</li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="_project_listing">
  {{#if filesPresent }}
    {{#each projects}}
      {{partial 'filesTable'}}
    {{/each}}
  {{ else }}
    <br/>
    {{#if isLoading}}
      <p class="loading-spinner">
        Loading...<br/><br/>
        <img src="/images/ajax-loader.gif" />
      </p>
    {{else}}
      <p>There are currently no builds for {{title}}. Please check back soon.</p>
    {{/if}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="_files_table">
  <h2 class="project-name">{{projectName}}</h2>
  {{#if lastRelease}}
  <div id="download">
    <div id="download-ember">
      <a class="orange button" {{bind-attr href=lastReleaseDebugUrl}}>Download {{lastRelease}}</a>
      <div class="info">
        {{lastRelease}}:
        <a class="debug" {{bind-attr href=lastReleaseProdUrl}}>production</a>
        <a class="debug" {{bind-attr href=lastReleaseMinUrl}}>(min)</a> |
        <a class="debug" {{bind-attr href=lastReleaseDebugUrl}}>debug</a>
        {{#if lastReleaseChangelogUrl }} |
          <a class="debug" {{bind-attr href=lastReleaseChangelogUrl}}>changelog</a>
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
  <p class="description">{{description}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>File</th>
        <th>Modified</th>
        <th>Quick Copy</th>
      </tr>
    </thead>
    <tbody>
      {{#each files}}
        <tr>
          <td><a {{bind-attr href=url }}>{{name}}</a></td>
          <td>{{format-date-time lastModified}}</td>
          <td>{{copy-clipboard label="Link" text=url}} {{copy-clipboard label="Script Tag" text=scriptTag}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script type="text/x-handlebars" data-template-name="build-list">
  <h2>{{title}}</h2>
  <div class="tabs">
    <ul>
      <li>{{#link-to latestLink}}Latest{{/link-to}}</li>
      <li>{{#link-to dailyLink}}Daily{{/link-to}}</li>
    </ul>
  </div>
  {{partial 'projectListing'}}
</script>

<script type="text/x-handlebars" data-template-name="tagged">
  <h2>{{title}}</h2>
  {{partial 'projectListing'}}
</script>

<script type="text/x-handlebars" data-template-name="components/copy-clipboard">
  {{#if hasFlash}}
    <button {{bind-attr data-clipboard-text=text}} {{bind-attr data-label=label}}>{{label}}</button>
  {{else}}
    <input type="text" class="name-input" readonly="readonly" {{bind-attr value=text}}>
  {{/if}}
</script>
