---
title: Builds
---

<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/builds.js"></script>
<% end %>

<div id="builds-application"></div>

<script type="text/x-handlebars" data-template-name="application">
  <div id="sidebar">
    <ol id="toc-list">
      <li {{bind-attr class=":level-1 isIndexActive:selected"}}>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li {{bind-attr class=":level-1 isTaggedActive:selected"}}>{{#link-to 'tagged'}}Tagged Releases{{/link-to}}</li>
      <li {{bind-attr class=":level-1 isChannelsActive:selected"}}>
        <a>Channels</a>
        <ol style="display:block">
          <li {{bind-attr class=":level-3 isReleaseActive:sub-selected"}}>{{#link-to 'release'}}Release{{/link-to}}</li>
          <li {{bind-attr class=":level-3 isBetaActive:sub-selected"}}>{{#link-to 'beta'}}Beta{{/link-to}}</li>
          <li {{bind-attr class=":level-3 isCanaryActive:sub-selected"}}>{{#link-to 'canary'}}Canary{{/link-to}}</li>
        </ol>
      </li>
    </ol>
  </div>

  <div id="content" class="has-sidebar">
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
  <div class="features section">
    <div class="feature">
      {{#link-to 'release'}}
        <div class="release" title="Release Builds"></div>
      {{/link-to}}
      <h2>Release</h2>
      <p>Release builds have been hardened through our multi-tiered release process. These builds are perfect for use in production environments.</p>
    </div>
    <div class="feature">
      {{#link-to 'beta'}}
        <div class="beta" title="Beta Builds"></div>
      {{/link-to}}
      <h2>Beta</h2>
      <p>Beta builds will incorporate new features that are ready for more review. They will include new features that have been more thoroughly tested. We do not recommend using Beta builds in production.</p>
    </div>
    <div class="feature">
      {{#link-to 'canary'}}
        <div class="canary" title="Canary Builds"></div>
      {{/link-to}}
      <h2>Canary</h2>
      <p>Canary builds are the bleeding edge of Ember development. Please do not use these builds unless you are absolutely certain that you need fixes and/or features not available in the Release or Beta builds.</p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_project_listing">
  {{#if filesPresent }}
    {{#each projects}}
      {{partial 'filesTable'}}
    {{/each}}
  {{ else }}
    <br/>
    {{#if isLoading}}
      <p class="loading-spinner">
        Loading...<br/><br/>
        <img src="/images/ajax-loader.gif" width="31" height="31" />
      </p>
    {{else}}
      <p>There are currently no builds for {{title}}. Please check back soon.</p>
    {{/if}}
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="_files_table">
  <h2 class="project-name">{{projectName}} {{channel}} Builds</h2>
  {{#if isEmberBeta}}
    <div class="release-progress clear">
      <div class="left">
        <div class="small-release-image" {{bind-attr title=lastStableVersion}}></div>
        <div class="release-version">{{lastStableVersion}}</div>
        <div class="release-date">Released {{format-date-time lastStableDate "MMM Do"}}</div>
      </div>
      <div class="float-left-container">
        <div class="release-cycle-title">The path to {{finalVersion}}...</div>
        <div {{bind-attr class=":left beta1Completed::future-image"}}>
          <div class="tiny-beta-image"></div>
          <div class="beta-version">beta 1</div>
          {{#if isBeta1}}
            <div class="beta-current-version">(current beta)</div>
          {{/if}}
        </div>
        <div {{bind-attr class=":left beta2Completed::future-image"}}>
          <div class="tiny-beta-image"></div>
          <div class="beta-version">beta 2</div>
          {{#if isBeta2}}
            <div class="beta-current-version">(current beta)</div>
          {{/if}}
          {{#if isBeta1}}
            <div class="beta-current-version">(coming {{format-date-time nextDate "MMM Do"}})</div>
          {{/if}}
        </div>
        <div {{bind-attr class=":left beta3Completed::future-image"}}>
          <div class="tiny-beta-image"></div>
          <div class="beta-version">beta 3</div>
          {{#if isBeta3}}
            <div class="beta-current-version">(current beta)</div>
          {{/if}}
          {{#if isBeta2}}
            <div class="beta-current-version">(coming {{format-date-time nextDate "MMM Do"}})</div>
          {{/if}}
        </div>
        <div {{bind-attr class=":left beta4Completed::future-image"}}>
          <div class="tiny-beta-image"></div>
          <div class="beta-version">beta 4</div>
          {{#if isBeta4}}
            <div class="beta-current-version">(current beta)</div>
          {{/if}}
          {{#if isBeta3}}
            <div class="beta-current-version">(coming {{format-date-time nextDate "MMM Do"}})</div>
          {{/if}}
        </div>
        <div {{bind-attr class=":left beta5Completed::future-image"}}>
          <div class="tiny-beta-image"></div>
          <div class="beta-version">beta 5</div>
          {{#if isBeta5}}
            <div class="beta-current-version">(current beta)</div>
          {{/if}}
          {{#if isBeta4}}
            <div class="beta-current-version">(coming {{format-date-time nextDate "MMM Do"}})</div>
          {{/if}}
        </div>
      </div>
      <div class="right future-image">
        <div class="small-release-image" {{bind-attr title=finalVersion}}></div>
        <div class="release-version">{{finalVersion}}</div>
        <div class="release-date">Coming {{format-date-time cycleEstimatedFinishDate "MMM Do"}}</div>
      </div>
      <div class="clear"></div>
    </div>
  {{/if}}
  {{#if lastRelease}}
  <div id="download">
    <div id="download-ember">
      <a class="orange button" {{bind-attr href=lastReleaseDebugUrl}}>Download {{lastRelease}}</a>
      <div class="info">
        {{lastRelease}}:
        <a class="debug" {{bind-attr href=lastReleaseProdUrl}}>production</a>
        <a class="debug" {{bind-attr href=lastReleaseMinUrl}}>(min)</a> |
        <a class="debug" {{bind-attr href=lastReleaseDebugUrl}}>debug</a>
        {{#if lastReleaseChangelogUrl }} |
          <a class="debug" {{bind-attr href=lastReleaseChangelogUrl}}>changelog</a>
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
  <p class="description">{{description}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>File</th>
        <th>Modified</th>
        <th>Quick Copy</th>
      </tr>
    </thead>
    <tbody>
      {{#each files}}
        <tr>
          <td><a {{bind-attr href=url }}>{{name}}</a></td>
          <td>{{format-date-time lastModified}}</td>
          <td>{{copy-clipboard label="Link" text=url}} {{copy-clipboard label="Script Tag" text=scriptTag}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script type="text/x-handlebars" data-template-name="build-list">
  {{partial 'projectListing'}}
</script>

<script type="text/x-handlebars" data-template-name="components/copy-clipboard">
  {{#if hasFlash}}
    <button {{bind-attr data-clipboard-text=text}} {{bind-attr data-label=label}}>{{label}}</button>
  {{else}}
    <input type="text" class="name-input" readonly="readonly" {{bind-attr value=text}}>
  {{/if}}
</script>
