.footer > .container {
  max-width: 960px;
  margin: auto;
}

.not-responsive .footer > .container {
  width: 960px;
}
.not-responsive .footer {
  min-width: 960px;
}

.footer a:hover {
  border-bottom: none;
}

@media screen and (max-width: 53.75rem) {
  .responsive .footer .container {
    padding: 2rem 1rem;

    .footer-info {
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .footer-statement {
      margin: 1.1rem 0;
    }
    .footer-social {
      line-height: 32px;
      margin-bottom: 18px;
    }
  }
}
// The styles bellow were ported from the compiled sass from
// https://guides.emberjs.com/v2.3.0/

// Ideally we will install bourbon / bittters / neat
// and reuse the same _base_ stylesheets as the guides.
// Since that will affect many default styles hence
// the overall visual aesthetics of the site, this is an intentional
// intermediate step to quickly port the responsive footer.

.footer {
  background-color: #f2ece9;
  border-top: 1px solid #f9e7e4;
  border-top: 1px solid #e5dbd6;
  text-align: left;
  margin-top: 60px;
  .footer-statement {
    text-align: center;
  }
}

.footer .container {
  padding: 1.875rem 1rem
}

.footer .container {
  align-items:center;
  display: flex
}

@media screen and (max-width: 53.75rem) {
  .responsive .footer .container {
    text-align: center;
    display: block;
  }
}

.footer .footer-info {
  color: #999;
  // font-size: 0.75rem;
  font-size: 11px;
  line-height: 24px;
  font-weight: 600;
  margin: 0.875rem 0;
  text-transform: uppercase
}

.footer .footer-info {
  flex:0 0 18em;
  text-align: left
}

@media screen and (max-width: 53.75rem) {
  .responsive .footer .footer-info {
    text-align: center;
  }
}

.footer .footer-info a {
  color: #dd6a58
}

.footer .footer-statement {
  color: #999;
  flex: 1;
  font-size: 1.1rem;
  margin: 1rem 0;
  line-height: 26.4px;
}

.footer .footer-social {
  margin: 1rem 0
}

@media screen and (min-width: 53.75rem) {
  .footer .footer-social {
    flex:0 0 11em;
    text-align: right
  }
}

.footer .footer-social a {
  -webkit-transition: opacity 200ms, color 200ms;
  -moz-transition: opacity 200ms, color 200ms;
  transition: opacity 200ms, color 200ms;
  color: #999;
  font-size: 1.5rem;
  margin-left: 0.75rem;
  opacity: 0.7
}

.footer .footer-social a:hover {
  color: #dd6a58;
  opacity: 1
}
