@import "base/base";
/**
  Header
**/
header {
	.navbar {
    margin-bottom: 0;
		&.navbar-inverse {
			background-color: $orange;
			border-radius: 0;
			border-color: transparent;
			.navbar-collapse, .navbar-form {
				border-color: $orange-darkest;
			}
			.navbar-toggle {
				border-color: white;
				&:hover {
					background-color: $orange-darker;
				}
			}
			.navbar-brand {
				img {
				  margin-top: -10px;
					@media screen and (min-width: 768px) {
						margin-top: -10px;
						margin-bottom: 0;
						padding-bottom: 0;
						margin-right: 10px;
					}
				}
			}
			.navbar-nav {
				li {
					a {
            color: white;
            &:focus {
              outline: 5px auto -webkit-focus-ring-color;
            }
					}
					&.active {
						a {
							background-color: white;
							color: $orange-darkest;
						}
					}
					&.open {
						a {
							background-color: white;
							color: $orange-darkest;
						}
						.dropdown-menu {
							background-color: white;
							border-radius: 0;
							@media screen and (min-width:768px){
								border-radius: 0 0 4px 4px;
								border-color-top: white;
							}
							li {
								a {
									&:hover,
									:focus {
										background-color: $orange-lightest;
                    color: $orange-darkest;
                    outline: 0 !important;
									}
								}
								&.divider {
									background-color: $orange-lightest;
								}
							}
						}
					}
				}
			}
			form.navbar-right {
				.form-control {
					background-color: $orange-lightest;
					border-color: $orange-darkest;
          border-right-color: transparent;
          border-right: 0;
        }
        .input-group {
          span.algolia-autocomplete {
            display: inline !important;

          }
        }
				.input-group-addon {
					background-color: $orange-lightest;
					border-color: $orange-darkest;
					border-left-color: transparent;
					margin-left: -1px;
					color: $orange-darkest;
				}
			}
		}
	}
}