@import "base/base";
/**
  Header
**/
header {
	.navbar {
    margin-bottom: 0;
		&.navbar-inverse {
			background-color: $orange;
			border-radius: 0;
			border-color: transparent;
			.navbar-collapse, .navbar-form {
				border-color: $orange-darkest;
			}
			.navbar-toggle {
				border-color: white;
				&:hover {
					background-color: $orange-darker;
				}
			}
			.navbar-brand {
				img {
				  margin-top: -10px;
					@media screen and (min-width: 768px) {
						margin-top: -10px;
						margin-bottom: 0;
						padding-bottom: 0;
						margin-right: 10px;
					}
				}
			}
			.navbar-nav {
				li {
					a {
            color: white;
            &:focus {
              outline: 5px auto -webkit-focus-ring-color;
            }
					}
					&.active {
						a {
							background-color: white;
							color: $orange-darkest;
						}
					}
					&.open {
						a {
							background-color: white;
							color: $orange-darkest;
						}
						.dropdown-menu {
							background-color: white;
							border-radius: 0;
							@media screen and (min-width:768px){
								border-radius: 0 0 4px 4px;
								border-color-top: white;
							}
							li {
								a {
									&:hover,
									:focus {
										background-color: $orange-lightest;
                    color: $orange-darkest;
                    outline: 0 !important;
									}
								}
								&.divider {
									background-color: $orange-lightest;
								}
							}
						}
					}
				}
			}
			form.navbar-right {
				.form-control {
					background-color: rgba(255,255,255,0.2);
					border-color: transparent;
					border-right: 0;
					box-shadow: none;
					border-radius: 35px;
					color: white;
					&::placeholder {
						color: $orange-lightest;
					}
        }
        .input-group {
					min-width: 100%;
          span.algolia-autocomplete {
						@media screen and (min-width:768px) {
							display: inline !important;
						}

          }
        }
				.input-group-addon {
					background-color: transparent;
					border-color: transparent;
					margin-left: -1px;
					.glyphicon {
						color: $orange-lightest;
						font-size: 16px;
						margin-left: -60px;
					}
				}
			}
		}
	}
}

// Search highlight
.ds-suggestions, .ds-dataset-1 .ds-dataset-1, .algolia-docsearch {
  z-index:1000 !important;
}
.algolia-docsearch-footer {
  border-top-color: $orange-lighter;
}
.algolia-docsearch-suggestion {
  border-bottom-color: $orange-lighter;
}
.algolia-docsearch-suggestion--highlight {
  color: $orange-darker;
}
.algolia-docsearch-suggestion--subcategory-column {
  border-right-color: $orange-lighter;
  color: $gray-darkest;
  background-color: $orange-lightest;
}