.survey-reminder-wrapper {
  background: white;
  color: $orange;
  text-align: center;
  line-height: 2.2;
  font-size: 1.2rem;
  border-bottom: 1px solid #e5dbd6;
  a, strong {
    color: $blue;
  }
  a {
    border-bottom: 1px dotted $blue;
  }

  &.hidden {
    display: none;
  }
}
.survey-reminder-container {
  width: 960px;
  margin: auto;
}

@media screen and (max-width: 53.75rem) {
  .responsive .survey-reminder-container {
    width: inherit;
    line-height: 1.5;
    padding: 0.8rem 1rem;
  }
}