@import "variables";
@import "mixins/hidpi";

.job-board {
  display: none;
  @media screen and (max-width: 768px) {
    background-color: #1e719b;
    font-size: 1.2em;
    min-width: 100%;
    text-align: center;
    display: block;
    clear: both;
    a {
        background-image: none;
        color: white;
        letter-spacing: 1px;
        min-width: 100%;
        display: block;
        padding: 0.4em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
        img {
          margin: -0.2em 0 -0.6em 0.5em;
          transform: rotate(10deg);
          max-height: 40px;
          &:hover, &:focus {
            text-decoration: none;
          }
        }
        .text-yellow {
          color: #feeca6;
        }
      }
    }
  } 
  .job-board-banner {
      z-index: 99998;
      position: absolute;
      left: 20px;
      width: 125px;
      height: 170px;

      text-decoration: none !important;
      text-indent: -99999px;

      @include hidpi('about/job-board-banner', png);

      &:hover {
        border-bottom: none;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    } 



.about-page--header {
  display: block;
  clear: both;
  color: black;
  font-family: 'Source Sans Pro';
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 1em auto;
  max-width: 100%;
  text-align: center;
  .bold {
    font-weight: 400;
  }
  @media screen and (max-width: 768px) {
    margin: 0.5 auto;
    font-size: 2em;
  }
}
body.index, body.about {
  background: no-repeat top center #faf4f1;
  background-image: url('/images/background-shades.png');
  background-image: url('/images/background-shades.svg'), none; // See: http://css-tricks.com/svg-fallbacks/
  @media screen and (min-width: 2000px) { // Stretch background width when wider than source image
    background-size: 100% auto;
  }

  .feature p {
    margin-top: 1.5em;
  }

  @media (-webkit-min-device-pixel-ratio: $hidpi-min-pixel-ratio), (min-resolution: $hidpi-min-pixel-ratio), (min-resolution: $hidpi-min-pixel-ratio) {
    .feature .handlebars {
      background-size: 221px 210px !important;
    }
    .feature .structure {
      background-size: 221px 210px !important;
    }
    .feature .productivity {
      background-size: 221px 220px !important;
    }
  }

  .feature .handlebars {
    @include hidpi('about/ember-handlebars-sm', 'png');
    width: 221px;
    height: 177px;
  }

  .feature .structure {
    @include hidpi('about/ember-structure-sm', 'png');
    width: 193px;
    height: 184px;
  }

  .feature .productivity {
    @include hidpi('about/ember-productivity-sm', 'png');
    width: 221px;
    height: 184px;
  }

  .getting-started {
    h2.sub {
      color: #F23818;
      padding-top: 50px;
      border-top: 1px dotted #E5DBD6;
      font-size: 19px;
    }
  }

  p.prose {
    width: 800px;
  }

  .section.gears {
    margin-top: 70px;
  }

  .install-ember-cli {
    border-color: #fa6d55 !important;
    border-width: 2px !important;

    .line-numbers {
      display: none;
    }
  }

  #download .info {
    text-align: center;
  }

  .call-to-action {
    border-radius: 10px;
    background-color: white;
    margin: 3em auto;
    width: 350px;
    text-align: center;

    a {
      color: #D0351A;
      border: 1px #DDD solid;
      font-size: 0.7rem;
      border-radius: 7px;
      background-color: white;
      text-transform: uppercase;
      padding: 0.5rem;

      &:hover {
        color: white;
        background-color: #D0351A;
      }
    }

    .top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: inset 0 0 4px 2px #DDDDDD;
      padding: 1em;
      padding-bottom: 2em;

      h1 {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        color: #666;
        text-transform: capitalize;
      }

      .cta-copy {
        width: 80%;
        margin: 0 auto;
      }
    }

    .bottom {
      margin: 0;
      background-color: #E46651;
      color: white;
      font-family: monospace;
      text-align: left;
      line-height: 0.5;
      overflow: hidden;
      padding-left: 2em;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
/*
body.index.responsive > #content-wrapper {
  padding: 3em;
  padding-bottom: 1em;
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
}

body.index.responsive #content {
  width: 90%;
}

@media screen and (max-width: 460px) {
  body.index.responsive > #content-wrapper {
    padding: 2em 0 1em;
  }
}
 */

// The EmberConf CSS is used seasonally; please comment it out when not in use, rather than delete

.emberconf {
  text-align: center;
    img {
      display: block;
      max-width: 90%;
      margin: 0 auto;
      padding-top: 40px;
    }
	a:hover {
    border-bottom: none;
  }
}
