@import "mixins/hidpi";

$hidpi-min-pixel-ratio: 1.3 !default;

.job-board-banner {
  z-index: 99998;
  position: absolute;
  left: 20px;
  width: 125px;
  height: 170px;

  text-decoration: none !important;
  text-indent: -99999px;

  @include hidpi('about/job-board-banner', png);

  &:hover {
    border-bottom: none;
  }
}

body.index, body.about {
  background: no-repeat top center #faf4f1;
  background-image: url('/images/background-shades.png');
  background-image: url('/images/background-shades.svg'), none; // See: http://css-tricks.com/svg-fallbacks/
  @media screen and (min-width: 2000px) { // Stretch background width when wider than source image
    background-size: 100% auto;
  }

  .feature p {
    margin-top: 1.5em;
  }

  @media (-webkit-min-device-pixel-ratio: $hidpi-min-pixel-ratio), (min-resolution: $hidpi-min-pixel-ratio), (min-resolution: $hidpi-min-pixel-ratio) {
    .feature .handlebars {
      background-size: 221px 210px !important;
    }
    .feature .structure {
      background-size: 221px 210px !important;
    }
    .feature .productivity {
      background-size: 221px 220px !important;
    }
  }

  .feature .handlebars {
    @include hidpi('about/ember-handlebars-sm', 'png');
    width: 221px;
    height: 177px;
  }

  .feature .structure {
    @include hidpi('about/ember-structure-sm', 'png');
    width: 193px;
    height: 184px;
  }

  .feature .productivity {
    @include hidpi('about/ember-productivity-sm', 'png');
    width: 221px;
    height: 184px;
  }

  .getting-started {
    h2.sub {
      color: #F23818;
      padding-top: 50px;
      border-top: 1px dotted #E5DBD6;
      font-size: 19px;
    }
  }

  p.prose {
    width: 800px;
  }

  .section.gears {
    margin-top: 70px;
  }
}
