article.blog-post {
  h1 {
    min-height: 24px;
    padding-left: 25px;
  }

  h2 {
    margin: 35px 0;
  }

  h3.blog-post-author {
    margin-left: 25px;
  }

  li {
    margin: 14px 0;
  }

  ul {
    margin: 25px 0;
  }

  ul > li {
    list-style: disc;
  }

  .chapter {
    $h3-indent: 32px;
    $body-indent: $h3-indent;

    h1 {
      padding-bottom: 0.5em;
    }

    ul, ol {
      margin-left: $body-indent;
      margin-bottom: 28px;

      li {
        font-size: 15px;
        margin: 10px 0 10px 0;

        p {
          padding-left: 7px;
        }
      }
    }
  }

  table {
    width: 100%;

    margin: 1em 0;
    tbody tr{
      background: rgba(255, 249, 249, 0.56);
      border-bottom: 1px solid rgba(223, 215, 212, 0.28);
    }

    thead {
      background-color: #f9e7e4;
    }

    th {
      font-weight: bold;
    }

    th, td {
      padding: 5px 10px;
    }

    &.specific {
      th, td {
        padding: 5px 6px;
      }
    }
  }

  .note {
    background: rgba(0,0,0, 0.2);

    &::before {
      content: "Note"
    }
  }
}
