article.blog-post {
  h1 {
    height: 24px;
    padding-left: 25px;
  }

  h2 {
    margin: 35px 0;
  }

  h3.blog-post-author {
    margin-left: 25px;
  }

  li {
    margin: 14px 0;
  }

  ul {
    margin: 25px 0;
  }

  ul > li {
    list-style: disc;
  }
}

