@import "variables";

$small-breakpoint: 670px;
$medium-breakpoint: 1040px;

body.blog.responsive {
  #content-wrapper {
    @media screen and (max-width: $medium-breakpoint) {
      width: 100%;
      float: none;
    }
    @media screen and (max-width: $small-breakpoint) {
      width: 100%;
      float: none;
    }

    #sidebar {
      @media screen and (max-width: $medium-breakpoint) {
        width: 30%;
        float: left;

        &:after {
          width: 100%;
        }

        .slide-widget-head {
          font-size: 1.2em;
        }

        ol li.level-3 {
          a {
            font-size: 1.2em;
          }
        }
      }
      @media screen and (max-width: $small-breakpoint) {
        width: 100%;
        float: none;
        padding-bottom: 0em;
        min-height: 0;

        &:after {
          display: none;
        }
      }
      
    }
    #content.has-sidebar {
      margin-bottom: 0;

      @media screen and (max-width: $medium-breakpoint) {
        width: 70%;
        float: left;
        margin: 0;
        padding: 2rem;

        .blog-post-summary {
          >h2{
            line-height: 1.5;
          }

          >p{
            font-size: 1.3em;
            line-height: 1.8em;
          }

          >a.read-more{
            font-size: 1.3em;
          }
        }
      }

      @media screen and (max-width: $small-breakpoint) {
        width: 100%;
        float: none;
        margin: 0;
        padding: 1rem;
        
      }
    }

    .pagination {
      position: relative;
      margin: 40px auto 20px;
      font-size: 1.1em;
      color: #9EABB3;
      text-align: center;

      a {
        position: absolute;
        display: inline-block;

        &.older-posts {
          right: 0;
        }

        &.newer-posts {
          left: 0;
        }
      }

      .page-number {
        display: inline-block;
        color: #333;
        margin: 0;
      }
    }
  }
}

.blog {
  .btn {
    font-weight: bold;
    font-size: 12px;
    color: #FFFBF5;
    padding: 0.3rem 0.6rem 0.2rem;
    background-color: #e69082;
    border-radius: 3px;
    line-height: 1.4;
  }
}

article.blog-post {
  h1 {
    background-position: left 9px;
    text-transform: none;
    font-size: 34px;
    min-height: 34px;
    padding-left: 25px;
  }

  h2 {
    margin: 35px 0;
  }

  h3.blog-post-author,
  h3.blog-post-date {
    color: #777;
    margin-left: 25px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
  }

  h3.blog-post-author {
    color: #333;
  }

  hr:first-of-type {
    margin: 1em 0 1.5em;
  }

  li {
    margin: 14px 0;
  }

  ul {
    margin: 25px 0;
  }

  ul > li {
    list-style: disc;
  }

  .chapter {
    h1 {
      padding-bottom: 0.5em;
    }

    ul,
    ol {
      margin-left: $list-indent;
      margin-bottom: 28px;

      li {
        font-size: 15px;
        margin: 10px 0 10px 0;

        p {
          padding-left: 7px;
        }
      }
    }
  }

  table {
    width: 100%;

    margin: 1em 0;

    tbody tr {
      background: rgba(255, 249, 249, 0.56);
      border-bottom: 1px solid rgba(223, 215, 212, 0.28);
    }

    thead {
      background-color: #f9e7e4;
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 5px 10px;
    }

    &.specific {
      th,
      td {
        padding: 5px 6px;
      }
    }
  }

  .note {
    background: rgba(0,0,0, 0.2);

    &::before {
      content: "Note"
    }
  }
}
