#builds-application {
  #sidebar {
    $sidebar-width: 140px;

    width: $sidebar-width;

    &:after {
      width: $sidebar-width;
    }
  }

  .features {
    margin-top: 15%;
  }

  .feature {
    margin-left: 20px;
  }

  .table {
    margin-top: 2em;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      th {
        vertical-align: bottom;
      }
    }

    th, td {
      padding: 8px;
      line-height: 20px;
      text-align: left;
    }

    th {
      font-weight: bold;
    }

    td {
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }
  }

  .tabs {
    ul {
      border-bottom: none;

      li.active {
        border-right: 1px solid #f67862;
      }
    }
    a.active {
      background-color: #f67862;
      @include background-image(linear-gradient(0deg, #e7624b, #f67862));
      border-right: 1px solid #f67862;
      border-top: none;
      color: white;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
}
