@import "compass/css3";
@import "solarized_light";

/* The CSS in this file is for the inline examples on the home page.  */

/* Might need to specify this for whatever your global class for examples would be */
/*#content .getting-started.section .highlight {*/
  /*width: 100%;*/
  /*margin: 0;*/
  /*-webkit-border-radius: 0 0 5px 5px;*/
  /*-moz-border-radius: 0 0 5px 5px;*/
  /*-ms-border-radius: 0 0 5px 5px;*/
  /*-o-border-radius: 0 0 5px 5px;*/
  /*border-radius: 0 0 5px 5px;*/
/*}*/

.example-tabs li {
  display: table-cell;
  border-right: 1px solid #ccc;
  border-left: 1px solid #fff;
  background-color: rgba(0,0,0, 0.1);
  padding: 6px 8px;
  /*color: #fff;*/
  cursor: pointer;
  font-family: Menlo, Consolas, monospace;
  font-size: 80%;
  margin: 3px 0;
  float: left;

  &.is-selected {
    color: #fff;
    background-color: #e1563f;
    font-weight: bold;
  }
}

pre {
  clear: left;
}

.example-viewer {
  float: left;
  width: 700px;
}

.example-output {
  float: left;
  width: 260px;
}
