@font-face {
    font-family: 'MavenProBold';
    src: url('/fonts/maven_pro_bold-webfont.eot');
    src: url('/fonts/maven_pro_bold-webfont.eot?#iefix') format('eot'),
         url('/fonts/maven_pro_bold-webfont.woff') format('woff'),
         url('/fonts/maven_pro_bold-webfont.ttf') format('truetype'),
         url('/fonts/maven_pro_bold-webfont.svg#webfontNOU7iUTL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProMedium';
    src: url('/fonts/maven_pro_medium-webfont.eot');
    src: url('/fonts/maven_pro_medium-webfont.eot?#iefix') format('eot'),
         url('/fonts/maven_pro_medium-webfont.woff') format('woff'),
         url('/fonts/maven_pro_medium-webfont.ttf') format('truetype'),
         url('/fonts/maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/Lato-Regular.woff') format('woff');
}
