@import "base/variables";
@import "mixins/hidpi";
@import "base/typography";

body.guides, body.api {
  p {
    margin: 1.5em 0;
    line-height: 1.5em;
    color: $black;
  }

  sup {
    vertical-align: super;
    font-weight: 100;
    color: $gray; 
    font-size: 11px
  }

  code {
    font-family: Menlo, Courier, monospace;
    font-size: 90%;
    color: $gray;
    background-color: rgba(0, 0, 0, 0.04); //TODO replace with variable to ensure consistency
    padding: 3px;
    border-radius: 5px;
  }

  .highlight { // jsbin includes
    margin-bottom: 20px;
  }

  h1 {
    padding: 0px 0px 3.5em 2em;
    background: no-repeat top left;
    @include hidpi('chapter-mark', 'png');

    &.api-header {
      padding-bottom: 0.5em;
    }
  }

  hr {
    height: 1px;
    border: none;
    margin: 40px 0;
    background-color: #dfd7d4; //TODO replace with variable to ensure consistency

    &:first-of-type {
      margin: 8px 0;
    }
  }

  dt {
    font-weight: bold;
    margin-bottom: 5px;
  }

  dd {
    padding-left: 10px;
    margin-bottom: 15px;
  }
}
