@import "compass/css3";
@import "colors";
@import "mixins/hidpi";

body.guides, body.blog, body.api {
  p {
    margin: 1.5em 0;
    line-height: 1.5em;
    color: #0c0c0c;
  }

  sup {
    vertical-align: super;
    font-weight: 100;
    color: gray;
    font-size: 11px
  }

  code {
    font-family: Menlo, Courier, monospace;
    font-size: 90%;
    color: #666;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 3px;
    @include border-radius(5px);
  }

  .highlight { // jsbin includes
    margin-bottom: 20px;
  }

  h1 {
    font-size: 22px;
    color: $orange-color;
    padding: 0px 0px 3.5em 2em;
    background: no-repeat top left;
    @include hidpi('chapter-mark', 'png');

    &.api-header {
      padding-bottom: 0.5em;
    }
  }

  hr {
    height: 1px;
    border: none;
    margin: 40px 0;
    background-color: #dfd7d4;

    &:first-of-type {
      margin: 8px 0;
    }
  }

  dt {
    font-weight: bold;
    margin-bottom: 5px;
  }
  dd {
    padding-left: 10px;
    margin-bottom: 15px;
  }
}
