@import "compass";
@import "shared";

$border-radius: 5px;

$blue:   #1f58ce;
$gray:   #545454;
$textColor: #222;
$green:  #005f00;
$orange: #8f4a2c;

$highlight-yellow: #f8eec7;
$highlight-green: #E8F4E5;
$highlight-red: #ffecec;

body.guides .highlight {
  @include border-radius($border-radius);
  border: 1px solid #d1d1d1;
  color: $textColor;
}

#content .highlight {
  @include well;

  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  overflow: hidden;
  position: relative;

  .scroller {
    overflow: auto;
  }

  table {
    margin: 0 0;
  }

  .ribbon {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 52px;
    height: 20px;
  }

  &.javascript .ribbon, &.js .ribbon {
    @include hidpi('js-ribbon', png);
  }
  &.html .ribbon {
    @include hidpi('html-ribbon', png);
  }
  &.handlebars .ribbon {
    @include hidpi('handlebars-ribbon', png);
  }

  .highlight-line {
    display: inline-block;
    margin: 0 -10px;
    background-color: $highlight-yellow;
    border-right: $highlight-yellow solid 5px;
    border-left: $highlight-yellow solid 5px;
    box-sizing: content-box;

    &.added {
      border-color: $highlight-green;
      background-color: $highlight-green;
    }

    &.removed {
      border-color: $highlight-red;
      background-color: $highlight-red;
    }
  }

  .code .highlight-line {
    width: 613px;
    margin: 0 -13px;
    border-left-width: 13px;
    border-right-width: 13px;
  }

  .line-numbers .highlight-line {
    width: 28px;
    border-right-color: darken($highlight-yellow, 20%);

    &.added {
      border-right-color: darken($highlight-green, 20%);
    }

    &.removed {
      border-right-color: darken($highlight-red, 20%);
    }
  }
}

.CodeRay {
  width: 100%;
  td.line-numbers {
    width: 38px;
    text-align: center;
    border-right: 1px solid #d1d1d1;
    background-color: #f6f6f6;
    color: $gray;
    @include border-top-left-radius($border-radius);
    @include border-bottom-left-radius($border-radius);
  }

  td.code {
    padding: 8px 0 8px 13px;
  }

  /* HTML */

  .tag {
    color: $blue;
  }

  .comment {
    color: $green;
  }

  .attribute-name {
    color: $blue;
  }

  .content {
    color: darken($blue, 15%);
  }

  .string {
    color: $blue;
  }

  .keyword {
    color: $orange;
  }

  .key, .function {
    color: #2b1fce;
  }

  .local-variable {
    color: #1f58ce;
  }
}

.handlebars {
  .CodeRay {
    .inline {
      &,
      .inline-delimiter,
      .delimiter {
        color: lighten($green, 10%);
      }

      .attribute-name {
        color: $green;
      }
      .attribute-value,
      .content {
        color: darken($green, 10%);
      }
    }
  }
}
