@import "compass/css3";

pre, code {
  padding:0 3px 2px;
  font-size:12px;
  color:#333333;
  border-radius:3px;
}

.example-viewer .highlight {
  margin-top:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-top:0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.CodeRay td.line-numbers {
  border-top-left-radius:0;
}

.example-app p {
  margin-bottom: 20px;
}

.tabs {
    .tabs-footer { 
        display:block; padding:2px; background:#f7f7f7; 
        border:1px solid #ddd; border-top-color:#ccc; 
    }
    a {
        line-height: 18px;
        display:inline-block; //vertical-align:top; 
        position:relative; padding:6px 12px 5px 12px;
        color:#666; font-size:12px; text-decoration:none;
        border-top:1px solid #ddd; border-radius:5px;
        margin:0 8px -1px 0;
        &:first-child { margin-left:21px; }
        &:focus { outline:none; }
        background-color:#eee;
        &:hover, &.active { background-color:#f7f7f7; border-bottom:none; }
        &.active { border-bottom:1px solid #f7f7f7; border-bottom-left-radius:0;border-bottom-right-radius:0;}
        &:hover:before, &.active:before,
        &:hover:after, &.active:after { border-bottom-color:#bbb; background-color:#f7f7f7; }
        &.active:before, &.active:after { padding-bottom:1px; }
        
        &:before, &:after {
            content:''; display:block;
            position:absolute; top:-1px; z-index:0;
            height:100%; width:15px;
            background-color:#eee;
            border:1px solid #ddd;
            border-bottom:none;
        }
        
        &:before {
            right:-7px;
            border-left:none;
            @include transform(skew(27deg, 0deg));
            border-radius:0 5px 0 0;
            box-shadow:1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 white;
        }
        &:after {
            left:-7px;
            border-right:none;
            @include transform(skew(-27deg, 0deg));
            border-radius:5px 0 0 0;
            box-shadow:-1px 0 0 rgba(0,0,0,.1), inset 1px 0 white;
        }
        
        // reverse z-index natural ordering (works for 10 tabs max)
        &:nth-child(1)  { z-index:22; }
        &:nth-child(2)  { z-index:21; }
        &:nth-child(3)  { z-index:20; margin-left: 21px; }
        &:nth-child(4)  { z-index:19; }
        &:nth-child(5)  { z-index:18; }
        &:nth-child(6)  { z-index:17; }
        &:nth-child(7)  { z-index:16; }
        &:nth-child(8)  { z-index:15; }
        &:nth-child(9)  { z-index:14; }
        &:nth-child(10)  { z-index:13; }
        &:nth-child(11)  { z-index:11; }
        &:nth-child(12)  { z-index:10; }
        &:nth-child(13)  { z-index:9; }
        &:nth-child(14)  { z-index:8; }
        &:nth-child(15)  { z-index:7; }
        &:nth-child(16)  { z-index:6; }
        &:nth-child(17)  { z-index:5; }
        &:nth-child(18)  { z-index:4; }
        &:nth-child(19)  { z-index:3; }
        &:nth-child(20)  { z-index:2; }
        &:nth-child(21) { z-index:1; }
        &.active { z-index:100; }
    }
}

@mixin well {
  background-image: url('/images/code_background.gif');
  @include box-shadow(0 1px #ffffff, inset -1px 1px 4px rgba(0, 0, 0, 0.1));
}
