@import "compass/reset";
@import "compass";
@import "base";

body {
  background: url(/images/groovepaper.png);
  margin: 65px 0 0 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 65px;
  background: url(/images/black_linen_v2.png);
  @include single-box-shadow(rgba(0,0,0,0.5), 0, 2px, 2px, 0);

  #wrapper {
    width: 937px;
    margin: 0 auto;
    position: relative;
  }
}

#logo {
  position: absolute;
  top: 13px;
  width: 108px;
  height: 31px;
  background: url(/images/logo.png);
}

ul#nav {
  width: 400px;
  margin: 0 auto;
  text-align: center;

  li {
    line-height: 26px;
    margin: 20px 7px;
    float: left;

    a {
      color: #666;
      display: block;
      border-radius: 5px;
      padding: 0px 1em;
      height: 26px;
      line-height: 26px;
      text-decoration: none;
      border: 1px solid transparent;
    }

    display: inline;
  }

  li.active a, li a:hover {
    color: white;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.4);
  }
}

#content-wrapper {
  width: 937px;
  margin: 0 auto;
  position: relative;
}

#content {
  background-color: #fff;
  margin-top: 65px;
  width: 520px;
  padding: 1px 45px;
  margin: 0 auto;

  @include box-shadow(rgba(0,0,0,0.3) 0 0 3px 1px);
}

#sidebar {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.section {
}

h2 {
  margin: 28px 0;
  color: $base_color;
  font-size: 30px;
  font-weight: bold;
  padding-top: 13px;
}

h3 {
  font-size: 24px;
  margin: 20px 0 14px 0;
  color: $dark_base_color;
  font-weight: bold;
}

h2 + h3 {
  margin-top: -10px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}

p {
  font-size: 14px;
  margin: 14px 0 22px 0;
  line-height: 20px;
}

ol {
  font-size: 14px;
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 32px;

  li {
    margin: 7px 0;
  }
}

a {
  color: $complement_support_color;
}

#download {
  width: 460px;
  height: 125px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;

  #download-ember, #download-starter-kit {
    position: absolute;
    width: 220px;
    top: 40px;
    text-align: center;
  }

  #download-ember {
    left: 0;
  }

  #download-starter-kit {
    right: 0;
  }

  .info {
    margin-top: 4px;
    color: #888;
  }

  .debug {
    color: $base-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sticky {
  top: 0px;
  position: fixed;
  margin-left: -15px;
  width: 150px;
}

.toc {
  margin-right: 15px;
  text-align: right;
  padding-top: 1px;

  h3 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
  }

  a {
    font-size: 16px;
    text-decoration: none;
    color: #888;
    line-height: 21px;

    &:hover {
      border-bottom: 1px solid black;
      color: black;
    }
    &.active {
      color: black;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0px;

    li {
      margin: 7px 0;
    }
  }
}

.highlight {
  padding: 13px;
  @include border-radius(4px);
  background-color: rgba(50,50,50,0.1);
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  margin-bottom: 22px;
}

.screenshot {
  margin-left: -60px;
}
