@import "compass/reset";
@import "compass";
@import "base";
@import "fonts";

/* Defines the color for blocks of code or text
that should be displayed in a monospace font. */
$code_background: #f2f2f2;

/* Calculated page dimensions. */
$page_width: 940px;
$content_width: $page_width / 1.4;
$sidebar_width: $page_width - $content_width;
$padding: 20px;

$col_width: 40px;
$col_spacing: 20px;

@mixin width-for-columns($cols) {
  width: $cols * $col_width + ($cols - 1) * $col_spacing;
}

/* Calculate typography sizes. */
$ratio: 1.4;
$extra_small_font: 12px;
$small_font: $extra_small_font * $ratio;
$medium_font: $small_font * $ratio;
$large_font: $medium_font * $ratio;
$extra_large_font: $large_font * $ratio;

body {
  background: url(/images/background.png);
  margin: 65px 0 0 0;
  padding: 0;
  font-family: Lato, Arial, sans-serif;
  line-height: 23px;
  font-size: $extra_small_font;
}

* {
  @include box-sizing(border-box);
}

.clearfix {
  clear: both;
  line-height: 0;
  height: 0;
}

/**

  HEADER

**/
#header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background: url(/images/navigation_background.png);
  @include box-shadow(rgba(0,0,0,0.2) 0 2px 4px);

  #wrapper {
    width: $page_width;
    margin: 0 auto;
    position: relative;
  }

  #logo {
    position: absolute;
    top: 6px;
    width: 103px;
    height: 40px;
    background: url(/images/ember_logo.png);
  }

  #nav {
    width: 400px;
    height: 65px;
    margin: 0 auto;

    text-align: center;

    li {
      line-height: 26px;
      margin: 20px 0;

      a {
        font-family: "MavenProBold";
        font-size: 13px;
        text-transform: uppercase;
        color: #faf2ee;

        @include text-shadow(rgba(0,0,0,0.3) 0px 1px 0px);
        display: block;
        padding: 0px 1em;
        height: 26px;
        line-height: 26px;
        text-decoration: none;
        border: 1px solid transparent;
      }

      display: inline-block;
    }

    li.active a {
      color: #6f1b0b;
      @include text-shadow(rgba(255,255,255,0.16) 0 1px 0px);
      background-color: #bf4737;
      @include border-radius(3px);
      @include box-shadow(
        rgba(255, 255, 255, 0.15) 0 1px 0px,
        inset rgba(0, 0, 0, 0.17) 0 1px 1px
      );
    }

    li a:hover {
      color: #fff;
    }
  }
}

#content-wrapper {
  width: $page_width;
  margin: 0 auto 40px auto;
  padding: 20px 0px;
  position: relative;

  &.grid {
    background-image: url(/images/grid.png);
  }
}

$sidebar-width: $col_width * 4 + $col_spacing * 3;

#content {
  width: $page_width;

  &.has-sidebar {
    margin-left: $sidebar-width + $col_spacing;
    width: $page_width - $sidebar-width - $col_spacing;
  }
}

#sidebar {
  width: $sidebar-width;
  margin-top: 43px;
  position: absolute;
  font-family: "MavenProMedium";
  font-size: 14px;

  a {
    text-decoration: none;
    line-height: 21px;

    &:hover {
      border-bottom: 1px solid black;
      color: black;
    }

    &.active {
      color: black;
    }
  }

  ol {
    list-style-type: none;
    border-left: 3px solid #e3dddb;

    li {
      margin: 14px 0;
      padding-left: 8px;
      text-transform: uppercase;

      &:first-of-type {
        margin-top: 0;
      }

      &.level-3, &.level-4 {
        text-transform: none;
        padding-left: 20px;
        margin: 3px 0;
      }

      &:hover {
        border-left: 3px solid #491500;
        margin-left: -3px;

        a {
          border-bottom: none;
          color: #491500;
        }
      }

      a {
        display: block;
        color: #e1563f;
      }
    }
  }
}

/**
  About Page
**/
#download {
  width: 465px;
  height: 125px;
  margin: 0 auto;
  font-size: $extra_small_font;
  position: relative;

  #download-ember, #download-starter-kit {
    position: absolute;
    width: 220px;
    top: 40px;
    text-align: center;
  }

  #download-ember {
    left: 0;
  }

  #download-starter-kit {
    left: 240px;
  }

  .info {
    margin-top: 4px;
    color: #888;
  }

  .debug {
    color: $base-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section {
  margin: 90px 0;

  h2 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-family: "MavenProBold";
    margin-bottom: 28px;
  }
}

.getting-started.section {
  .highlight, p {
    float: left;
    width: $col_width * 7 + $col_spacing * 6;

    &.right {
      margin-left: $col_width * 2 + $col_spacing * 3;
    }
  }

  p {
    text-align: center;
    line-height: 20px;
    color: #222;
    font-size: 13px;
  }
}

.features.section {
  .feature {
    @include width-for-columns(4);
    float: left;
    margin-left: $col_width + $col_spacing;
    margin-right: $col_spacing;

    p {
      text-align: center;
    }
  }
}

.samples.section {
  .sample {
    float: left;
    position: relative;
    margin-left: $col_spacing;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    @include box-shadow(rgba(0,0,0,0.1) 0 2px 3px);
    @include border-radius(6px);
    @include width-for-columns(4);

    &:first-of-type {
      margin-left: 0;
    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0,0,0,0.85);
      -webkit-font-smoothing: antialiased;
      @include transition(opacity 0.1s linear);
      @include border-radius(6px);

      .name {
        text-align: center;
        color: white;
        font-family: MavenProMedium;
        font-size: 18px;
        margin-top: 55px;
        text-transform: uppercase;
      }

      .actions {
        text-align: center;
        margin-top: 16px;

        > div {
          display: inline-block;
          margin: 0 3px;
        }
      }
    }

    img {
      @include border-radius(6px);
    }

    &:hover .info {
      opacity: 1;
    }
  }
}

/**
  Documentation Page
**/

.chapter {
  margin: 43px 0 90px 0;

  $h3-indent: 32px;
  $body-indent: $h3-indent + 24px;

  h2 {
    width: 100%;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-family: "MavenProBold";
  }

  h3 {
    font-size: 16px;
    margin: 30px 0;
    text-transform: uppercase;
    padding-left: $h3-indent;
  }

  h4 {
    font-size: 16px;
    padding-left: $body-indent;
    margin: 24px 0;
    line-height: 23px;
  }

  p {
    color: #222;
    padding-left: $body-indent;
    font-size: 15px;
    margin: 24px 0;
    line-height: 23px;
  }

  .highlight {
    margin-left: $body-indent;
  }

  ul, ol {
    margin-left: $body-indent;
    list-style-type: disc;
    margin-bottom: 28px;

    li {
      font-size: 15px;
      margin: 10px 0 10px $body-indent+20px;
    }
  }
}

#footer {
  width: 940px;
  height: 41px;
  margin: 100px auto 60px auto;
  background-image: url(/images/footer.png);

  .info {
    font-family: "MavenProBold";
    text-align: center;
    width: 184px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 5px;

    .links {
      a {
        color: #e1563f;
        text-decoration: none;
        margin: 0 7px;
      }
    }

    .copyright {
      margin: 12px 0;
    }
  }
}

a {
  color: $complement_support_color;
}

.screenshot {
  margin-left: -60px;
}

/**
  Buttons
*/

.button {
  display: block;
  width: 226px;
  height: 46px;
  font-family: "MavenProBold";
  text-transform: uppercase;
  text-decoration: none;
  line-height: 47px;
  font-size: 14px;
  color: #f6ece8;
  @include text-shadow(rgba(0,0,0,0.3) 0 1px 0);

  &.orange {
    background-image: url(/images/orange_buttons.png);

    &:hover {
      background-position: 0 -46px;
    }

    &:active {
      background-position: 0 -92px;
      @include text-shadow(rgba(0,0,0,0.3) 0 -1px 0);
    }
  }

  &.black {
    background-image: url(/images/black_buttons.png);

    &:hover {
      background-position: 0 -46px;
    }

    &:active {
      background-position: 0 -92px;
      @include text-shadow(rgba(0,0,0,0.3) 0 -1px 0);
    }
  }

  &:hover {
    background-position: 0 -46px;
  }

  &:active {
  }
}

.small-button {
  width: 74px;
  height: 22px;

  font-family: "MavenProMedium";
  color: #fff;
  line-height: 24px;
  text-transform: uppercase;
  @include text-shadow(rgba(0,0,0,0.3) 0 1px 0);

  &.orange {
    background-image: url(/images/small-orange-button.png);
  }

  &.black {
    background-image: url(/images/small-black-button.png);
  }
}

/**
  About Page
*/

.about-header-text {
  display: block;
  margin: 60px auto 0 auto;
}
