@import "compass";
@import "compass/reset";
@import "compass/typography/text/ellipsis";

@import "fonts";

/* Calculated page dimensions. */
$page-width: 940px;

$col-width: 40px;
$col-spacing: 20px;

$orange-color: #e1563f;
$blue-color: #1f58ce;
$black-color: #252525;

@mixin width-for-columns($cols) {
  width: $cols * $col-width + ($cols - 1) * $col-spacing;
}

body {
  background: url(/images/background-shades.png) no-repeat top center #faf4f1;
  margin: 65px 0 0 0;
  padding: 0;
  font-family: Lato, Arial, sans-serif;
  line-height: 23px;
  font-size: 13px;
  line-height: 20px;
  min-width: $page-width;
}

* {
  @include box-sizing(border-box);
}

a {
  color: $orange-color;
  text-decoration: none;
}

p {
  margin: 24px 0;
}

em {
  font-style: italic;
}

code {
  font-family: Menlo, Courier, monospace;
  font-size: 90%;
  color: #666;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px;
  @include border-radius(5px);
}

h1 {
  font-size: 32px;
  margin-bottom: 32px;
  line-height: 40px;
}

strong {
  font-weight: bold;
}

hr {
  height: 1px;
  border: none;
  margin: 40px 0;
  background-color: $black-color;
}

/**
  Tabs
**/

.tabs {
  > ul {
    list-style: none;
    overflow: hidden; // Clearfix

    li {
      display: block;
      float: left;
      padding-right: 10px;
      margin-right: 10px;
      border-right: solid 1px gray;
    }

    border-bottom: solid 1px gray;
    margin-bottom: 20px;
  }
}

/**
  Header
**/
#header {
  position: absolute;
  width: 100%;
  min-width: $page-width;
  top: 0;
  height: 60px;
  background: url(/images/navigation_background.png) top center;
  border-bottom: 1px solid #aa412f;
  @include box-shadow(rgba(0,0,0,0.3) 0 0 3px);

  #wrapper {
    width: $page-width;
    margin: 0 auto;
    position: relative;
  }

  #logo {
    position: absolute;
    left: 7px;
    top: 6px;
    width: 103px;
    height: 40px;
    background: url(/images/ember_logo.png);
    @include filter(drop-shadow(rgba(0,0,0,0.3) 0 1px 2px));

    &:hover {
      @include filter(drop-shadow(rgba(0,0,0,0.7) 0 1px 3px));
    }
  }

  #nav {
    width: 500px;
    height: 65px;
    margin: 0 auto;

    text-align: center;

    li {
      line-height: 26px;
      margin: 18px 0 0;
      display: inline-block;

      a {
        font-family: "MavenProBold";
        font-size: 13px;
        text-transform: uppercase;
        color: #faf2ee;

        @include text-shadow(rgba(0,0,0,0.3) 0px 1px 0px);
        display: block;
        padding: 0px 1em;
        height: 26px;
        line-height: 26px;
        text-decoration: none;
        border: 1px solid transparent;

        &:hover { color: #fff }
      }

      &.active a {
        color: #331915;
        @include text-shadow(rgba(255,255,255,0.2) 0 1px 0px);
        background-color: #bf4737;
        background-color: rgba(0,0,0,0.2);
        @include border-radius(3px);
        border: 1px solid #923c2e;
        @include box-shadow(
          rgba(255, 255, 255, 0.15) 0 1px 0px,
          inset rgba(0, 0, 0, 0.17) 0 1px 1px
        );

        &:hover {
          color: black;
          background-color: rgba(0,0,0,0.17);
        }
      }

    }
  }

  #github {
    position: absolute;
    right: 7px;
    top: 17px;

    a {
      img {
        float: left;
        margin-top: 7px;
        margin-right: 6px;
        display: block;
      }

      font-family: "MavenProBold";
      font-size: 12px;
      text-transform: uppercase;
      color: #faf2ee;
      @include text-shadow(rgba(0,0,0,0.3) 0px 1px 0px);

      display: block;
      padding: 0px 1em;
      height: 28px;
      line-height: 28px;

      background-color: #ff6e56;
      @include filter-gradient(#ff6e56, #ed4f35, vertical);
      @include background-image(linear-gradient(top, #ff6e56 0%,#ed4f35 100%));

      border: 1px solid #a93926;
      @include border-radius(4px);
      @include box-shadow(
        inset rgba(255,255,255, 0.17) 0 1px 1px
      );

      &:hover {
        color: #fff;
        background: #f86c55;
      }
    }
  }
}

#content-wrapper {
  @include clearfix;
  width: $page-width;
  margin: 0 auto 40px auto;
  padding: 20px 0px;
  position: relative;

  &.grid {
    background-image: url(/images/grid.png);
  }
}

$sidebar-width: $col-width * 4 + $col-spacing * 3;
$content-width: $page-width - $sidebar-width - $col-spacing * 2;

#content {
  width: $page-width;

  &.has-sidebar {
    margin-left: $sidebar-width + $col-spacing * 2;
    width: $content-width;
  }

  & > h1:first-child {
    margin-top: 43px;
  }
}

#sidebar {
  float: left;
  width: $sidebar-width;
  margin-top: 43px;
  font-family: "MavenProMedium";
  font-size: 14px;

  #back-to-top {
    text-align: center;
    opacity: 0;
    @include transition(opacity 0.05s linear);
  }

  a {
    text-decoration: none;
    line-height: 21px;
    border-bottom: none;
    color: $orange-color;

    &:hover {
      color: $black-color;
    }

    &.active {
      color: $black-color;
    }
  }

  ol {
    list-style-type: none;

    li {
      margin: 14px 0;

      &:first-of-type {
        margin-top: 0;
      }

      &.level-1, &.level-2 {
        a {
          font-family: "MavenProBold";
          color: $black-color;
        }
      }

      &.level-3, &.level-4 {
        font-family: "Lato";
        font-size: 13px;
        text-transform: none;
        margin: 2px 0;
      }

      &:hover {
        a {
          color: #491500;
        }
      }

      a {
        display: block;
      }
    }
  }

  h2 {
    font-family: "MavenProBold";
    color: $black-color;
    margin-bottom: 10px;
  }

  ul li {
    font-family: "Lato";
    font-size: 13px;
    text-transform: none;
    margin: 2px 0;
  }
}

/**
  About Page
**/
.about-header-text {
  display: block;
  margin: 60px auto 0 auto;
}

#download {
  width: 465px;
  height: 125px;
  margin: 0 auto;
  position: relative;

  #download-ember, #download-starter-kit {
    position: absolute;
    width: 220px;
    top: 40px;
    text-align: center;
  }

  #download-ember {
    left: 0;

    .button {
      font-size: 13px; /* Due to long version name */
    }
  }

  #download-starter-kit {
    left: 240px;
  }

  .info {
    margin-top: 4px;
    color: #888;
  }
}

.section {
  margin: 60px 0;
  overflow: hidden;

  h2 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: $black-color;
    text-transform: uppercase;
    font-family: "MavenProBold";
    margin-bottom: 28px;
  }

  h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "MavenProBold";
  }

  table.columns {
    margin: 0 auto;

    td {
      vertical-align: top;
      padding-right: 50px;
    }
  }
}

.getting-started.section {
  .highlight, p {
    float: left;
    width: $col-width * 8 + $col-spacing * 6;

    &.right {
      margin-left: $col-width * 1 + $col-spacing * 1;
    }
  }

  p {
    text-align: center;
    color: #222;
  }
}

.features.section {
  @include clearfix;

  .feature {
    @include width-for-columns(4);
    float: left;
    margin-left: $col-width + $col-spacing;
    margin-right: $col-spacing;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    p {
      text-align: center;
    }
  }
}

.users.section {

  .surround {
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 #fff);
    @include clearfix;
    background: url('/images/about/carousel_bg.png');
    border: 1px solid #d1d1d1;
    padding-top: 19px;

    .bx-wrapper,
    .bx-window {
      width: 940px;
    }

    .bx-wrapper {

      .bx-prev,
      .bx-next {
        background: url('/images/about/carousel_controls.png') no-repeat;
        float: left;
        height: 28px;
        width: 30px;
      }

      .bx-prev,
      .bx-next,
      .pager-link {
        text-indent: -9999px;
      }

      .bx-prev {
        background-position: left;
        border-right: 1px solid #d1d1d1;
        float: right;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .bx-next {
        background-position: right;
        border-left: 1px solid #d1d1d1;
        float: right;
        position: absolute;
        bottom: 0;
        right: 1px;
      }

      .bx-window {
        border-bottom: 1px solid #d1d1d1;
        height: 124px;
      }

      .bx-pager {
        @include clearfix;
        background: url('/images/about/carousel_pager_bg.png') bottom repeat-x #f4f4f4;
        border-left: 1px solid #fafafa;
        border-right: 1px solid #fafafa;
        border-top: 1px solid #fefefe;
        font-size: 0;
        height: 28px;
        line-height: 0;
        margin: 0 29px;
        padding-top: 9px;
        text-align: center;

        .pager-link {
          background: url('/images/about/carousel_dots.png') 0 0 no-repeat;
          height: 11px;
          width: 10px;
          margin-left: 10px;
          display: inline-block;

          &.pager-active,
          &.pager-active:hover {
            background-position: -22px 0;
          }

          &:hover {
            background-position: -11px 0;
          }

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }

  .user {
    position: relative;
    float: left;
    width: 230px;

    &.empty {
      display: block;
      height: 210px;
      visibility: hidden; // Take up space, but be invisible
    }

    a {
      @include border-radius(4px);
      @include box-shadow(0 1px 2px rgba(0,0,0,0.1));
      background: url('/images/about/user_bg.png') no-repeat;
      display: block;
      height: 103px;
      margin-left: 20px;
      width: 210px;
    }
  }

  p {
    text-align: center;
  }

  #listed {
    float: left;
    margin-left: $col-width * 9;
    text-align: center;
  }
}

.gears.section {
  .gear {
    text-align: center;
    height: 120px;

    .gearplus {
      padding: 0px 30px 0px 30px;
      display: inline;
      line-height: 120px;
      img {
        vertical-align: top;
        padding-top: 50px;
      }
    }
  }
}


.samples.section {
  .sample {
    float: left;
    position: relative;
    margin-left: $col-spacing;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    @include box-shadow(rgba(0,0,0,0.1) 0 2px 3px);
    @include border-radius(6px);
    @include width-for-columns(4);

    &:first-of-type {
      margin-left: 0;
    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0,0,0,0.85);
      -webkit-font-smoothing: antialiased;
      @include transition(opacity 0.1s linear);
      @include border-radius(6px);

      .name {
        text-align: center;
        color: white;
        font-family: MavenProMedium;
        font-size: 18px;
        margin-top: 55px;
        text-transform: uppercase;
      }

      .actions {
        text-align: center;
        margin-top: 16px;

        > div {
          display: inline-block;
          margin: 0 3px;
        }
      }
    }

    img {
      @include border-radius(6px);
    }

    &:hover .info {
      opacity: 1;
    }
  }
}

/**
  Documentation Page
**/

.chapter {
  margin: 43px 0 90px 0;

  $h3-indent: 32px;
  $body-indent: $h3-indent;

  h2 {
    width: 100%;
    font-size: 18px;
    color: $black-color;
    text-transform: uppercase;
    font-family: "MavenProBold";
  }

  h3 {
    font-family: "MavenProBold";
    font-size: 18px;
    color: $orange-color;
    margin: 30px 0;
  }

  h4 {
    font-family: "MavenProBold";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 24px 0 12px 0;
    line-height: 18px;
  }

  p {
    color: #222;
    font-size: 15px;
    line-height: 22px;
  }

  ul, ol {
    margin-left: $body-indent;
    list-style-type: disc;
    margin-bottom: 28px;

    li {
      font-size: 15px;
      margin: 10px 0 10px 0;

      p {
        padding-left: 7px;
      }
    }
  }
}

/**
  Guides and Blogs
**/

ul#guide_list {
  margin-left: 30px;
  list-style-type: disc;
  margin-bottom: 28px;

  li {
    font-size: 15px;
    margin: 10px 0 10px 0;

    p {
      padding-left: 7px;
    }
  }
}

article {
  margin: 43px 0 90px 0;

  $h3-indent: 0;
  $body-indent: $h3-indent;

  figure {
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
  }

  img {
    display: block;
    margin: 0 auto;
    background-color: white;
    max-width: 100%;
    /*max-width: $content-width;*/
  }

  table.figure {
    float: left;
    margin-bottom: 20px;

    & + table.figure {
      margin-left: 20px;
    }

    & + table.figure + * {
      clear: left;
    }

    th, td {
      padding: 5px 10px;
    }

    thead th {
      font-weight: bold;
      border-bottom: 2px solid $orange-color;
    }

    tbody td {
      border-bottom: 1px solid lighten($orange-color, 20%);
    }
  }

  h2 {
    margin: 50px 0 0 0;
    width: 100%;
    font-size: 24px;
    color: $black-color;
    text-transform: uppercase;
    font-family: "MavenProBold";
  }

  :not(h2) + h3 {
    margin-top: 50px;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0;
    text-transform: uppercase;
    padding-left: $h3-indent;
  }

  h4 {
    font-size: 16px;
    padding-left: $body-indent;
    margin: 24px 0;
    line-height: 23px;
  }

  p {
    color: #222;
    padding-left: $body-indent;
    font-size: 15px;
    line-height: 23px;
  }

  .highlight {
    margin-left: $body-indent;
  }

  ul, ol {
    margin-left: $body-indent;
    margin-bottom: 28px;

    li {
      font-size: 15px;
      margin: 10px 0 10px $body-indent+20px;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}


/**
  Community Page
**/

.community.section {
  margin-left: ($col-width * 3 + $col-spacing * 3);
  margin-right: ($col-width * 3 + $col-spacing * 3);
}

.community ul.blogs {
  li {
    margin-bottom: 10px;

    a {
      font-weight: bold;
    }
  }
}

#footer {
  margin-top: 60px;
  padding: 25px 0;
  border-top: 1px solid #e5dbd6;
  background-color: #f2ece9;
  overflow: hidden;
  font-family: "MavenProBold";

  #footer-wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative;
    @include clearfix;
  }

  .info {
    width: 200px;
    color: #717171;
    text-transform: uppercase;
    font-size: 10px;
    float: left;

    a {
      color: $orange-color;
      text-decoration: none;
    }
  }

  .statement {
    font-size: 14px;
    color: #bbb;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    left: 200px;
    right: 200px;
    top: 10px;
  }

  .links {
    width: 200px;
    text-align: right;
    float: right;

    a {
      margin: 0 10px;
    }
  }

  .twitter, .github, .googleplus {
    background: no-repeat url(/images/footer-links.png);
    height: 35px;
    width: 35px;
    display: inline-block;
    text-indent: 9999px;
    overflow: hidden;
  }

  .twitter { background-position: 0 2px }
  .github { background-position: -59px 2px }
  .googleplus { background-position: -119px 2px }

}



.screenshot {
  margin-left: -60px;
}

/**
  Buttons
*/

.button {
  display: block;
  width: 226px;
  height: 46px;
  font-family: "MavenProBold";
  text-transform: uppercase;
  text-decoration: none;
  line-height: 47px;
  font-size: 14px;
  color: #f6ece8;
  @include text-shadow(rgba(0,0,0,0.3) 0 1px 0);

  &.orange {
    background-image: url(/images/orange_buttons.png);

    &:hover {
      background-position: 0 -46px;
    }

    &:active {
      background-position: 0 -92px;
      @include text-shadow(rgba(0,0,0,0.3) 0 -1px 0);
    }
  }

  &.black {
    background-image: url(/images/black_buttons.png);

    &:hover {
      background-position: 0 -46px;
    }

    &:active {
      background-position: 0 -92px;
      @include text-shadow(rgba(0,0,0,0.3) 0 -1px 0);
    }
  }

  &:hover {
    background-position: 0 -46px;
  }

  &:active {
  }
}

.small-button {
  width: 74px;
  height: 22px;

  font-family: "MavenProMedium";
  color: #fff;
  line-height: 24px;
  text-transform: uppercase;
  @include text-shadow(rgba(0,0,0,0.3) 0 1px 0);

  &.orange {
    background-image: url(/images/small-orange-button.png);
  }

  &.black {
    background-image: url(/images/small-black-button.png);
  }
}


/**
  API
**/

body.api {
  #sidebar {
    h3 {
      font-weight: bold;
      margin: 0 0 20px;
    }

    h2 {
      margin: 10px 0;
    }

    ul {
      li {
        font-family: "MavenProBold";
      }
    }
  }

  #content {
    position: relative;
    padding-top: 43px;

    #api-options {
      position: absolute;
      top: 0;
      right: 0;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0;
    }

    h3 {
      font-size: 16px;
    }

    .class-info {
      margin-bottom: 50px;

      p {
        margin: 0;
      }
    }

    .description {
      margin: 50px 0;
    }

    ul.index-list {
      overflow: hidden; // Clearfix

      li {
        float: left;
        width: 160px;
        padding-right: 10px;
        display: block;
        overflow: hidden;
        @include ellipsis;
      }
    }

    div.method, div.property, div.event {
      padding-bottom: 15px;
      border-bottom: solid 1px gray;
      margin-bottom: 30px;
    }

    h3.name code {
      background-color: transparent;
      color: black;
      padding: 0;
      font-weight: bold;
    }

    span.flag {
      background-color: gray;
      color: white;
      border-radius: 3px;
    }
  }
}
