@import "bourbon";
@import "base/variables";
@import "mixins/hidpi";

.survey-wrapper {
  padding: 40px 0;
  text-align: center;
  background: $white;
}

@media screen and (max-width: 360px) {
  .survey-wrapper {
    padding: 50px 0;
  }
}

.survey-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.survey-wrapper {
  color: #747474;
  padding-left: 10px;
  padding-right: 10px;

  p {
    line-height: 1.8;
  }
}

.survey-wrapper-header {
  background: #fff;
  background: url('/images/survey/bg.jpg') repeat;
  background-size: cover;
}

.survey-wrapper.survey-wrapper-center {
  text-align: center;
}

.survey-h1 {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;

  img {
    max-width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .survey-h1 {
    margin-top: 0px;
  }
}

.survey-button:link, .survey-button:visited {
  margin-top: 20px;
  margin: auto;
}

.survey-border-top {
  border-top: 1px solid #e5dbd6;
}
.survey-button:hover, .survey-button:active {
  // background: #2C92AD;

  img {
    margin-left: 10px;
  }
}

.survey-image {
  max-width: 100%;
}

.survey-row {
  @include clearfix;
}

.survey-column {
  width: 33%;
  padding: 10px;
  float: left;
  margin-top: 18px;
}

.survey-column.half {
  width: 50%;
  float: left;
  margin-top: 18px;
}

@media screen and (max-width: 760px) {
  .survey-column.survey-column { /* specificity hack */
    width: 100%;
    float: none;
  }
}
.survey-credits {
   img {
    width: 500px;
    max-width: 100%;
    margin: -1em auto;
  }
}

.survey-tagline {
  margin: 20px 0 40px;
}

.survey-h2,
a.survey-h2:link,
a.survey-h2:visited {
  position: relative;
  color: #252525;
  // font-family: 'Maven Pro';
  font-weight: bold;
  line-height: 1.2;
  font-size: 28px;
}

a.survey-h2:hover:after,
a.survey-h2:active:after {
  font-family: 'fontello';
  content: '\e802';
  position: absolute;
  top: 0;
  right: 100%;
  padding: 0 0.3em;
  color: #cccccc;
}


@media screen and (max-width: 460px) {
  .survey-h2 {
    font-size: 22px;
  }
}

.survey-footer {
  margin: auto;
  margin-bottom: 60px;
}

// Force layout.erb to play nice
// with survey design
.survey-wrapper ~ #content-wrapper {
  display: none;
}

.survey-wrapper ~ .footer{
  margin-top: 0;
}

.survey-wrapper {
  p.large,
  p.quote {
    line-height: 1.6;
    font-size: 18px;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4em;
  }

  .quote {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;

    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }
}

.cluster {
  padding: 10px 24px 24px;
  margin: 12px 0;
  background-color: #f5f2f0;

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .quote {
    font-size: 18px;
    font-style: normal;
    color: #252525;
  }
}

.nps-cell {
  font-size: 18px;
  background-color: #f5f2f0;
  flex: 1;
  padding: 4px;
  margin: 5px;
}

.nps-row {
  width: 100%;
  display: flex;

  .nps-cell:first-child {
    margin-left: 0;
  }

  .nps-cell:last-child {
    margin-right: 0;
  }
}

.nps-cell-header {
  background-color: $white;
  font-weight: bold;
}
