<% @title = chapter_name %>

<% wrap_layout :layout do %>
  <% content_for :sidebar do %>
    <div id="guide_search">
    <!-- TODO: search form here -->
    <label><input placeholder="search ember docs..."></label>
    <button></button>
    </div>
    <%= guides_index %>
  <% end %>

  <div class="chapter">
    <%= chapter_heading %>
    <%= yield %>
  </div>

  <script>
  $("#guide_list .level-1 > a").click(function() {
        $(this).parent().find('> ol').stop().slideToggle();
        return false;
  });

  (function(){
    var prev = $(".level-3.active").prev();
    var next = $(".level-3.active").next();
    $(".chapter").append("<div class='nav-prev'>"+(prev.length ? prev.html() : '')+"</div><div class='nav-next'>"+(next.length ? next.html() : '')+"</div>");
  }());
  </script>
<% end %>
