<%
@title = chapter_name
@title = "Guides" if chapter_name.blank?
%>

<% wrap_layout :layout do %>
  <% content_for :sidebar do %>
    <%#<div id="guide_search">%>
    <%#[> TODO: search form here <]%>
    <%#<label><input placeholder="search ember docs..."></label>%>
    <%#<button></button>%>
    <%#</div>%>
    <%= guides_index %>
  <% end %>

  <div class="chapter">
    <%= chapter_heading %>
    <%= yield %>
  </div>

  <script>
    $("#guide_list .level-1 > a").click(function() {
      $(this).parent().find('> ol').slideToggle(function() {
        positionBackToTop(true);
      });

      return false;
    });
  </script>
<% end %>
