---
title: "Tomster FAQ"
---

<h1>Tomster FAQ</h1>

<div class="tomster-faq section faq">
  <div class="left-col">
    <h3>Can I use an octocat on my website?</h3>
    <p>Maybe! It depends on how you plan to use it. If you are using it to refer to GitHub, such as a link to GitHub that says "Check me out on :octocat:," that is perfectly fine. However, if you're using the octocat to refer to a product that is not GitHub, then that is not considered fair use. This goes for all usage situations including but not limited to applications, print material, and websites.</p>

    <h3>Can I use an octocat as my app logo or icon?</h3>
    <p>Since the Octocat is a registered trademark of GitHub, using an Octocat as your logo or icon is not allowed.</p>

    <h3>Can I use an octocat as my avatar?</h3>
    <p>You can use an octocat as your personal avatar, but not for your company or a product you're building. You are welcome to show your <3 for GitHub, but not appear as if you == GitHub.</p>

    <h3>Can I submit an octocat to the Octodex?</h3>
    <p>We make quite a few octocats here at GitHub. Since they probably wouldn't be seen by more than a few people internally, we created the Octodex as a way to show them to the world. Everything on this list is official GitHub artwork and is under GitHub's trademark license, so we only include submissions from people affiliated with GitHub.</p>

    <h3>Can I create a product containing an octocat?</h3>
    <p>You may not use an octocat, created by GitHub or by you, for products or merchandise without written permission from GitHub. This includes, but is not limited to t-shirts, toys, stickers, etc.</p>

    <h3>Do all the octocats have a purpose?</h3>
    <p>Not all of them. The original list was comprised entirely of octocats that were used for legitimate purposes, but over time the list began to fill up with nonsense. By the time memes started to make their way onto the list, we knew it was hopeless to try to keep them all practical.</p>

    <hr>

    <p><strong>Legal speak:</strong></p>
    <p>GITHUB速, the GITHUB速 logo design, OCTOCAT速 and the OCTOCAT速 logo design are exclusive trademarks registered in the United States by GitHub, Inc. The OCTOCAT design is the exclusive property of GitHub, Inc and has been federally registered with the United States Copyright Office. All rights reserved. No adaptation or use of any kind of any of our registered trademarks or copyrights, or any other contents of this website, is allowed without the express written permission of GitHub, Inc. For more information regarding the authorized uses of these items please contact GitHub support.</p>
  </div>
  <div class="right-col">
    <img src="/images/tomster-faq.png" width="95%">
  </div>
</div>