---
title: "Tomster FAQ"
responsive: true
---

<h1>Tomster FAQ</h1>

<div id="back-to-top"><a id="back-top-top" href="#">&#11014; Back to Top</a></div>

<div class="tomster-faq section faq">
  <div class="left-col">
    <ol id="faq-questions">
      <li><a href="#product">Can I use the Tomster for my product/website/company/etc.?</a></li>
      <li><a href="#avatar">Can I use it for my avatar/Twitter photo/OKCupid headshot/etc?</a></li>
      <li><a href="#make">Can you make a Tomster that looks like [insert thing here]?</a></li>
      <li><a href="#own">Can I make my own Tomster?</a></li>
      <li><a href="#modify">Can I modify the Tomster?</a></li>
      <li><a href="#trademark">Do you own the Trademark to Ember and the Tomster?</a></li>
      <li><a href="#original">Who designed the original Tomster?</a></li>
    </ol>

    <hr>

    <h3 id="product">Can I use the Tomster for my product/website/<br>company/user group/conference/etc.?</h3>
    <p>The Tomster is a registered trademark, and more importantly, a big part of our identity! He may not be used for any unofficial purposes without us granting a specific license.</p>
    <p>There are different processes whereby companies, community efforts and user groups can commission specific Tomsters and be granted license to use them. It’s affordable and easy, though we’re picky about approvals. <a href="/tomster/commission">To tell us more about your request, reach out</a>.</p>

    <h3 id="avatar">Can I use it for my avatar/Twitter photo/<br>OKCupid headshot/etc?</h3>
    <p>See the previous question as well. Please do not use the Tomster for anything without specific permission. Besides: you’re lovely! And also (probably) not a hamster. You can find something better &lt;3</p>

    <h3 id="make">Can you make a Tomster that looks like [insert thing here]?</h3>
    <p>Maybe! Ember is an open source project with little by way of funding, so for now, Tomsters are made as they’re needed, rather than any time a fun idea comes up (because trust us, there are LOTS of good ideas!). You’re welcome to toss us a note with an idea or request, but for right now, assume they’re designed by necessity or commissions only.</p>

    <h3 id="own">Can I make my own Tomster?</h3>
    <p>A big friendly and polite… absolutely not :p The Tomsters are all made in-house by a small number of official Tomster Designers we work directly with and trust to help us keep the brand and image in the right place. We’re very protective of him; please don’t customize, manipulate or otherwise commandeer our identity and assets.</p>

    <h3 id="modify">Can I modify the Tomster?</h3>
    <p>Alas, you may not. This includes adding things to any of the illustrations, photoshopping them with other images, adding logos, removing parts, etc.</p>

    <h3 id="trademark">Do you own the Trademark to Ember and the Tomster?</h3>
    <p>We do indeed!</p>

    <h3 id="original">Who designed the original Tomster?</h3>
    <p>The Tomster was originally designed by the fabulous <a href="http://lindsey.io/">Lindsey Wilson</a>, as part of a set of illustrations we had made for the first Ember website. From there he rapidly grew into the iconic Tomster you know today :) Lindsey has also designed something like 90% of the other Tomsters in existence.</p>
    <p><a href="mailto:hello@emberjs.com">Contact Leah</a> for any Tomster-related questions or commission requests. If you want to hire Lindsey for non Ember related work, please do! She’s great. Really.</p>
  </div>
  <div class="right-col">
    <img src="/images/tomster-faq.png" width="95%">
  </div>
</div>

<script src="/javascripts/app/tomster/faq-questions.js"></script>
