---
title: "Tomster Commission Payment"
---

<h1>Tomster Commission Payment</h1>

<div class="tomster-payment section">
  <div class="left-col">
    <p>Thanks much! Looking forward to getting to work :)</p>
    <p><a href="/tomster">&larr; Back to the other Tomsters</a>
  </div>
</div>