
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-fork:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-gplus:before { content: '\e807'; } /* '' */