@import 'bourbon';
@import 'base/variables';

.button {
  background-color: $orange;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.35);
  color: $white;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  width: 220px;
  
  &:hover, &:focus {
    background-color: $orange-darker;
    border-bottom: none;
    box-shadow: 0px 2px 4px -1px #666;
    color: $white;
    text-decoration: none;
    transform: translateY(-1px);
    transition: 0.3s translateY;
  }

  &.black {
    &:hover {
      background-position: 0 -46px;
      border-bottom: none;
    }

    &:active {
      background-position: 0 -92px;
      text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
    }
  }
}

.small-button {
  width: 74px;
  height: 22px;
  font-weight: normal;
  color: #ffffff;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
}

.button-hero {
  margin: 30px auto;
}

a.edit-page {
  font-size: 18px;
  color: #444;
  margin: 0;
  width: 24px;
  height: 18px;
  display: inline-block;
  float: right;
  overflow: hidden;
  opacity: 0.4;

  &:hover {
    opacity: 1;
    border-bottom: 0;
  }
}
