@import "base/variables";
@import "base/typography";

.call-to-action {
  background-color: $white;
  margin: 3em auto;
  max-width: 90%;
  text-align: center;

  a {
    background-color: $white;
    border-radius: 7px;
    border: 1px $orange-darker solid;
    color: $orange-darker;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.5em 1em;
    text-transform: uppercase;

    &:hover {
      color: $white;
      background-color: $orange-darker;
      cursor: pointer;
    }
  }
}
.call-to-action__box {
  box-shadow: 0 0 4px 1px #DDDDDD;
}

.call-to-action__top {
  padding: 1em;
  padding-bottom: 2em;

  h1 {
    padding-bottom: 0;
    color: #4d4d4d;
    text-transform: none;
  }

  .cta-copy {
    width: 80%;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.5;
  }
}

.call-to-action__bottom {
  // display: none;
  background-color: $orange;
  color: $white;
  font-family: monospace;
  line-height: 0.5;
  margin: 0;
  overflow: hidden;
  padding-left: 2em;
  text-align: left;
}

@media screen and (min-width: $screen-sm-min) {
  .call-to-action {
    border-radius: 10px;
    width: 425px;
  }

  .call-to-action__box {
    border-radius: 10px;
  }

  .call-to-action__top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h1 {
      font-size: 2.5em;
      margin-top: 1rem;
      // padding-bottom: 0.5rem;
    }
  }

  .call-to-action__bottom {
    display: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}
