@import "../variables";

.call-to-action {
  background-color: white;
  margin: 3em auto;
  text-align: center;

  a {
    color: #D0351A;
    border: 1px #DDD solid;
    font-size: 0.7rem;
    border-radius: 7px;
    background-color: white;
    text-transform: uppercase;
    padding: 0.5rem;

    &:hover {
      color: white;
      background-color: #D0351A;
    }
  }
}

.call-to-action__box {
  box-shadow: 0 0 4px 1px #DDDDDD;
}

.call-to-action__top {
  padding: 1em;
  padding-bottom: 2em;

  h1 {
    padding-bottom: 0;
    color: #666;
    text-transform: capitalize;
  }

  .cta-copy {
    width: 80%;
    margin: 0 auto;
  }
}

.call-to-action__bottom {
  display: none;
  margin: 0;
  padding-left: 2em;

  background-color: #E46651;
  color: white;

  font-family: monospace;
  text-align: left;
  line-height: 0.5;
  overflow: hidden;
}

@media screen and (min-width: $screen-sm-min) {
  .call-to-action {
    border-radius: 10px;
    width: 350px;
  }

  .call-to-action__box {
    border-radius: 10px;
  }

  .call-to-action__top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h1 {
      margin-top: 1rem;
      padding-bottom: 0.5rem;
    }
  }

  .call-to-action__bottom {
    display: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}
