@import "base/variables";
@import "mixins/hidpi";

.emberconf-callout {
  text-align: center;
  margin: 40px auto;

  .image {
    max-width: 500px;
    margin: 0 auto;
    img {
      margin-top: -50px;
    }
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      $image-height: 384;
      $image-width: 1040;
      padding-bottom: ($image-height / $image-width) * 100%;
      background-image: url('../images/about/emberconf-2019-collage.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  h2 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  p {
    margin-top: 5px;
  }

  .ember-button {
    width: 260px;
    margin-top: 30px;
  }
}
