body.logos_index.responsive > #content-wrapper {
  padding: 3em 1rem 1em;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

body.logos_index.responsive #content {
  width: 90%;
}

@media screen and (max-width: 460px) {
  body.logos_index.responsive > #content-wrapper {
    padding: 2em 0 1em;
  }
}
