body.security.responsive > #content-wrapper {
  padding: 3em 1rem 1em;
  width: auto;
  max-width: 960px;
  margin: 0 auto;
}

body.security.responsive #content {
  width: auto;
}

@media screen and (max-width: 460px) {
  body.security.responsive > #content-wrapper {
    padding: 2em 1em 1em 1em;
  }
}
