{{#if model.filesPresent }}
  {{#each projects as |project|}}
    <div class="files-table">
      {{partial 'filesTable'}}
    </div>
  {{/each}}
{{ else }}
  <br/>
  {{#if model.isLoading}}
    <p class="loading-spinner">
      Loading...<br/><br/>
      <img src="/images/ajax-loader.gif" width="31" height="31" />
    </p>
  {{else}}
    <p>There are currently no builds for {{model.title}}. Please check back soon.</p>
  {{/if}}
{{/if}}
