{{#if filesPresent }}
  {{#each project in projects}}
    {{partial 'filesTable'}}
  {{/each}}
{{ else }}
  <br/>
  {{#if isLoading}}
    <p class="loading-spinner">
      Loading...<br/><br/>
      <img src="/images/ajax-loader.gif" width="31" height="31" />
    </p>
  {{else}}
    <p>There are currently no builds for {{title}}. Please check back soon.</p>
  {{/if}}
{{/if}}
