<div class="features section">
  <div class="feature">
    {{#link-to 'release'}}
      <div class="release" title="Release Builds"></div>
    {{/link-to}}
    <h2>Release</h2>
    <p>Release builds have been hardened through our multi-tiered release process. These builds are perfect for use in production environments.</p>
  </div>
  <div class="feature">
    {{#link-to 'beta'}}
      <div class="beta" title="Beta Builds"></div>
    {{/link-to}}
    <h2>Beta</h2>
    <p>Beta builds will incorporate new features that are ready for more review. They will include new features that have been more thoroughly tested. We do not recommend using Beta builds in production.</p>
  </div>
  <div class="feature">
    {{#link-to 'canary'}}
      <div class="canary" title="Canary Builds"></div>
    {{/link-to}}
    <h2>Canary</h2>
    <p>Canary builds are the bleeding edge of Ember development. Please do not use these builds unless you are absolutely certain that you need fixes and/or features not available in the Release or Beta builds.</p>
  </div>
</div>
