@import 'bourbon';
@import 'mixins/hidpi';
@import 'mixins/width-for-columns';
@import 'base/base';

.section {
  overflow: hidden;
  table.columns {
    margin: 0 auto;
    td {
      vertical-align: top;
      padding-right: 50px;
    }
  }
}

.features.section {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    flex: 0 0 100%;
  }

  .feature {
    @include width-for-columns(4);
    margin: 0 $col-spacing;
    width: 29%;
    @media screen and (max-width:$small-max-width) {
      display: block;
      clear: both;
      margin: 0 auto;
      text-align: center;
      padding: 0 0.25em;
      float: none;
      max-width: 100%;
      width:100%;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    p {
      text-align: center;
    }
  }
}

#content .users.section {
  .surround {
    @include clearfix;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 #fff;
    margin: 0 auto;
    max-width: 100%;
    // padding-top: 19px;
    width: 940px;

    a:hover {
      border: 0;
    }

    ul {
      margin: 0;
    }

    .bx-wrapper,
    .bx-window {
      width: 940px;
      max-width: 100%;
    }

    .bx-wrapper {

      .bx-prev,
      .bx-next {
        background: no-repeat;
        @include hidpi('about/carousel_controls', png);
        float: left;
        height: 28px;
        width: 30px;
      }

      .bx-prev,
      .bx-next,
      .pager-link {
        text-indent: -9999px;
      }

      .bx-prev {
        background-position: left;
        border-right: 1px solid #d1d1d1;
        float: right;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .bx-next {
        background-position: right;
        border-left: 1px solid #d1d1d1;
        float: right;
        position: absolute;
        bottom: 0;
        right: 1px;
      }

      .bx-window {
        border-bottom: 1px solid #d1d1d1;
        height: 124px;
        .user.pager {
          margin: 11px !important;
          min-width: 177px;
        }
      }

      .bx-pager {
        @include clearfix;
        background: bottom repeat-x #f4f4f4;
        @include hidpi('about/carousel_pager_bg', png);
        border-left: 1px solid #fafafa;
        border-right: 1px solid #fafafa;
        border-top: 1px solid #fefefe;
        font-size: 0;
        height: 28px;
        line-height: 0;
        margin: 0 29px;
        padding-top: 9px;
        text-align: center;

        .pager-link {
          background: 0 0 no-repeat;
          @include hidpi('about/carousel_dots', png);
          height: 11px;
          width: 10px;
          margin-left: 10px;
          display: inline-block;

          &.pager-active,
          &.pager-active:hover {
            background-position: -22px 0;
          }

          &:hover {
            background-position: -11px 0;
          }

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }

  .user {
    position: relative;
    float: left;
    @media screen and (min-width: 0px) and (max-width:767px) {
      width: 175px;
    }
    @media screen and (min-width:768px) {
      width: 230px;
    }

    &.empty {
      display: block;
      height: 210px;
      visibility: hidden; /*Take up space, but be invisible*/
    }

    a {
      display: block;
      height: 103px;
      margin-left: 20px;
      width: 210px;
    }
  }

  p {
    text-align: center;
  }

  .listed {
    padding-top: 20px;
    display:block;
    margin: 0 auto;
    width: 100%;
  }
}

.gears.section {
  display: block;
  clear: both;
  max-width: 100%;
  margin: 0 auto;
  .gear {
    text-align: center;
    height: 120px;
    max-width: 100%;
    a {
      display: inline-block;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.samples.section {
  .sample {
    float: left;
    position: relative;
    margin-left: $col-spacing;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
    border-radius: 6px;
    @include width-for-columns(4);

    &:first-of-type {
      margin-left: 0;
    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.85);
      -webkit-font-smoothing: antialiased;
      @include transition(opacity 0.1s linear);
      border-radius: 6px;

      .name {
        text-align: center;
        color: $white;
        font-weight: normal;
        font-size: 18px;
        margin-top: 55px;
        text-transform: uppercase;
      }

      .actions {
        text-align: center;
        margin-top: 16px;

        > div {
          display: inline-block;
          margin: 0 3px;
        }
      }
    }

    img {
      border-radius: 6px;
    }

    &:hover .info {
      opacity: 1;
    }
  }
}

.anchorable-toc {
  position: relative;

  &:hover a.toc-anchor {
    display: block;
  }
}

a.toc-anchor {
  display: none;
  position: absolute;
  text-decoration: none;
  border: none;
  left: -1em;
  width: 30px;
  height: 13px;
  background: url('/images/link.png') no-repeat;
  background-size: 18px 9px;
  left: -22px;
  opacity: 0.5;
  top: 50%;
  margin-top: -5px;
}

.about__listing-button-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  @media screen and (min-width:0) and (max-width: 991px) {
    flex-flow: row wrap;
  }
}
.about__listing-button {
  margin: 10px 10px 0 10px;
  @media screen and (min-width:0) and (max-width: 991px) {
    min-width: 100%;
    margin: 10px auto;
  }
}

