@import 'bourbon';
@import 'variables';

.api {
  h3 {
    &.name {
      text-transform: none;
      float: left;
      margin-right: 5px;
    }

    &.anchorable-toc {
      position: relative;

      &:hover a.toc-anchor {
        display: block;
      }

      .toc-anchor {
        display: none;
        position: absolute;
        text-decoration: none;
        border: none;
        left: -1em;
        width: 30px;
        height: 13px;
        background: url('/images/link.png') no-repeat;
        background-size: 18px 9px;
        left: -19px;
        opacity: 0.5;
        top: 50%;
        margin-top: -5px;
      };
    }
  }

  .meta {
    line-height: 16px;
    font-size: 11px;
    clear: left;
  }

  .args {
    font-style: italic;
    color: #444444;
  }

  .method h3 {
    text-transform: none;
  }

  dl {
    margin: 1em 0 1em 1em;

    dt {
    }

    dd {
      margin: 0em 0 0.5em 0;
    }
  }

  .type {
    border-bottom: 1px dotted #afafaf;
    font-size: 13px;
    color: gray;
  }

  #api-options {
    padding-bottom: 1em;
    border-bottom: solid 1px #e0e0e0;
    margin-bottom: 1.5em;
  }

  .class-info {
    margin-bottom: 2em;

    p {
      color: #443331;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;

      a {
        text-transform: none;
        font-weight: normal;
      }
    }
  }

  .description {
    p {
      font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-weight: 400;
      margin: 1.5em 0;
      line-height: 1.5em;
      color: #0C0C0C;
    }
  }

  .deprecation {
    background-color: #FFFFCC;
    border: 1px solid #dfd7d4;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 1.5em 0;
    padding: 10px;

    p {
      color: $orange-color;
      font-family: 'Helvetica Neue';
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }
  }

  ul.index-list {
    margin-left: 1.5em;
    overflow: hidden; /* Clearfix */
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;

    li {
      overflow: hidden;
      @include ellipsis;
      display: block;
    }
  }

  ol#toc-list {
    li a {
      display: block;
      overflow: hidden;
      @include ellipsis;
    }
  }

  div.method, div.property, div.event {
    padding-bottom: 1em;
    border-bottom: solid 1px #e0e0e0;
    margin-bottom: 2em;

    &:last-child {
      border-bottom: none;
    }
  }

  h3.name code {
    background-color: transparent;
    color: black;
    padding: 0;
    font-weight: bold;
  }

  span.flag {
    background-color: gray;
    color: white;
    padding: 2px 7px;
    border-radius: 3px;
  }

  #sidebar ol#toc-list li > ol {
    display: block;
  }

  table {
    thead {
      background-color: #f9e7e4;
    }

    th,
    td {
      padding: 5px 10px;
    }
  }
}
