@import 'base/variables';

.blog {

  h5.blog-post-summary-author {
    font-size: 10px;
    color: gray;
  }

  article {
    margin: 0 0 3em 0;
    padding: 0 0 3em 0;

    border-bottom: solid 1px #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    &.blog-post {
      .post-tag {
        margin-left: 25px;
      }

      .original-post-url {
        font-size: 16px;
      }
    }

    h2.blog-post-title {
      margin-bottom: 0;
    }

    .post-tag {
      color: #4d4d4d;
      font-size: 1em;
      font-weight: bold;
    }

    .blog-post-author {
      font-size: 10px;
      color: gray;
      top: 59px;
      margin-left: 45px;
    }

    .original-post-url {
      color: gray;
      font-size: 12px;
      text-transform: none;
    }

    h1 {
      padding-bottom: 0;
    }

    figure {
      width: 100%;
      background-color: white;
      padding: 10px;
      border: 1px solid #cccccc;
    }

    blockquote {
      background-color: #F8E7CF;
      font-style: italic;
      padding: 8px;

      > p {
        padding: 0;
        margin: 1em;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      background-color: white;
      max-width: 100%;
    }

    img.no-background {
      background-color: transparent;
    }

    img.float-right {
      float: right;
    }

    ul, ol {
      margin-left: 1.5em;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table.figure {
      float: left;
      margin-bottom: 20px;

      & + table.figure {
        margin-left: 20px;
      }

      & + table.figure + * {
        clear: left;
      }

      th,
      td {
        padding: 5px 10px;
      }

      thead th {
        font-weight: bold;
        border-bottom: 2px solid $orange-color;
      }

      tbody td {
        border-bottom: 1px solid lighten($orange-color, 20%);
      }
    }
  }
}
