@import 'base/base';

#content.has-sidebar {
  h1 {
    border-bottom: 1px solid lightgray;
  }
}
#content.has-sidebar {
  article.blog-post {
    h1 {
      border-bottom: none;
      line-height: 1;
      margin-bottom: 0;
    }
    h1, h2 {
      + p {
        &:first-of-type {
          font-size: 1.3em;
        }
      }
    }
  }
}
.blog {
  .blog-post-summary-author {
    font-size: 0.9em;
    color: $gray;
    margin-top: 0;
  }

  article {
    margin: 0 0 3em 0;
    padding: 0 0 3em 0;
    border-bottom: solid 1px #e0e0e0;//TODO replace with variable to ensure consistency

    &:last-child {
      border-bottom: none;
    }

    &.blog-post {
      .post-tag {
        margin-left: 25px;
      }

      .original-post-url {
        font-size: 16px;
      }
    }

    .blog-post-title {
      margin-bottom: 0;
      time {
        color: $gray-darker;
        display: block;
        font-size: 0.5em;
        margin-top: 7px; //so when you hover over the title, you don't chop off the top of the date. 
      }
    }

    .post-tag {
      color: $gray;
      font-size: 1em;
      font-weight: bold;
    }

    .original-post-url {
      color: $gray;
      font-size: 12px;
      text-transform: none;
    }

    figure {
      width: 100%;
      background-color: $white;
      padding: 10px;
      border: 1px solid $gray-lightest; 
    }

    blockquote {
      background-color: #F8E7CF;//TODO replace with variable to ensure consistency
      font-style: italic;
      padding: 8px;

      > p {
        padding: 0;
        margin: 1em;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      background-color: $white;
      max-width: 100%;
    }

    img.no-background {
      background-color: transparent;
    }

    img.float-right {
      float: right;
    }

    ul, ol {
      margin-left: 1.5em;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table.figure {
      float: left;
      margin-bottom: 20px;

      & + table.figure {
        margin-left: 20px;
      }

      & + table.figure + * {
        clear: left;
      }

      th,
      td {
        padding: 5px 10px;
      }

      thead th {
        font-weight: bold;
        border-bottom: 2px solid $orange;
      }

      tbody td {
        border-bottom: 1px solid lighten($orange, 10%);
      }
    }
  }
}
