@import 'base/base';

.blog {

  article {
    margin: 0 0 3em 0;
    padding: 0 0 3em 0;
    border-bottom: solid 1px #e0e0e0;//TODO replace with variable to ensure consistency

    &:last-child {
      border-bottom: none;
    }
    figure {
      width: 100%;
      background-color: $white;
      padding: 10px;
      border: 1px solid $gray-lightest;
    }

    blockquote {
      background-color: #F8E7CF;//TODO replace with variable to ensure consistency
      font-style: italic;
      padding: 8px;

      > p {
        padding: 0;
        margin: 1em;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      background-color: $white;
      max-width: 100%;
    }

    img.no-background {
      background-color: transparent;
    }

    img.float-right {
      float: right;
    }

    img.float-left {
      float: left;
    }

    img.extra-small {
      width: 20%;
      height: auto;
    }

    img.small {
      width: 33%;
      height: auto;
    }

    img.medium {
      width: 50%;
      height: auto;
    }

    img.transparent {
      background-color: transparent;
    }

    img.padded {
      margin: .5em 1em;
    }

    img.pad-l0 {
      margin-left: 0;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    table.figure {
      float: left;
      margin-bottom: 20px;

      & + table.figure {
        margin-left: 20px;
      }

      & + table.figure + * {
        clear: left;
      }

      th,
      td {
        padding: 5px 10px;
      }

      thead th {
        font-weight: bold;
        border-bottom: 2px solid $orange;
      }

      tbody td {
        border-bottom: 1px solid lighten($orange, 10%);
      }
    }
  }
}

.blog-row {
  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }

  &.breaking-news {
    font-style: italic;
    border-color: $orange-darker;
    border-style: solid;
    border-bottom-width: 1px;
    margin-top: 30px;
    padding-bottom: 10px;
  }
}

.api-info-box {
  background-color: #eeeeee;
  padding: 30px 50px;
}
