@import 'base/base';

body.deprecations {
  #content-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  #content {
    margin-top: 38px;  
  }
  
  @media (max-width: 60em) {
    #sidebar {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }
}

