@import 'base/base';

  .main {
      margin: 0 auto;
  }
  .showcase {
    align-content: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: auto !important;
    padding: 0;
    width: 100%;
    li {
        min-width: 0;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        a {
            background-color: white;
            border-radius: 5px;
            border: 2px solid $orange;
            height: 103px;
            max-height: 103px;
            max-width: 100%;
            padding: 5px;
            width: 210px;
            text-align: center;
            display: inline-flex;
            img {
                height: auto;
                max-height: 103px;
                max-width: 100%;                
                display: block;
                margin: auto !important;
            }
            &:hover {
                box-shadow: 5px 5px 15px -1px rgb(245, 223, 219);
            }
        }
    }
  }
  
  
  
  
  
  
    
  