@import 'base/base';

.guides,
.dashboard {
  .chapter {
    h1 {
      padding-bottom: 0.5em;
    }

    ul,
    ol {
      margin-left: $list-indent;
      margin-bottom: 28px;

      li {
        font-size: 15px;
        margin: 10px 0 10px 0;

        p {
          padding-left: 7px;
        }
      }
    }
  }

  table {
    width: 100%;

    margin: 1em 0;
    
    tbody tr {
      background: rgba(255, 249, 249, 0.56);
      border-bottom: 1px solid rgba(223, 215, 212, 0.28);
    }

    thead {
      background-color: #f9e7e4;
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 5px 10px;
    }
  }

  .note {
    background: rgba(0,0,0, 0.2);

    &::before {
      content: "Note"
    }
  }
}

.previous-guide {
  float: left;
}

.next-guide {
  float: right;
}

.guides_getting-started {
  .jsbin-embed {
    /**
      height of TodoMVC with three sample todos
      after rendering. JSBin calculates height
      before ember has a chance to render.

      This style is !important to get around
      the inline style on .jsbin-embed
    **/
    min-height: 519px !important;
  }
}
