.meetup-assets {
  .example-meetups-logo {
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
    max-width: 45%;
  }
  .meetups-header {
    max-width: 500px;
  }
}
#content .meetups {
  ul {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-left: 2.5em;
  }

  li {
    width: 220px;
    float: left;
    margin-bottom: 20px;

    img,
    a {
      display: block;
      margin: 0 auto;
    }
  }

  p {
    text-align: center;
  }
}

.second {
  margin-top: 50px;
}

.tomsterVar {
  text-align: center;

    a:hover {
      text-decoration: none;
      border-bottom: 0px;
    }
}