@import 'bourbon';
@import "mixins/hidpi";
@import 'base/base';

body.community_meetups #content {
  .section {
    width: auto;
    @include clearfix;

    table {
      margin: 2em auto;
    }

    .inline_list a:first-child {
      margin-left: 20px;
    }
  }

  .map {
    #map {
      width: 100%;
      height: 400px;
      margin-top: 2em;
      border: 1px solid #e0e0e0;
      box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      #maptype,
      .gm-style-cc {
        display: none;
      }

      .map-marker {
        width: 200px;
        padding: 10px;
        font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      }

      h2,
      h3 {
        font-size: 16px;
        margin: 0 0 5px;
        padding: 0;
        line-height: 1em;
      }

      h2 {
        margin-bottom: 20px;
        text-align: left;
      }

      h3 {
        text-transform: none;
        letter-spacing: 0;
        font-size: 13px;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left;
        font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      }

      .organizer {
        @include clearfix;
        margin: 15px 0;
        height: 40px;
      }

      .profile-img-wrapper {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
        background-color: #ddd;
      }

      .profile-img {
        max-width: 40px;
        margin: 0 auto;
      }

      .view {
        text-align: center;
        font-weight: bold;
        margin: 20px 0 5px;
        padding: 12px 0 0;
        border-top: dotted 1px #d0d0d0;
      }
    }
  }

  .list {
    table {
      margin-top: 0.5em;
    }

    h3 {
      margin-top: 1.5em;
    }

    h4 {
      color: #252525;
      text-transform: none;
      letter-spacing: 0;
      margin-top: 1em;
      margin-bottom: 0;
      font-size: 14px;
      font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    }

    .col-third {
      width: 33%;
      float: left;
      box-sizing: border-box;
      padding: 0 10px;

      &:first-of-type {
        padding: 0 20px 0 0;
      }

      &:last-of-type {
        padding: 0 0 0 20px;
      }
    }

    ul {
      text-align: left;
      padding: 0;
      margin: 0.5em 0;
      list-style-type: none;

      li {
        margin: 2px 0;
        padding: 0;

        &:before {
          // Currently the standard res is good enough for retina, since we are already downscaling
          // and the automatically added background-size declaration is problematic
          //@include hidpi('meetups/map-pin', 'png');
          background-image: url('/images/meetups/map-pin.png');
          background-size: 9px auto;
          width: 9px;
          height: 12px;
          display: inline-block;
          content: "";
          vertical-align: middle;
          margin-right: 7px;
          margin-bottom: 2px;
        }
      }

      a {
        border: none;
        display: inline-block;

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  .start {
    .image {
      @include hidpi('community/meetup', 'png');
      background-position: center top;
      float: left;
      width: 221px;
      height: 185px;
      margin: 15px 20px 0 auto;

      @media screen and (max-width: 460px) {
        float: none;
        width: 100%;
        background-repeat: no-repeat;
      }
    }

    p {
      text-align: left;
    }
  }
}
