@import 'base/base';

.sponsors {
  .button {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  h5 {
    text-align: center;
    padding-top: 5px;
  }

  #sponsorType {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin-top: 0px;
    min-height: 4em;
  }

  .thanks {
    margin-top: 50px;
  }
  .sponsors-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    .sponsor-list-item {
      border: 1px solid red;

    }
  }
}
