@import 'base/base';
body.team {
  hr {
    height: 1px;
    border: none;
    background-color: #dfd7d4;
  }

  .headshots { /* #content is needed for specifity override */
    margin: 0 auto !important;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none !important;
    padding-left: 5%;
    padding-right: 5%;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      padding-left: 1%;
      padding-right: 1%;
    }

    a:hover {
      border-bottom: none;
    }

    > li {
      box-sizing: border-box;
      display: flex;
      flex-flow: column wrap;
      padding: 40px 0 0;
      text-align: center;
      width: 25%;
      flex: 1 1 auto;
      text-align: center;
      @media screen and (min-width: 0px) and (max-width: 767px) {
        width: 49%;
        &.team-avatar {
          width: 33% !important;
        }
      }    
      &.team-avatar {
        width: 20%;
      }
      p {
        flex: 1;
        font-weight: bold;
        margin: 0px 0px 5px 0px;
        min-width: 100%;
      }

      img {
        flex: 1;
        border-radius: 50%;
        border: 2px solid #faf4f1;
        height: 120px;
        margin-bottom: 10px;
        width: 120px;

        &.alumni {
          height: 90px;
          width: 90px;
        }

        &:hover,
        &:active,
        &:focus {
          border: 0;
        }
      }
      .social {
        flex: 1;
        min-width: 100%;
        margin: 0 auto !important;

        > li {
          display: inline-block;
          padding: 0;
        }

        a {
          color: #7c7a79;
          font-size: 24px;

          &:hover {
            color: #444;
          }
        }
      }
    }

    &.contributors {
      .avatar {
        position: relative;
      }

      img {
        height: 90px;
        width: 90px;
      }

      .type {
        display: none;
      }
    }
  }
}
