body.team {
  #content {
      margin: 3em auto 0 auto;
      max-width: 54em;
      width: 90%;
  }

  h1,
  .lead {
    text-align: center;
  }

  hr {
    height: 1px;
    border: none;
    margin: 4em 0;
    background-color: #dfd7d4;
  }

  #content .headshots { /* #content is needed for specifity override */
    max-width: 760px;
    width: 100%;
    margin: 0 auto;

    a:hover {
      border-bottom: none;
    }

    > li {
      display: inline-block;
      width: 24%;
      text-align: center;
      padding: 40px 0 0;

      @media screen and (max-width: 860px) {
        width: 32%;
      }
      @media screen and (max-width: 560px) {
        width: 49%;
      }

      p {
        margin: 0px 0px 10px 0px;
        font-weight: bold;
      }

      img {
        margin-bottom: 10px;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        border: 2px solid #faf4f1;

        &:hover,
        &:active,
        &:focus {
          border: 0;
        }
      }

      .social {
        margin-bottom: 0;

        > li {
          display: inline-block;
          padding: 0;
        }

        a {
          color: #7c7a79;
          font-size: 24px;

          &:hover {
            color: #444;
          }
        }
      }
    }

    &.contributors {
      .avatar {
        position: relative;
      }

      img {
        width: 66px;
        height: 66px;
      }

      .type {
        display: block;
        position: absolute;
        left: 5px;
        right: 5px;
        top: -9px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5em;
        border-radius: 4px;
        background-color: #f23818;
      }
    }
  }
}
