@import 'bourbon';
@import 'base/base';

.tomster-commission,
.tomster-payment {
  @include clearfix;
  box-sizing: border-box;
  p {
    text-align: left;
  }
  .left-col {
    float: left;
    width: 70%;
    @media screen and (min-width: 0) and (max-width: $screen-sm-max) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .right-col {
    float: left;
    width: 24%;
    margin-left: 15px;
    text-align: center;
    @media screen and (min-width: 0) and (max-width: $screen-sm-max) {
      display: none;
    }
  }
}

.tomster-form {
  margin-top: 1.5em;
  @media screen and (min-width: 0px) and (max-width: $screen-sm-max) {
    padding: 0.5em;
  }

  ul {
    padding: 0;
    margin: 0 !important;
  }

  li {
    @include clearfix;
  }

  label,
  legend {
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    display: block;
    font-weight: bold;
    @media screen and (min-width: 0px) and (max-width: $screen-sm-max) {
      text-align: left;
    }

    &.error {
      color: $orange-darker;
      font-size: 12px;
      margin-top: -0.9em;
    }

    .req {
      color: $orange-darker;
    }
  }
  input[type="radio"] {
    display: inline-block;
  }

  input[type="text"],
  input[type="email"],
  input[type="file"],
  textarea {
    border: none;
    margin: 0 0 1em;
    display: block;
    padding: 10px;
    font-size: 14px;
    background-color: $white; 
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px $white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);

    &:focus {
      border-color: #888;
    }

    &.error {
      border-color: $orange-darker;
    }
  }

  input[type="file"] {
    padding: 15px 10px;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      border-color: #ddd;
    }
  }

  textarea {
    width: 100%;
    height: 100px;
  }

  fieldset {
    .choice {
      display: block;
      margin-top: 0.3em;
      @media screen and (min-width: 0px) and (max-width: $screen-sm-max) {
        text-align: left;
      }
    }

    label {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: normal;
    }

    input.other {
      margin-left: 20px;
      margin-top: 0.1em;
    }
  }

  input[type="submit"] {
    margin-top: 1em;
    width: 125px;
    line-height: 35px;

    &:hover {
      cursor: pointer;
    }
  }

  .inline-field {
    margin-right: 5px;
    float: left;
    line-height: 40px;

    input[type="text"] {
      width: auto;
    }

    label {
      line-height: 1.6em;
    }
  }
}
