body {
  padding-top: 60px;
}

body.home { padding-top: 30px; }

.hero-unit {
  padding: 30px 60px;
}

.alert-message ul {
  margin-bottom: 0;
}

.alert-message li {
  color: white;
}

div.jsconsole {
  font-size: 14px;
  font-family: monospace;
  color: #444;
  margin-top:1em;
  background:#efefef;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

div.jsconsole ul.history {
  list-style: none;
  margin-left: 5px;
}

div.jsconsole ul.history li.error {
  color: #ef0505;
  font-family: sans-serif;
}

div.jsconsole ul.history li.success {
  color: #187718;
}

div.jsconsole textarea {
  width: 100%;
  border: 0;
  padding: 0;
  background-color: #ccc;
  font-family: monospace;
  font-size: 14px;
  height: 20px;
}

div.jsconsole textarea.multiline {
  height: 50px;
}

div.jsconsole textarea::-webkit-input-placeholder {
  color: #eee;
}
div.jsconsole textarea:-moz-placeholder {
  color: #eee;
}

#editor-tabs {
  height: 250px;
  clear: both;
}

#editor-tabs .tab {
  height: 250px;
  position: relative;
}

#editor-tabs .tab button {
  position: absolute;
  bottom: 0;
  right: 0;
}

div.sc-ace-editor {
  height: 200px;
  width: 700px;
  position: absolute;
}

#tutorial-output iframe {
  border: 0;
  width: 100%;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }
