<div class="url">URL: {{target.url}}</div>
<aside>
    
    <ul>
        <li><h2>Mailboxes</h2></li>
        {{#each}}
            <li>
                {{#link-to "mailbox" this}}
                    <span class="count">
                        {{messages.length}}
                    </span>
                    {{name}}
                {{/link-to}}
            </li>
        {{/each}}
    </ul>
</aside>

<section class="main">
    {{outlet}}
</section>
