html {
  min-height: 100%;
}
body {
  background: url(../images/diagonalTexture.png), #544B4B;
  margin: 0;
  font-family:  trebuchet MS;
  font-size: 16px;
  line-height: 20px;
}

#wrap {
  width:  1024px;
  margin:  0 auto;

}
#about {
  color: #544B4B;
  width:  246px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
}

#logo {
  background-image: url(../images/logo.png);
  height: 31px;
  width: 108px;
  margin:  20px auto;
}

#about p {
  border-top: 6px double #ddd;
  margin: 20px;
  padding-top: 20px;
}

#nav {
  list-style-type: none;
  padding:0;
  font-size: 16px;
}
#nav li {
  display: block;
  padding: 15px 20px;
}

#nav li.active{
  display: block;
  border-top: 1px solid #777;
  border-bottom: 1px solid white;
  background:#9b9b9b;
}

.active a{
  color: #fff;
}

#content {
  float:right;
  padding: 85px 20px 0;
  height: 100%;
  width: 728px;
}

h1 {
  margin: 0;
}

h1 {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #fff;
  display:none;
}

h2 {
  margin-top:  -28px;
  font-weight: lighter;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
}

.section h2{
  margin-top:-56px;
  font-size: 40px;
}

h3{
  margin: 30px 0 0 0;
  color: #6b6b6b;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
}

a {
  color: #B13127;
  text-decoration: none;
}

.button {
   border-top: 1px solid #e3742b;
   background: #b13027;
   background: -webkit-gradient(linear, left top, left bottom, from(#cf4e1f), to(#b13027));
   background: -webkit-linear-gradient(top, #cf4e1f, #b13027);
   background: -moz-linear-gradient(top, #cf4e1f, #b13027);
   background: -ms-linear-gradient(top, #cf4e1f, #b13027);
   background: -o-linear-gradient(top, #cf4e1f, #b13027);
   display: block;
   padding: 12px 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,0.4) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,0.4) 0 1px 0;
   box-shadow: rgba(0,0,0,0.4) 0 1px 0;
   text-shadow: rgba(0,0,0,0.2) 0 -1px 0;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   text-align:center;
   margin: 20px;
   font-size: 16px;
   }
.button:hover {
   border-top-color: #b13027;
   background: #cf4e1f;
   color: #ffffff;
   }
.button:active {
   border-top-color: #d1661e;
   background: #d1661e;
   }

.section {
  color: #544B4B;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  float: left;
  width: 668px;
  padding: 30px;
  margin-bottom:65px;
}

.section p {
  padding:0;
}



/* TUTORIAL */
/****************************************************************************/

#tutorial-output {
   height: 433px;
   width:  608px;
   background-image: url(../images/outputScreen.png);
   margin:  0 auto;
   margin-bottom: 20px;
 }

#tutorial-output iframe {
  margin: 23px 0 0 21px;
  width: 565px;
  height: 312px;
  border: 0;
}

 .instructions {
   padding: 30px 0;
   overflow: hidden;
 }

 .steps-container {
   padding-left: 104px;
 }

 .step {
   background: rgba(255, 255, 255, 0.7);
   width: 500px;
   height: 200px;
   overflow: auto;
   padding: 10px;
   margin: 0 20px 0 0;
   float:  left;
   opacity: .5;
   position: relative;
 }

 .step.active {
   opacity: 1;
 }


/* TABS */
/****************************************************************************/

#tabsView {
}

#tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 0;
}

#tabs li {
    margin: 0;
    float: left;
}

#tabs a {
    background: rgba(0,0,0,0.4);
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    -moz-box-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    box-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #ccc;
    float: left;
    height: 35px;
    padding: 10px 30px 5px;
    text-decoration: none;
}

#tabs a:hover {
    background: rgba(0,0,0,0.6);
}

#tabs a:focus
{
    outline: 0;
}

#tabs .current a {
    background: #B13127;
    text-shadow: none;
    color: #fff;
}

#editorHead {
    background-color: #b13127;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    height:12px;
    margin-top: -12px;
    z-index: 2;
    position: relative;
}

.tab {
  height: 200px;
}

.tab .sc-ace-editor {
  height: 200px;
  width: 668px;
  position: absolute;
}

.tab .jsconsole {
  font-size: 14px;
  font-family: monospace;
  color: #444;
  margin-top:1em;
  background:#efefef;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tab .jsconsole ul.history {
  list-style: none;
  margin-left: 5px;
}

.tab .jsconsole ul.history li.error {
  color: #ef0505;
  font-family: sans-serif;
}

.tab .jsconsole ul.history li.success {
  color: #187718;
}

.tab .jsconsole textarea {
  width: 100%;
  border: 0;
  padding: 0;
  background-color: #888;
  font-family: monospace;
  font-size: 14px;
  height: 20px;
}

.tab .jsconsole textarea.multiline {
  height: 50px;
}

.tab .jsconsole textarea::-webkit-input-placeholder {
  color: #eee;
}
.tab .jsconsole textarea:-moz-placeholder {
  color: #eee;
}
