---
title: Cookbook
responsive: true
---

<% content_for :outside_wrapper do %>
<div class="legal-wrapper">
  <h1>Cookbook</h1>

  <p>Welcome to your cookbook section!</p>

  <p>Up-to-date advice for your reading pleasure</p>

  <a href="/integrating-ember-in-your-backend-framework">Integrating Ember.js in your backend framework</a>
</div>
<% end %>
