.content-wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  .main {
    padding: 3em 0;
    width: 100%;
    margin: 0 auto;
    min-height: 90vh;
    @include clearfix;
  }
}
.section {
  margin: 0 auto;
  max-width: 100%;

  @media screen and (max-width: $small-max-width) {
    max-width: 100%;
    text-align: center;
    display: block;
    clear: both;
    margin: 0 auto;
  }
}
