.content-wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  @include clearfix;
  .main {
    padding: 3em 0;
    width: 100%;
    margin: 0 auto;
    min-height: 65vh;
    @include clearfix;
    @media screen and (min-width: 0) and (max-width: $screen-sm-max) {
      padding: 1em 0;
      min-height: auto;
    }
  }
}
.section {
  margin: 0 auto;
  max-width: 100% !important;

  @media screen and (max-width: $screen-sm-max) {
    max-width: 100%;
    text-align: center;
    display: block;
    clear: both;
    margin: 0 auto;
  }
}


.container {
  @media (min-width: 768px) and (max-width:991px) {
    width: 850px;
  }
}