@import "mixins/hidpi";

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: bold;

  code {
    text-transform: none;
  }
}

@each $i in 0, 1, 2, 3, 4 {
  h#{$i + 1} {
    font-size: modular-scale(-$i, 2em, 1.2);
  }
}

h1 {
  color: $ember-orange;
}

p {
  margin: 1.5em 0 $small-spacing;
  line-height: 1.5em;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
