html {
	font-size: 16px;
}

body {
	font-size: 1em;
	line-height: 1.618;
}

a {
  color: $orange-darker;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;

  code {
    text-transform: none;
  }
}

h1, 
h2, 
h3,
h4 {
  line-height: 1;
	margin-top: 1.25em; 
	margin-bottom: 0.5em;  
}

h1 {
  color: $orange;
  font-size: 3.157em;
  font-weight: bold;
  line-height: 1.125;
  max-width: 100%;
}

h2 {
  color: $orange-darker;
  font-size: 2.369em;
  margin: 0.83em 0;  
}

h3 {
  color: $orange-darkest;
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
  line-height: 1.618em;
  color: #222;
  letter-spacing: 1px;
  margin: 24px 0 12px 0;
}

ul {
  list-style-type: disc;
}

#slider {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

p {
  margin: 1em 0;
}
