@import "variables";

body {
	font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  @media screen and (min-width: 0) and (max-width: $screen-sm-max) {
    font-size: 16px;
    line-height: 1.2;
  }
}
a {
  text-decoration: none;
  color: $orange-darker;
  &:hover, &:focus {
    color: $orange-darkest;
  }
}
p {
  a {
    color: $orange-darker;
    text-decoration: underline;
    &:hover, &:focus {
      color: $orange-darkest;
      cursor: pointer;
    }
  }
}

h1 {
  color: $gray;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.125;
  margin-bottom: 0.5em;
  max-width: 100%;
  @media screen and (min-width: 0) and (max-width: $screen-sm-max) {
    text-align: center;
  }
  + p {
    margin-top: 0;
  }
}

h2 {
	color: $orange-darkest;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1;
  margin: 2em 0 0.5em 0;
  @media screen and (min-width: 0) and (max-width: $screen-sm-max) {
    text-align: center;
  }

  + p {
    margin-top: 0;
  }

}

h3 {
  color: $gray-darker;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 1.25em;
  + p {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

h4 {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin: 24px 0 12px 0;
}

ul {
  list-style-type: disc;
}

#slider {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}
// ol + h2,
// ol + h3,
// ul + h2,
// ul + h3,
// p + h2,
// p + h3,
// div + h3 {
//   margin-top: 1.5em;
// }

p {
  margin: 1em 0;
  @media screen and (min-width:0) and (max-width:$screen-sm-max) {
    margin: 0 auto;
    padding: 0.5em;
  }
  strong {
    font-weight: bold !important;
  }
}


// helper classes
.lead { font-size: 1.3em; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.heading-underline { border-bottom: 1px solid lightgray }
