/* Colors */
$orange-color: #E1563F;
$blue-color: #3c64b6;
$black-color: #252525;
$ember-orange: #dd6a58;
$light-brown: #b67d47;
$brown: #865931;
$medium-gray: #999;
$dark-gray: #444545;
$tan: #fffdf9;
$white: #fff;
$black: #000;
$creme: #FFFBF5;
$linen: #f9e7e4;

$base-background-color: $creme;
$sidebar-background-color: #FFFDF9;

/* Calculated page dimensions. THIS IS BEING DEPRECATED */
$page-width: 960px;
$col-width: 40px;
$col-spacing: 20px;
$sidebar-width: $col-width * 4 + $col-spacing * 3;
$content-width: $page-width - $sidebar-width - $col-spacing * 2;

/* Typography */
$base-line-height: 1.5;
$list-indent: 32px;
$base-font-family: 'Helvetica Neue','Source Sans Pro', sans-serif;
$heading-font-family: $base-font-family;
$monospace-font-family: Menlo, Courier, monospace;
$footer-font-family: proxima-nova, sans-serif;

/* Code highlight */
$highlight-border-radius: 5px;
$highlight-red: #EC605E;
$highlight-added: #5D7D5D;
$highlight-removed: #905454;
$code-background: $dark-gray;
$code-header-background: shade($code-background, 40%);
$code-line-number-background: mix($code-background, $code-header-background);

$highlight-blue: #1F58CE;
$highlight-gray: #545454;
$highlight-text-color: #222;
$highlight-green: #005F00;
$highlight-green-light: #E8F4E5;
$highlight-orange: #8F4A2C;
$highlight-yellow: #F8EEC7;
$highlight-red: #FFECEC;

/* Misc */
$hidpi-min-pixel-ratio: 1.3 !default;

/* Page-specific variables */
$builds-sidebar-width: 140px;

$small-max-width: 767px;

/* NEW breakpoints */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* transitional breakpoints to help us move over */
$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.75rem;
$large-font-size: 1.5rem;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Font Colors
$base-font-color: $brown;
$dark-font-color: $dark-gray;
$light-font-color: $light-brown;
$action-color: $ember-orange;

// Border
$base-border-radius: 3px;
$base-border-color: #F8E7CF;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$duration: 200ms;

// Z-indices
$base-z-index: 0;
