// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$monospace-font-family: Menlo, Courier, monospace;
$footer-font-family: proxima-nova, sans-serif;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.75rem;
$large-font-size: 1.5rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Colors
$ember-orange: #dd6a58;
$light-brown: #b67d47;
$brown: #865931;
$medium-gray: #999;
$dark-gray: #444545;
$tan: #fffdf9;
$white: #fff;
$black: #000;
$creme: #FFFBF5;
$linen: #f9e7e4;

$base-background-color: $creme;
$sidebar-background-color: #FFFDF9;

// Code Highlighting
$highlight-yellow: #F5E090;
$highlight-green: #C3F590;
$highlight-red: #EC605E;
$highlight-blue: #90D7F5;
$highlight-cyan: #78CEC8;
$highlight-added: #5D7D5D;
$highlight-removed: #905454;
$code-background: $dark-gray;
$code-header-background: shade($code-background, 40%);
$code-line-number-background: mix($code-background, $code-header-background);

$highlight-colors: (
  attribute-name: $highlight-red,
  comment: $medium-gray,
  content: $highlight-cyan,
  function: $highlight-red,
  key: $highlight-red,
  keyword: $highlight-yellow,
  local-variable: $highlight-red,
  string: $highlight-cyan,
  tag: $highlight-red,
);

// Font Colors
$base-font-color: $brown;
$dark-font-color: $dark-gray;
$light-font-color: $light-brown;
$action-color: $ember-orange;

// Border
$base-border-radius: 3px;
$base-border-color: #F8E7CF;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$duration: 200ms;

// Z-indices
$base-z-index: 0;
