<ul class="example-gravatar">
  <li>{{gravatar-image email="cavneb@gmail.com" size="200"}}</li>
  <li>{{gravatar-image email="alex.navasardyan@gmail.com" size="200"}}</li>
  <li>{{gravatar-image email="tom@tomdale.net" size="200"}}</li>
</ul>