---
title: "Meetups"
responsive: true
---

<h1>Meetups Around the World</h1>

<div class="meetups section map">
  <h2>Find a meetup in your city</h2>
  <meta name="mapOptions" content='<%= data.meetups.google_map.options.to_json %>'>
  <meta name="locations" content='<%= data.meetups.locations.to_json %>'>
  <div id="map"></div>
</div>

<div class="meetups section list">
  <table class="columns">
    <tr>
      <% balance(data.meetups.locations.map { |l| { l.area => l.groups } }.reduce(:merge), 3).each do |column| %>
      <td>
        <% column.each do |name, groups| %>
        <h3><%= name %></h3>
        <ul>
          <% groups.sort_by(&:location).each do |group| %>
          <li><%= link_to group.location, group.url, :id => group.location.downcase.gsub(/[^0-9a-z ]/i, '').delete(' ') %></li>
          <% end %>
        </ul>
        <% end %>
      </td>
      <% end %>
    </tr>
  </table>
</div>

<div class="meetups section start">
  <h2>Start your own meetup</h2>
  <div class="image"></div>
  <p>
    Ready to start a Meetup in your area? Fantastic news—appreciate you stepping up! Running a solid meetup isn't all that complicated, but it <em>can</em> be intimidating: <br />we'd love to help you ease into it.
  </p>
  <p>
    <a href="/community/meetups-getting-started">We've put together some tips for first-time organizers</a> that should hopefully help you get off your feet. There's also a handy page of <a href="/meetup-assets">Resources and Assets for organizers</a>.
  </p>
  <p>
    <a href="mailto:meetups@emberjs.com">Send us a note</a> if you have questions or need a hand.
  </p>
</div>

<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/2.1.4/dist/markerclusterer.min.js" type="text/javascript"></script>
<script src="/javascripts/meetups.js"></script>
