---
title: "Blog"
---

<% partial_for :head, :blog_head %>
<% partial_for :sidebar, :blog_sidebar %>

<% blog.articles.each_with_index do |article, i| %>
  <article class="blog-post-summary">
    <h2><%= link_to article.title, article %></span></h2>
    <%= article.summary %>
    <%= link_to "Read more...", article %>
  </article>
<% end %>
