---
title: 404 - Not Found
---

<h1>404</h1>

<p>
  This page wasn't found. If you were looking for documentation, please try
  the <a href="/guides">Guides</a> section of the site. If you expected
  something else to be here, please <a href="https://github.com/emberjs/website/issues">file a ticket</a>.
</p>
