<div id='api-options'>
  Show:
  <label>
    <input type='checkbox' data-type='inherited' checked>
    Inherited
  </label>
  <label>
    <input type='checkbox' data-type='protected'>
    Protected
  </label>
  <label>
    <input type='checkbox' data-type='private'>
    Private
  </label>
  <label>
    <input type='checkbox' data-type='deprecated'>
    Deprecated
  </label>
</div>
