<ol id='toc-list'>
  <li class='level-1'>
    <a href="/blog/feed.xml">
      Recent Posts
      <img src="/images/feed-icon-14x14.png">
    </a>
    <ol style="display:block">
    <% blog.articles.each_with_index do |article, i| %>
      <li class='level-3'><%= link_to article.title, article %></li>
    <% end %>
    </ol>
  </li>
</ol>
