<footer class="footer">
  <div class="container">
    <div class="footer-info">
      Copyright <%= Time.now.strftime('%Y') %>
      <a href="http://tilde.io">Tilde Inc.</a>
      <br>
      <a href="http://emberjs.com/team">Team</a> |
      <a href="http://emberjs.com/sponsors">Sponsors</a>
      <br>
      <a href="http://emberjs.com/security">Security</a> |
      <a href="http://emberjs.com/legal">Legal</a>
      <br>
      <a href="http://emberjs.com/logos">Brand Guidelines</a>
      <br>
      <a href="http://emberjs.com/guidelines">Community Guidelines</a>
    </div>

    <div class="footer-statement">
      Ember.js is free, open source and always will be.
      <div class="footer-social">
        <a href="http://twitter.com/emberjs" title="Twitter" aria-label="Ember on Twitter"><i class="icon-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/emberjs/ember.js" title="GitHub" aria-label="Github repository"><i class="icon-github" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/communities/106387049790387471205" title="Google+" aria-label="google plus profile"><i class="icon-gplus" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="footer-contributions">
      <div class="contributor">
        <p>Hosted by:</p>
        <a href="https://www.heroku.com/emberjs">
          <img src="/images/logos/vendors/heroku-logo.svg" class="logo-heroku" alt="heroku">
        </a>
      </div>
      <div class="contributor">
        <p>CDN provided by:</p>
          <a href="https://www.fastly.com"><img src="/images/logos/vendors/fastly-logo.svg" class="logo-fastly" alt="fastly"></a>
      </div>
    </div>

  </div>
</footer>
