<div class="footer">
  <div class="container">
    <div class="footer-info">
      Copyright <%= Time.now.strftime('%Y') %>
      <a href="http://tilde.io">Tilde Inc.</a>
      <br>
      <a href="http://emberjs.com/team">Core Team</a> |
      <a href="http://emberjs.com/sponsors">Sponsors</a>
      <br>
      <a href="http://emberjs.com/security">Security</a> |
      <a href="http://emberjs.com/legal">Legal</a> |
      <a href="http://emberjs.com/logos">Logos</a>
      <br>
      <a href="http://emberjs.com/guidelines">Community Guidelines</a>
    </div>

    <div class="footer-statement">
      Ember.js is free, open source and always will be.
    </div>

    <div class="footer-social">
      <a href="http://twitter.com/emberjs" title="Twitter">
        <i class="icon-twitter"></i>
      </a>
      <a href="https://github.com/emberjs/ember.js" title="GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://plus.google.com/communities/106387049790387471205" title="Google+">
        <i class="icon-gplus"></i>
      </a>
    </div>
  </div>
</div>
