<header>
<nav class="navbar navbar-inverse">
 <div class="container">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   <a class="navbar-brand" href="/"><img src="/images/logos/ember-logo.svg" alt="home" /></a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
   <ul class="nav navbar-nav">
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Docs <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="//guides.emberjs.com">Guides</a></li>
      <li><a href="/api/ember/release">API Reference</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/learn">Learn Ember</a></li>
     </ul>
    </li>
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Releases <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="/builds">Channels</a></li>
      <li><a href="/builds/release">-- Stable</a></li>
      <li><a href="/builds/beta">-- Beta</a></li>
      <li><a href="/builds/canary">-- Canary</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/deprecations">Deprecations</a></li>
      <li><a href="/statusboard">Status Board</a></li>
     </ul>
    </li>
    <li><a href="/blog">Blog</a></li>
    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
     <ul class="dropdown-menu">
      <li><a href="/community">The Ember Community</a>
       <li><a href="/guidelines">Guidelines</a></li>
       <li><a href="http://github.com/emberjs/">Contribute (Github)</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="/community/meetups">Meetups</a></li>
       <li><a href="http://jobs.emberjs.com/">Job Board</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="http://emberconf.com/">EmberConf</a></li>
       <%# <li><a href="#">Annual Survey</a></li> %>
     </ul>
     </li>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
      <ul class="dropdown-menu">
				<%# <li><a href="#">Why Ember</a></li>
				<li role="separator" class="divider"></li> %>
       <li><a href="/team">The Team</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="/logos">Branding</a></li>
       <li><a href="/mascots">Mascots</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="/ember-users">Who Uses Ember</a></li>
       <li><a href="/sponsors">Sponsors</a></li>
       <li role="separator" class="divider"></li>
       <li><a href="/legal">Legal</a></li>
       <li><a href="/security">Security</a></li>
      </ul>
     </li>
   </ul>
   <form class="navbar-form navbar-right searchbox">
    <div class="input-group">
      <label for="search-input" class="control-label sr-only">Search</label>
        <input type="text"
        class="form-control search input ds-input"
        placeholder="Search..."
        id="search-input"
        role="combobox"
        aria-expanded="false"
        aria-owns="algolia-autocomplete-listbox-0"
        autocorrect="off"
        autocapitalize="none"
        spellcheck="false"
        />
        <span></span>
    </div>
   </form>
  </div>
  <!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
</header>
