<% if !current_page.data.no_survey_reminder %>
  <div class="survey-reminder-wrapper">
    <div class="survey-reminder-container">
      Today is the  <strong>last day</strong> to
      <% link_to '/ember-community-survey-2016' do %>
        submit your community survey&nbsp;response<% end %>!
    </div>
  </div>
<% end %>
