<% if !current_page.data.no_survey_reminder %>
  <div class="survey-reminder-wrapper">
    <div class="survey-reminder-container">
      Take the
      <% link_to '/ember-community-survey-2019' do %>2019 Ember Community Survey<% end %>
    </div>
  </div>
<% end %>