<% if !current_page.data.no_survey_reminder %>
  <div class="survey-reminder-wrapper">
    <div class="survey-reminder-container">
      Take the
      <strong><% link_to '/ember-community-survey-2018' do %>2018 Ember Community Survey<% end %></strong>
    </div>
  </div>
<% end %>
