---
title: "About"
---

<img class="about-header-text" src="images/about/header-text.png" alt="A framework for creating ambitious web applications.">
<div id="download">
  <div id="download-ember">
    <a class="orange button" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.5.min.js">
    	Download Ember 0.9.5
    </a>
    <div class="info">37k min+gzip |
      <a class="debug" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.5.js">
        debug build
      </a>
    </div>
  </div>
  <div id="download-starter-kit">
    <a class="black button" href="https://github.com/downloads/emberjs/starter-kit/starter-kit.0.9.5.zip">
      Get the Starter Kit      
    </a>
  </div>
</div>
 
<div class="getting-started section">
  <h2>Getting Started with Ember.js is Easy</h2>

  <% highlight :html, :left do %>
<html>
  <body>
    <script type="text/x-handlebars">
      Hello, <b>{{MyApp.name}}</b>!
      Happy {{MyApp.dayOfWeek}}.
    </script>
  </body>
</html>
  <% end %>

  <% highlight :javascript, :right do %>
MyApp.president = Ember.Object.create({
  firstName: "Barack",
  lastName: "Obama",

  fullName: function() {
    return this.get('firstName') +
           " " + this.get('lastName');
  }.property('firstName', 'lastName')
});
  <% end %>
  <p class="left">Handlebars templates update automatically when their underlying values change. Whatever PBR portland velit mcsweeney's quis cliche qui nesciunt, pop-up artisan. Sriracha small batch vegan mustache, assumenda beard VHS sartorial magna direct trade banksy nihil brunch. Vinyl anim fanny pack, godard before they sold out pickled you probably haven't heard of them proident eiusmod banh mi.</p>
  <p class="right">Describe your application in terms of computed properties. Whatever PBR portland velit mcsweeney's quis cliche qui nesciunt, pop-up artisan. Sriracha small batch vegan mustache, assumenda beard VHS sartorial magna direct trade banksy nihil brunch. Vinyl anim fanny pack, godard before they sold out pickled you probably haven't heard of them proident eiusmod banh mi.</p>
  <div class="clearfix"></div>
</div>

<div class="features section">
  <h2>Features Tailored for the Ambitious Web Developer.</h2>
  <div class="feature">
    <img src="/images/about/handlebars_fade.png" alt="Handlebars logo">
    <p>Write dramatically less code with Handlebars templates that update automatically.</p>
  </div>
  <div class="feature">
    <img src="/images/about/kittens.png" alt="Kittens">
    <p>Focus and unit test individual pieces of functionality, then hook them together with robust data bindings.</p>
  </div>
  <div class="feature">
    <img src="/images/about/speed-limit.png" alt="Speed limit signs">
    <p>Improve responsiveness, performance, and reduce server load by moving the heavy lifting to the client.</p>
  </div>
  <div class="clearfix"></div>
</div>

<div class="samples section">
  <h2>Check Out Our Sample Applications.</h2>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
