---
title: "About"
---

<img class="about-header-text" src="/images/about/header-text.png" alt="A framework for creating ambitious web applications.">
<div id="download">
  <div id="download-ember">
    <a class="orange button" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.5.min.js">
    	Download Ember 0.9.5
    </a>
    <div class="info">37k min+gzip |
      <a class="debug" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.5.js">
        debug build
      </a>
    </div>
  </div>
  <div id="download-starter-kit">
    <a class="black button" href="https://github.com/downloads/emberjs/starter-kit/starter-kit.0.9.5.zip">
      Get the Starter Kit      
    </a>
  </div>
</div>

<div class="features section">
  <h2>More Productive Out of the Box.</h2>
  <div class="feature">
    <img src="/images/about/fpo.png" alt="Handlebars logo">
	<p>Ember.js is a web application framework built for productivity. Designed with developer ergonomics in mind, its friendly APIs and extensive features allow you to unlock the power of the browser.</p>
  </div>
  <div class="feature">
    <img src="/images/about/fpo.png" alt="Kittens">
	<p>Write dramatically less code and eliminate common bugs. Ember.js uses live-updating Handlebars templates, so whether your data changes on the server or due to user interaction, what your user sees is always up-to-date.</p>
  </div>
  <div class="feature">
    <img src="/images/about/fpo.png" alt="Speed limit signs">
	<p>Permissively licensed and production-ready. Because Ember.js is MIT licensed, companies don't have to worry about the legal implications of using it. Ember.js is a mature framework being used by large companies and small startups alike.</p>
  </div>
  <div class="clearfix"></div>
</div> 

<div class="getting-started section">
  <h2>Getting Started with Ember.js is Easy.</h2>

<% highlight :javascript, :left do %>
App.Person = DS.Model.extend({
  firstName: DS.attr('string'),
  lastName: DS.attr('string'),

  fullName: function() {
    return this.get('firstName') +
           " " + this.get('lastName');
  }.property('firstName', 'lastName')
});

App.peopleController = Em.ArrayController.create({
  content: App.Person.findAll()
});
  <% end %>

  <% highlight :html, :right do %>
<h1>People</h1>
<ul>
{{#each controller}}
  <li>Hello, <b>{{fullName}}</b>!
{{/each}}
</ul>
.
.
.
.
.
  <% end %>

  <p class="left">
    
  </p>

  <p class="right"></p>

  <div class="clearfix"></div>
</div>

<div class="users section">
  <h2>Who's Using Ember.js?</h2>
  <div class="user">
    <img src="/images/about/livingsocial.png">
  </div>
  <div class="user">
    <img src="/images/about/square.png">
  </div>
  <div class="user">
    <img src="/images/about/tilde.png">
  </div>
  <div class="user">
    <img src="/images/about/zendesk.png">
  </div>
  <div class="clearfix"></div>
</div>


<div class="samples section">
  <h2>Check Out Our Sample Applications.</h2>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
