---
title: "About"
---

<img class="about-header-text" src="images/about_header_text.png" alt="A framework for creating ambitious web applications.">
<div id="download">
  <div id="download-ember">
    <a class="orange button" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.5.min.js">
    	Download Ember 0.9.5
    </a>
    <div class="info">37k min+gzip |
      <a class="debug" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.5.js">
        debug build
      </a>
    </div>
  </div>
  <div id="download-starter-kit">
    <a class="black button" href="https://github.com/downloads/emberjs/starter-kit/starter-kit.0.9.5.zip">
      Get the Starter Kit      
    </a>
  </div>
</div>
 
<div class="about-section">
  <h2>Getting Started with Ember.js is Easy</h2>

  <% highlight :html, :left do %>
    test<h1>
  <% end %>

  <% highlight :javascript, :right do %>
    MyApp.president = Ember.Object.create({
      firstName: "Barack",
      lastName: "Obama",

      fullName: function() {
        return this.get('firstName') + " " + this.get('lastName');
      }.property('firstName', 'lastName')
    });
  <% end %>
</div>

