---
title: "About"
---

<img class="about-header-text" src="/images/about/header-text.png" alt="A framework for creating ambitious web applications.">
<div id="download">
  <div id="download-ember">
    <a class="orange button" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.8.min.js">
      Download Ember 0.9.8
    </a>
    <div class="info">42k min+gzip |
      <a class="debug" href="https://github.com/downloads/emberjs/ember.js/ember-0.9.8.js">
        debug build
      </a>
    </div>
  </div>
  <div id="download-starter-kit">
    <a class="black button" href="https://github.com/downloads/emberjs/starter-kit/starter-kit.0.9.8.zip">
		Get the Starter Kit
    </a>
  </div>
</div>
	
<div class="features section">
  <h2>More Productive Out of the Box.</h2>
  <div class="feature">
    <img src="/images/about/ember-handlebars-sm.png" alt="Handlebars">
    <p>Write dramatically less code with Handlebars templates that update automatically when the underlying data changes.</p>
  </div>
  <div class="feature">
    <img src="/images/about/ember-structure-sm.png" alt="Structure">
    <p>Don't waste time making trivial choices. Ember.js incorporates common idioms so you can focus on what makes your app special, not reinventing the wheel.</p>
  </div>
  <div class="feature">
    <img src="/images/about/ember-productivity-sm.png" alt="Productivity">
    <p>Ember.js is built for productivity. Designed with developer ergonomics in mind, its friendly APIs help you get your job done&mdash;fast.</p>
  </div>
  <div class="clearfix"></div>
</div> 

<div class="getting-started section">
  <h2>Getting Started with Ember.js is Easy.</h2>

<% highlight :javascript, :left do %>
App.Person = DS.Model.extend({
  firstName: DS.attr('string'),
  lastName: DS.attr('string'),

  fullName: function() {
    return this.get('firstName') +
           " " + this.get('lastName');
  }.property('firstName', 'lastName')
});
 
App.peopleController = Em.ArrayController.create({
  content: App.Person.findAll()
});<% end %>

  <% highlight :html, :right do %>
<h1>People</h1>
 
<ul>
{{#each controller}}
  <li>Hello, <b>{{fullName}}</b>!
{{/each}}
</ul>
 
 
 
 
 <% end %>

</div>

<div class="users section">
	<h2>Who's Using Ember.js?</h2>
	<div class="user">
		<a href="http://livingsocial.com/">
			<img src="/images/about/livingsocial.png">
		</a>
	</div>
	<div class="user">
		<a href="http://squareup.com">
			<img src="/images/about/square.png">
		</a>
	</div>
	<div class="user">
		<a href="http://tilde.io">
			<img src="/images/about/tilde.png">
		</a>
	</div>
	<div class="user">
		<a href="http://www.zendesk.com/">
			<img src="/images/about/zendesk.png">
		</a>
	</div>
</div>

<!--
<div class="samples section">
  <h2>Check Out Our Sample Applications.</h2>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
  <div class="sample">
    <img src="/images/about/contacts-thumbnail.jpg">
    <div class="info">
      <div class="name">Contacts</div>
      <div class="actions">
        <div class="orange small-button">Launch</div>
        <div class="black small-button">Source</div>
      </div>
    </div>
  </div>
</div>
-->
