---
title: The Ember Brand
---

<h1>Ember Logos</h1>

<p>
  Ember速, the Ember速 logo design and the Tomster速 designs are exclusive trademarks registered in the United States by Tilde Inc.
</p>

<p>
  The Ember brand and associated assets are all part of a carefully curated experience. 
  We take great pride in what our team and community have helped bring to life.
</p>

<h2>The Ember Logo</h2>

<p>
  The Ember logo is an official project resource that can be used on websites, mobile apps, or in printed materials&mdash;assuming no connotation of official status or project/core team endorsement. It may not be manipulated in any way, and is best displayed on a black or very light colored background. The 速 symbol must be present.
</p>

<p>
  The Ember project has numerous projects under the Ember umbrella. These other logos may be used under the same terms as the primary Ember logo.
</p>

<div class="brand-logo">
  <img src="images/brand/ember_Ember-Light.png">
  <img src="images/brand/ember_Ember-Dark.png">
</div>

<div class="brand-small">
  <img src="images/brand/ember_CLI-Light.png">
  <img src="images/brand/ember_CLI-Dark.png">
</div>

<div class="brand-small">
  <img src="images/brand/ember_Data-Light.png">
  <img src="images/brand/ember_Data-Dark.png">
  <a class="orange button button-hero" href="../images/brand/logos-ember.zip">Download Logos</a>
</div>

<h2>The Ember Mascot: The Tomster</h2>

<p>The Ember Tomster is reserved for official Ember project use <em>only</em>.</p>
<p>
  We sometimes grant licenses for specific use cases, and certain community initiatives may, with approval, commission the design of custom Tomsters via official channels. For more info on commissioned Tomsters, <a href="../tomster/faq">visit the Tomster FAQ page</a>.
</p>
