---
title: "Community"
responsive: true
---

<h1>
  Get Involved: Join the Growing Ember.js Community
</h1>

<div class="community section help">
  <h2 class="text-center">Stuck? Lost? Get Help from the Community</h2>

  <div class="image"></div>


  <p>
    <a href="http://discuss.emberjs.com">Ember Discussion Forum</a> &mdash; a great
    venue for discussing features, architecture and best practices.
  </p>

  <p>
    <a href="https://discordapp.com/invite/zT3asNS">Ember Community Discord</a> &mdash; ask questions and chat with community members in real-time. (Looking for the Ember Community Slack? We recently switched away from Slack to [Discord](https://discordapp.com). Read more about why [here](https://github.com/emberjs/rfcs/pull/345)).
  </p>

  <p>
    <a href="http://stackoverflow.com/questions/tagged/ember.js">StackOverflow</a> &mdash; used to
    track questions. Just tag your question with <code>ember.js</code> or
    <a href="http://stackoverflow.com/questions/tagged/ember.js">search for questions with that tag</a>.
    Please check to see if your question has already been answered before asking a new one.
  </p>

  <p>
    Please note that these resources are not managed or moderated by the Ember Core Team. They are public forums.
  </p>
</div>

<div class="community section newsletters">
  <h2>Stay Up to Date with the Latest News</h2>
  <p>
    <a href="https://the-emberjs-times.ongoodbits.com/">Ember.js Times</a> &mdash; follow the progress of
    new features in the Ember ecosystem, requests for community input (RFCs), and calls for contributors
  </p>
  <p>
    <a href="http://emberweekly.com/">Ember Weekly</a> &mdash; a curated list of Ember learning resources (podcasts, videos, blog posts, books, and more)
  </p>
  <p>
    <a href="https://emberjs.com/blog/">Official Ember Blog</a> &mdash; big announcements like new Ember.js version release notes or State of the Union information
  </p>
</div>

<div class="community section bugs">
<h2 class="text-center">Something Fishy? Report it to the Team</h2>

  <div class="image"></div>

  <p>If you've found a bug or issue in Ember.js, please let us know. To file a bug, go to the
    <a href="https://github.com/emberjs/ember.js/issues">issue tracker</a> and create a new
    issue. Great bug reports include a clear description of what is not happening and what
    you expected to happen. Issues that include a failing test or a reduced test case
    created on <a href="https://ember-twiddle.com">Ember Twiddle</a>, <a href="http://jsfiddle.net/6Evrq/">JSFiddle</a> or
    <a href="http://emberjs.jsbin.com/">JSBin</a> are much more likely to receive attention.
    See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>

    <p>Please do not report security vulnerabilities on the public GitHub issue tracker. The <a href="/security">Ember.js Security Policy</a> details the procedure for disclosing security issues.</p>

    <p>The source code for this website is also <a href="https://github.com/emberjs/website">available on GitHub</a>. If you have found a typo or incorrect documentation, please file an issue on the GitHub project page, or even better, submit a pull request.</p>

    <p>Ember is an inclusive community that welcomes (and benefits from!) people of all backgrounds. If you're having a non-code issue, <a href="mailto:ombudsman@emberjs.com?subject=Website Help Link">reach out</a>. We do our very best to be sure every Ember user has pleasant interactions and positive experiences. If we can help make you feel more comfortable or help navigate a trying situation, let us know.</p>
</div>

<div class="community section contribute">
<h2 class="text-center">In a Giving Mood? Contribute to the Project</h2>

  <div class="image"></div>

  <p>The Ember.js source is hosted on <a href="https://github.com/emberjs/ember.js/">Github</a>.
    To contribute patches, create a fork of the project on GitHub and submit a pull request.
    Please be sure to include unit tests and documentation for any new features you add.
    See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>
</div>

<div class="community section meetup">
  <h2>Feeling Lonely?<br>Join a Meetup</h2>

  <div class="image"></div>

  <p>
    Joining an Ember.js meetup is a great way to learn more about Ember, meet other developers, find jobs, etc. Any and all things Ember and local.</p>

  <a class="ember-button ember-button--centered ember-button--community" href="/community/meetups">Find a meetup</a>
</div>

<div class="community section learn">
  <h2>Met The Mascots?<br>You'll Love Them!</h2>

  <div class="image"></div>

  <p>
    Tomster and Zoey have been crafted with love, and are constantly getting makeovers. Events, User Groups, Countries&mdash;sky's the limit!
  </p>

  <a class="ember-button ember-button--centered ember-button--community" href="../tomster">Meet the Mascots</a>
</div>

<div class="community section meetup-video">
  <div class="video">
    <div class="embedded-video">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/rY5D38RQoEg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
