---
title: "Community"
---

<h1>Get Involved by Joining the Growing Ember.js Community</h1>

<div class="community section">
  <h2>In a Giving Mood? Contribute to the Project</h2>

  <img src="/images/community/give.png">

  <p>The Ember.js source is hosted on <a href="https://github.com/emberjs/ember.js/">Github</a>.
    To contribute patches, create a fork of the project on GitHub and submit a pull request.
    Please be sure to include unit tests and documentation for any new features you add.
    See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>
</div>

<div class="community section bugs">
  <h2>Something Fishy? Report it to the Team</h2>

  <img src="/images/community/bug.png">

  <p>If you've found a bug or issue in Ember.js, please let us know. To file a bug, go to the
    <a href="https://github.com/emberjs/ember.js/issues">issue tracker</a> and create a new
    issue. Great bug reports include a clear description of what is not happening and what
    you expected to happen. Issues that include a failing test or a reduced test case
    created on <a href="http://jsfiddle.net">JSFiddle</a> or
    <a href="http://jsbin.com">JSBin</a> are much more likely to receive attention.
    See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>

    <p>The source code for this website is also <a href="https://github.com/emberjs/website">available on GitHub</a>.
       If you have found a typo or incorrect documentation, please file an issue on the GitHub project page,
       or even better, submit a pull request.</p>
</div>

<div class="community section">
  <h2>Stuck? Lost? Get Help from the Community</h2>

  <img src="/images/community/sos.png">

  <p><a href="http://stackoverflow.com/questions/tagged/ember.js">StackOverflow</a> is used to
  track questions. Just tag your question with <code>ember.js</code> or
    <a href="http://stackoverflow.com/questions/tagged/ember.js">search for questions with that tag</a>.
    Please check to see if your question has already been answered before asking a new one.</p>

    <p>You can also check out our IRC channel at <code>#emberjs</code> on freenode.net.</p>
</div>

<div class="community section">
  <h2>Meetups</h2>

  <p>There are a number of different Ember.js meetups around the world.
    Going to a meetup is a great way to learn more about Ember.js and meet
    other developers.</p>

  <table class="columns">
    <tr>
      <% data.meetups.each do |name, groups| %>
        <td>
          <h3><%= name %></h3>

          <ul>
            <% groups.sort_by(&:location).each do |group| %>
              <li><%= link_to group.location, group.url %></li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
</div>
