---
title: "Community"
---

<h1>Get Involved: Join the Growing Ember.js Community</h1>

<div class="community section contribute">
  <h2>In a Giving Mood? Contribute to the Project</h2>

  <div class="image"></div>

  <p>The Ember.js source is hosted on <a href="https://github.com/emberjs/ember.js/">Github</a>.
    To contribute patches, create a fork of the project on GitHub and submit a pull request.
    Please be sure to include unit tests and documentation for any new features you add.
    See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>
</div>

<div class="community section bugs">
  <h2>Something Fishy? Report it to the Team</h2>

  <div class="image"></div>

  <p>If you've found a bug or issue in Ember.js, please let us know. To file a bug, go to the
    <a href="https://github.com/emberjs/ember.js/issues">issue tracker</a> and create a new
    issue. Great bug reports include a clear description of what is not happening and what
    you expected to happen. Issues that include a failing test or a reduced test case
    created on <a href="http://jsfiddle.net/6Evrq/">JSFiddle</a> or
    <a href="http://emberjs.jsbin.com/">JSBin</a> are much more likely to receive attention.
    See the <a href="https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md">full guidelines</a>
    for more information.</p>

    <p>Please do not report security vulnerabilities on the public GitHub issue tracker. The <a href="/security">Ember.js Security Policy</a> details the procedure for disclosing security issues.</p>

    <p>The source code for this website is also <a href="https://github.com/emberjs/website">available on GitHub</a>. If you have found a typo or incorrect documentation, please file an issue on the GitHub project page, or even better, submit a pull request.</p>

    <p>Ember is an inclusive community that welcomes (and benefits from!) people of all backgrounds. If you're having a non-code issue, <a href="mailto:ombudsman@emberjs.com?subject=Website Help Link">reach out</a>. We do our very best to be sure every Ember user has pleasant interactions and positive experiences. If we can help make you feel more comfortable or help navigate a trying situation, let us know.</p>
</div>

<div class="community section help">
  <h2>Stuck? Lost? Get Help from the Community</h2>

  <div class="image"></div>

  <p><a href="http://stackoverflow.com/questions/tagged/ember.js">StackOverflow</a> is used to
  track questions. Just tag your question with <code>ember.js</code> or
  <a href="http://stackoverflow.com/questions/tagged/ember.js">search for questions with that tag</a>.
  Please check to see if your question has already been answered before asking a new one.</p>

  <p>You can participate in our <a href="http://discuss.emberjs.com">discussion forum</a>, which is a great
  venue for discussing features, architecture and best practices.</p>

  <p>You can also check out our IRC channel at <code>#emberjs</code> on chat.freenode.net.</p>
</div>

<div class="community section meetup">
  <h2>Feeling Lonely?<br>Join a Meetup</h2>

  <div class="image"></div>

  <p>
    There are Ember.js meetups around the world.<br />Joining is a great way to learn more about Ember.js, meet other developers, find jobs, etc. Any and all things Ember and local.</p>

  <a class="orange button" href="/meetups">Find a meetup near you</a>
</div>

<div class="community section learn">
  <h2>Looking to Learn?<br>Videos n' More!</h2>

  <div class="image"></div>

  <p>
    Ember is a new and growing community, and we're working to create learning resources as fast as we can. We've compiled a list of useful places to look for content other than our <a href="/guides">documentation</a>.
  </p>

  <a class="orange button" href="/resources">See our list of resources</a>
</div>
