---
title: "Documentation"
---

<% content_for :sidebar do %>
  <%= table_of_contents %>
<% end %>

<% data.docs.chapters.each do |chapter| %>
<div class="chapter" id="<%= chapter %>">
  <%= render :markdown, "docs/#{chapter}.md" %>
</div>
<% end %>
