---
title: "Documentation"
---

<div class="section toc">
  <h3>Table of Contents</h2>
  <%= table_of_contents %>
</div>

<% @chapters.each do |chapter| %>
<div class="section margin" id="<%= chapter %>">
  <%= render :markdown, "docs/#{chapter}.md" %>
</div>
<% end %>
