---
title: "Ember Community Survey 2016"
---

<% content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>

<% content_for :outside_wrapper do %>
<div class="survey-wrapper survey-wrapper-header">
  <div class="survey-header survey-container">
    <h1 class="survey-h1">
      <img src="/images/survey/logo.png" alt="Ember Community Survey 2016" />
    </h1>

    <h2 class="survey-tagline">
      An ambitious survey to help an ambitious community
    </h2>
    <a href="https://embersurvey.typeform.com/to/Npq9cY" class="survey-button orange button">
      Start Survey <img src="/images/survey/right-arrow.png" alt="Arrow to the right" />
    </a>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <h2 class="survey-h2">
      Check Out More Details
    </h2>
    <div class="survey-row">
      <div class="survey-column">
        <img class="survey-image" src="/images/survey/photo1.jpg" alt="Tomster and Friends" />
        <h4>
          March 3 to March 31
        </h4>
        <p>
          Please help us engage as many people in the Ember community as possible! We want every to be represented.
        </p>
      </div>
      <div class="survey-column">
        <img class="survey-image" src="/images/survey/photo2.jpg" alt="Emberconf Crowd" />
        <h4>
          Anonymous
        </h4>
        <p>
          No personal identification is attached to the responses. We want this to be a safe and secure environment for sharing.
        </p>
      </div>
      <div class="survey-column">
        <img class="survey-image" src="/images/survey/photo3.jpg" alt="Emberconf during talk" />
        <h4>
          Results at EmberConf
        </h4>
        <p>
          Last year over 900 participants provided data about themselves and how they use Ember. Help us double that number this year by sharing this page!
        </p>
      </div>
    </div>
  </div>
</div>



<div class="survey-wrapper survey-border-top">
  <div class="survey-footer">
    <h2 class="survey-h2 mono">
      Help us spread the word!
    </h2>
    <p>
      Last year we had 900 responses. Help us learn more this year!
    </p>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
    <p>
    Check out <a href="http://www.201-created.com/ember-community-survey-2015">last year's results</a>, and check back for this years results during EmberConf.
    </p>
  </div>
  <div class="survey-credits">
    <p>Brought to you by</p>
    <a href="http://www.201-created.com/">
      <img src="/images/survey/201 Created Square@1x.png" />
    </a>
    <p>&nbsp;</p>
    <p>Photos by <a href="http://www.octolabs.com/">Jeremy Green</a></p>
  </div>
</div>
<% end %>

<% content_for :foot do %>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56d691fe9146ba05"></script>
<% end %>
