---
title: "Ember Community Survey 2017"
responsive: true
---
<% content_for :outside_wrapper do %>
<div class="survey-wrapper survey-wrapper-header">
  <div class="survey-header survey-container">
    <h1 class="survey-h1">
      <img src="/images/survey/logo2017.png" alt="Ember Community Survey 2017" />
    </h1>

    <h2 class="survey-tagline">
      A project to learn who is using Ember, and how
    </h2>
  </div>
</div>

<div class="survey-wrapper survey-border-top">

  <a href="http://emberconf.com/">
    <img class="survey-image" src="/images/survey/emberconf-banner-2017.png" alt="EmberConf Tickets" />
  </a>

  <div class="survey-body survey-container">
    <h2 class="survey-h2 mono">
      Thanks for your participation!
    </h2>
    <p class="large">
      We would like to thank everyone who took the time to participate in the 2017 Ember Community Survey! We hope this information can provide a platform for discussion and ideas around the entire Ember ecosystem as it moves forward.
    </p>
    <p class="large">
      The results will be presented at <a href="http://emberconf.com/">EmberConf</a>.
      We'll see you there!
    </p>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
  </div>
  <div class="survey-credits">
    <p>Brought to you by</p>
    <a href="http://www.201-created.com/">
      <img src="/images/survey/201-Created-Square@1x.png" />
    </a>
  </div>
</div>
<% end %>
