---
title: "Ember Community Survey 2018"
responsive: true
no_survey_reminder: true
---
<% content_for :outside_wrapper do %>
<div class="survey-reminder-wrapper hidden">
  <div class="survey-reminder-container">
    You have <strong class="survey-time-left"></strong> left to submit your response!
  </div>
</div>