---
title: "Ember Community Survey 2016"
responsive: true
---
<% content_for :outside_wrapper do %>
<div class="survey-wrapper survey-wrapper-header">
  <div class="survey-header survey-container">
    <h1 class="survey-h1">
      <img src="/images/survey/logo.png" alt="Ember Community Survey 2016" />
    </h1>

    <h2 class="survey-tagline">
      A project to learn
      who is using Ember, and how
    </h2>

    <h3>With over 1800 responses, here are the 2016 survey results!</h3>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#how-long-have-you-been-working-with-ember" id="how-long-have-you-been-working-with-ember" class="survey-h2">
      How long have you been working with Ember?
    </a>
    <div id="e-s-g1" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
    <p class="large">
    Ember's growth remains steady, however the survey reached more experienced
    users this year than last year. Over half of our participants self-identify as being quite familiar with both JavaScript (70%) and with Ember itself (63%). The vast majority (84%) live in North America or Europe and prefer Sublime (39%), Atom (39%), VIM (29%) or WebStorm/Other Jetbrains (21%).
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#ember-in-the-enterprise" id="ember-in-the-enterprise" class="survey-h2">
      Ember at the Office
    </a>
    <div class="survey-row">
      <div class="survey-column half">
        <div id="e-s-g2" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
      <div class="survey-column half">
        <div id="e-s-g3" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
    </div>
    <p class="large">
    The vast majority (87%) of participants self-identified as a developer. 92% of participants used Ember at work. Last year 62% of participants had a development staff under 10, this year that dropped to 56% of respondents. The number of participants at a company having over 50 developers rose from 18% to 22%. This, along with the two graphs above showing how development roles have changed and Ember staff size has changed, points to a small shift toward larger companies. 85% of participants have an Ember application in production, 8% of participants work on an Ember application used by <em>millions</em> of users.
    </p>
  </div>
</div>
<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#new-release-adoption" id="new-release-adoption" class="survey-h2">
      New Release Adoption
    </a>
    <div id="e-s-g4" style="height: 400px; max-width: 800px; margin: 0 auto"></div>

    <p class="large">
    Ember 2.4 was the release version of Ember during this survey. 76% of participants use Ember 2.x in an app, which demonstrates incredible adoption for a major release. However 36% of developers are still managing a codebase on 1.13. Major semver releases include breaking changes, and a spike on the last 1.x release is expected to some degree. Anecdotal evidence
    suggests many large companies are just now crossing the threshold into 2.x.
    </p>
    <div id="e-s-g13" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
    <p class="large">
      Ember-Data, which did not follow semver until its June release of 1.13, shows a similar trend after that release. Despite a bump at 1.13 (27%) most participants upgrade seamlessly through minor versions. This is a great improvement over <a href="http://www.201-created.com/ember-community-survey-2015#release-adoption">last year</a>.
    </p>
  </div>
</div>
<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#long-lived-codebases" id="long-lived-codebases" class="survey-h2">
      Long-Lived Codebases
    </a>
    <div id="e-s-g5" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
    <p class="large">
      Participants reported that their applications trended older this year. More developers are working with long-lived Ember applications than ever before, moving through release versions over time.
    </p>
  </div>
</div>
<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#server-side" id="server-side" class="survey-h2">
      Server-side
    </a>
    <div class="survey-row">
      <div class="survey-column half">
        <div id="e-s-g6" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
      <div class="survey-column half">
        <div id="e-s-g7" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
    </div>
    <p class="large">
    Ruby retains the top spot in desired and actual server-side languages, however it also dropped 6% as production platform and 8% as a preferred platform. The only notable mover further down the list is Elixir/Erlang, which lept to surpass the popularity of Go in both use and preference.
    </p>

    <p class="large">JavaScript retains the largest gap between usage (24%) and preference (47%).</p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#browser-requirements" id="browser-requirements" class="survey-h2">
      Browser Requirements
    </a>
    <div class="survey-row">
      <div class="survey-column half">
        <div id="e-s-g8" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
      <div class="survey-column half">
        <div id="e-s-g9" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
    </div>
    <p class="large">
      Participants overwhelmingly support modern browsers. In a shocking twist, the number of Ember developer who maintain support for mobile browsers <em>dropped</em> from 57% to 49%, and is only projected to return to 57% next year.
    </p>

    <p class="large">
    In the past year Microsoft launched its evergreen browser <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge</a>, however Edge was not made available on older platforms like Windows 7. Older IE versions will be widely supported until those platforms are all retired, and their last available version of IE with them.
    </p>
    <p class="large">
    Current app support for IE9 is lower than support for IE8 was last year, providing a strong justification for Ember 3.0 (when it arrives) to retire IE9 support. IE10 support is popular despite the relative rarity of that browser (it is <a href="http://www.sitepoint.com/browser-trends-january-2016-12-month-review/">less common that IE9</a>).
    </p>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#the-ember-ecosystem" id="the-ember-ecosystem" class="survey-h2">
      The Ember Ecosystem
    </a>
    <div class="survey-row">
      <div class="survey-column half">
        <div id="e-s-g10" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
      <div class="survey-column half">
        <div id="e-s-g11" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
      </div>
    </div>
    <p class="large">
      The number of community members who have written an addon grew in the past year. An astonishing 52% of participants have written an addon, and the percentage of participants writing addon unit tests rose by 12% to 64%. 25% of participants report publishing an addon publicly, up from 20% last year.
    </p>

  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#search-engine-optimization" id="search-engine-optimization" class="survey-h2">
      Search Engine Optimization
    </a>
    <div id="e-s-g12" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
    <p class="large">
      Concerns about SEO grew this year, if only by 5% of the participants. FastBoot usage remains nascent. Similar to last year, we suspect an element of self-selection in these numbers as it is unlikely that Ember is being chosen for SEO-sensitive applications. The number of Ember apps targeting public consumers rose slightly from 46% to 49%.
    </p>
  </div>
</div>


<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <a href="#closing-thoughts" id="closing-thoughts" class="survey-h2 mono">
      Closing Thoughts
    </a>

    <p class="large">
    We would like to thank everyone who took the time to participate in the 2016 Ember Community Survey! We hope this information can provide a platform for discussion and ideas around the entire Ember ecosystem as it moves forward.
    </p>

    <p class="large">
    You can view a <a href="https://embersurvey.typeform.com/report/Npq9cY/RqO2">summary of the responses to all questions</a> from the survey, and you can view the <a href="/ember-community-survey-2016/ember-community-survey-2016-results.csv">raw survey data</a>.
    </p>

    <p class="large">
      Questions? Feedback? Please email <a href="mailto:survey@201-created.com">survey@201-created.com</a>
    </p>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
  </div>
  <div class="survey-credits">
    <p>Brought to you by</p>
    <a href="http://www.201-created.com/">
      <img src="/images/survey/201-Created-Square@1x.png" />
    </a>
  </div>
</div>
<% end %>

<% content_for :foot do %>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56d691fe9146ba05"></script>
  <script src="//code.highcharts.com/highcharts.js"></script>
<script>
$(function () {
  $('#e-s-g1').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: ''
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        '> 24 months',
        '18–24 months',
        '12–18 months',
        '9–12 monts',
        '6–9 months',
        '3–6 months',
        'Less than 3 months'
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2015 Survey',
      color: '#cccccc',
      data: [
        12.5,
        10.8,
        20.9,
        13,
        10.5,
        13.1,
        14.6
      ],
    }, {
      name: '2016 Survey',
      color: '#f23818',
      data: [
        27,
        16,
        16,
        9,
        9,
        10,
        10
      ]
    }]
  });
  $('#e-s-g2').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'What best describes your employment situation:'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Working on product',
        'Doing consultant/client work',
        'Independent product developer',
        'Independent consultant',
        'Internal ember products',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2015 Survey',
      color: '#cccccc',
      data: [
        67.3,
        22.8,
        24.4,
        13.4,
        0
      ]
    }, {
      name: '2016 Survey',
      color: '#f23818',
      data: [
        59,
        15,
        16,
        11,
        23
      ]
    }]
  });
  $('#e-s-g3').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'How many developers at your company work with Ember?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'None',
        '1–10',
        '10–20',
        '20–50',
        '50–100',
        'More than 100'
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2015 Survey',
      color: '#cccccc',
      data: [
        15.5,
        78,
        3.7,
        1.7,
        0.8,
        0.3
      ]
    }, {
      name: '2016 Survey',
      color: '#f23818',
      data: [
        12,
        74,
        6,
        4,
        2,
        1
      ]
    }]
  });
  $('#e-s-g4').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'Which version(s) of Ember are used in your apps?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Pre 1.6',
        '1.6',
        '1.7',
        '1.8',
        '1.9',
        '1.10',
        '1.11',
        '1.12',
        '1.13',
        '2.0',
        '2.1',
        '2.2',
        '2.3',
        '2.4',
        '2.5 Beta',
        'Canary (master)',
        'Custom Fork',
        'I don\'t know',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        4,  // 'Pre 1.6',
        2,  // '1.6',
        3,  // '1.7',
        4,  // '1.8',
        3,  // '1.9',
        4,  // '1.10',
        6,  // '1.11',
        6,  // '1.12',
        36, // '1.13',
        8,  // '2.0',
        6,  // '2.1',
        12, // '2.2',
        27, // '2.3',
        47, // '2.4',
        3,  // '2.5 Beta',
        2,  // 'Canary (master)',
        1,  // 'Custom Fork',
        3,  // 'I don\'t know',
      ]
    }]
  });
  $('#e-s-g5').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'How old are your Ember applications?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        '> 24 Months',
        '18–24 Months',
        '12–18 Months',
        '9–12 Months',
        '6–9 Months',
        '3–6 Months',
        '< 3 Months'
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2015 Survey',
      color: '#cccccc',
      data: [
        1.9, // '> 24 Months',
        9.2, // '18–24 Months',
        18.4, // '12–18 Months',
        20, // '9–12 Months',
        20, // '6–9 Months',
        25.8, // '3–6 Months',
        38.8 // '< 3 Months',
      ]
    },
    {
      name: '2016 Survey',
      color: '#f23818',
      data: [
        15, // '> 24 Months',
        16, // '18–24 Months',
        23, // '12–18 Months',
        21, // '9–12 Months',
        18, // '6–9 Months',
        20, // '3–6 Months',
        27 // '< 3 Months',
      ]
    }]
  });

  $('#e-s-g6').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'What is the primary language of your server-side stack?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Ruby',
        'Javascript',
        'Java',
        'PHP',
        'Python',
        '.NET',
        'Elixir/Erlang',
        'Go',
        'Scala',
        'Rust',
        'Other',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        41, // 'Ruby',
        24, // 'Javascript',
        17, // 'Java',
        13, // 'PHP',
        12, // 'Python',
        8,  // '.NET',
        6,  // 'Elixir/Erlang',
        5,  // 'Go',
        2,  // 'Scala',
        1,  // 'Rust',
        3,  // 'Other',
      ]
    }]
  });
  $('#e-s-g7').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'What are your preferred server-side languages'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Ruby',
        'Javascript',
        'Java',
        'PHP',
        'Python',
        '.NET',
        'Elixir/Erlang',
        'Go',
        'Scala',
        'Rust',
        'Other',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        49, // 'Ruby',
        47, // 'Javascript',
        16, // 'Java',
        17, // 'PHP',
        17, // 'Python',
        9,  // '.NET',
        15, // 'Elixir/Erlang',
        9,  // 'Go',
        3,  // 'Scala',
        4,  // 'Rust',
        3,  // 'Other',
      ]
    }]
  });

  $('#e-s-g8').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'What browsers do Ember apps support?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Modern browsers (last two versions)',
        'Mobile browsers',
        'IE 11',
        'IE 10',
        'Legacy Chrome, Firefox, Safari',
        'IE 9',
        'IE 8',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        94, // 'Modern browsers (last two versions)',
        49, // 'Mobile browsers',
        40, // 'IE 11',
        28, // 'IE 10',
        13, // 'Legacy Chrome, Firefox, Safari',
        12, // 'IE 9',
        3, // 'IE 8',
      ]
    }]
  });

  $('#e-s-g9').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'What will they support next year?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Modern browsers (last two versions)',
        'Mobile browsers',
        'IE 11',
        'IE 10',
        'Legacy Chrome, Firefox, Safari',
        'IE 9',
        'IE 8',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        94, // 'Modern browsers (last two versions)',
        57, // 'Mobile browsers',
        35, // 'IE 11',
        15, // 'IE 10',
        11, // 'Legacy Chrome, Firefox, Safari',
        4, // 'IE 9',
        1, // 'IE 8',
      ]
    }]
  });

  $('#e-s-g10').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'Number of addons written per participant'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        '0',
        '1–3',
        '4–6',
        '> 6',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        48, // '0',
        36, // '1–3',
        8, // '4–6',
        8, // '> 6',
      ]
    }]
  });

  $('#e-s-g11').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'Are your addons unit tested?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'All',
        'Some',
        'None',
        'Unknown'
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2015 Survey',
      color: '#cccccc',
      data: [
        15.6, // 'All',
        22.1, // 'Some',
        48, // 'None',
        14.3, // 'I\'m not sure how to do this',
      ]
    }, {
      name: '2016 Survey',
      color: '#f23818',
      data: [
        23, // 'All',
        27, // 'Some',
        36, // 'None',
        14, // 'I\'m not sure how to do this',
      ]
    }]
  });

  $('#e-s-g12').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'What method do you rely on for search engine indexing?'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'App is private, behind authentication flow, or this question generally does not apply',
        'Google\'s Javascript Execution',
        'Our app is indexable, but I don\'t know how',
        'phantomjs or other pre-rendering (including Prerender.io)',
        'FastBoot or other use of the "visit" API',
        'noscript tags',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        73, // 'App is private,...',
        16, // 'Google\'s Javascript Execution',
        12, // 'Our app is indexable, but I don\'t know how',
        7,  // 'phantomjs or other pre-rendering (including Prerender.io)',
        5,  // 'FastBoot or other use of the "visit" API',
        3,  // 'noscript tags',
      ]
    }]
  });

  $('#e-s-g13').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      type: 'column'
    },
    title: {
      text: 'Ember Data'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: [
        'Pre 1.13',
        '1.13',
        '2.0',
        '2.1',
        '2.2',
        '2.3',
        '2.4',
        '2.5 Beta',
        'Canary (master)',
        'Custom Fork',
        'I don\'t know',
      ]
    },
    yAxis: {
      title: {
        text: 'Percent'
      }
    },
    series: [{
      name: '2016 Ember Community Survey',
      color: '#f23818',
      data: [
        11, // 'Pre 1.13',
        27, // '1.13',
        6,  // '2.0',
        4,  // '2.1',
        8,  // '2.2',
        21, // '2.3',
        42, // '2.4',
        3,  // '2.5 Beta',
        2,  // 'Canary (master)',
        0,  // 'Custom Fork',
        5,  // 'I don\'t know',
      ]
    }]
  });
});
</script>
<% end %>
