---
title: "Ember Community Survey 2016"
responsive: true
---
<% content_for :outside_wrapper do %>
<div class="survey-wrapper survey-wrapper-header">
  <div class="survey-header survey-container">
    <h1 class="survey-h1">
      <img src="/images/survey/logo.png" alt="Ember Community Survey 2016" />
    </h1>

    <h2 class="survey-tagline">
      A project to learn
      who is using Ember, and how
    </h2>
    <a href="https://embersurvey.typeform.com/to/Npq9cY" class="survey-button orange button">
      Visit survey <img src="/images/survey/right-arrow.png" alt="Arrow to the right" />
    </a>
  </div>
</div>

<div class="survey-wrapper survey-border-top">
  <div class="survey-body survey-container">
    <h2 class="survey-h2">
      More about the Survey
    </h2>
    <div class="survey-row">
      <div class="survey-column">
        <img class="survey-image" src="/images/survey/photo1.jpg" alt="Tomster and Friends" />
        <h4>
          Totally Anonymous
        </h4>
        <p>
        No personal identification is attached to survey responses. Last year
        over 900 participants shared information about themselves, their businesses,
        and applications.
        </p>
      </div>
      <div class="survey-column">
        <img class="survey-image" src="/images/survey/photo2.jpg" alt="Emberconf Crowd" />
        <h4>
          Open until March 21st
        </h4>
        <p>
          Submissions close on March 21st. To ensure the survey
          captures a fair measure of our community, share this page on your
          social networks and with your local communities.
        </p>
      </div>
      <div class="survey-column">
        <img class="survey-image" src="/images/survey/photo3.jpg" alt="Emberconf during talk" />
        <h4>
          Results at EmberConf
        </h4>
        <p>
        At EmberConf the results to the 2016 survey will be shared with
        comparison to the <a href="http://www.201-created.com/ember-community-survey-2015">2015 results</a>.
        Detailed aggregate and
        individual responses will also be made public.
        </p>
      </div>
    </div>
  </div>
</div>



<div class="survey-wrapper survey-border-top">
  <div class="survey-footer">
    <h2 class="survey-h2 mono">
      Help spread the word!
    </h2>
    <p>
      Questions? Feedback? Please email <a href="mailto:survey@201-created.com">survey@201-created.com</a>
    </p>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
    <p>
    ...and see you at <a href="http://emberconf.com/">EmberConf</a>!
    </p>
  </div>
  <div class="survey-credits">
    <p>Brought to you by</p>
    <a href="http://www.201-created.com/">
      <img src="/images/survey/201-Created-Square@1x.png" />
    </a>
    <p>&nbsp;</p>
    <p>Photos by <a href="http://www.octolabs.com/">Jeremy Green</a></p>
  </div>
</div>
<% end %>

<% content_for :foot do %>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56d691fe9146ba05"></script>
<% end %>
