---
title: "Community"
---

<h1>
  See Who's Using Ember.js
</h1>

<div class="users section">

  <a class="orange button" href="mailto:hello@emberjs.com">
    GET LISTED
  </a>

<table id="showcase">
  <% data.users.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <a href="<%= user.url %>">
            <img src="/images/about/<%= user.image %>">
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
  
</div>