---
title: "Users"
---

<h1>
  See Who's Using Ember.js
</h1>

<p>
  Logos are added by company representatives. These companies may or may not be using Ember on their main web properties, but they're definitely using it somewhere in their organizations :)
</p>
<p>
  Feel free to track down folks who work at a specific company if you're looking for more detail on their specific usage.
</p>

<div class="users section">

<table id="showcase">
  <% data.users.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <a href="<%= user.url %>" rel="nofollow">
            <img src="/images/about/<%= user.image %>" width="210" height="103" alt="<%= user.alt %>">
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<!-- <a class="orange button" href="mailto:hello@emberjs.com">
  GET LISTED
</a> -->

<p>
  To add your company or project to this page, <a href="https://github.com/emberjs/website">submit a Pull Request</a>.<br>Be sure that your logo has a transparent background and includes adequate white space.<br>Additional instructions are in the code.
</p>

</div>
