---
title: Learn
responsive: true
---

<% content_for :outside_wrapper do %>
<div class="legal-wrapper">
  <h1>Tutorial</h1>

  <p>
    <a href="https://guides.emberjs.com/v2.5.0/tutorial/ember-cli/">Follow our tutorial</a> to build, and deploy, your first Ember.js application!
  </p>

  <h1>Guides</h1>

  <p>
    Whether you're just getting started and want to get familiar with the Ember ecosystem, or you're looking to refresh your knowledge on a certain feature, <a href="https://guides.emberjs.com/">the Guides</a> are the place for you.
  </p>

  <h1>API Reference</h1>

  <p>
    Explore the available API of the various Ember ecosystem libraries. This is where you want to go to read in details about the various features, including example code.
  </p>

  <ul>
    <li><a href="http://emberjs.com/api/">Ember</a></li>
    <li><a href="http://emberjs.com/api/data/">Ember Data</a></li>
    <li><a href="http://ember-cli.com/api/">Ember CLI</a></li>
  </ul>
</div>
<% end %>
