---
title: Learn
responsive: true
---

<% content_for :outside_wrapper do %>
<div class="legal-wrapper">
  <h1>Tutorial</h1>

  <p>
    <a href="https://guides.emberjs.com/v2.5.0/tutorial/ember-cli/">Follow our tutorial</a> to build, and deploy, your first Ember.js application!
  </p>

  <h1>Guides</h1>

  <p>
    Whether you're just getting started and want to get familiar with the Ember ecosystem, or you're looking to refresh your knowledge on a certain feature, <a href="https://guides.emberjs.com/">the Guides</a> are the place for you.
  </p>

  <h1>Ecosystem</h1>

  <p>
    Ember's ecosystem of libraries solve the hard problems around building, client to server communication and server side rendering.
  </p>

  <p>
    You build your application using Ember CLI. If you're just getting started with Ember, or are unfamiliar with Ember CLI, head over to <a href="https://ember-cli.com/user-guide/">the Ember CLI User Guides</a>. The default build process might not suit you perfectly, so you need to <a href="https://ember-cli.com/extending/">extend Ember CLI itself</a>.
  </p>

  <p>
    While it's not a requirement, Ember includes a complimentary library for client to server communication called <a href="http://emberjs.com/api/data/">Ember Data</a>.
  </p>

  <p>
    If you want your application to be rendered on the server, <a href="http://ember-fastboot.com/">FastBoot</a> is the solution for your Ember application.
  </p>

  <h1>API Reference</h1>

  <p>
    Explore the available API of the various Ember ecosystem libraries. This is where you want to go to read in details about the various features, including example code.
  </p>

  <ul>
    <li><a href="http://emberjs.com/api/">Ember</a></li>
    <li><a href="http://emberjs.com/api/data/">Ember Data</a></li>
    <li><a href="http://ember-cli.com/api/">Ember CLI</a></li>
  </ul>
</div>
<% end %>
