---
title: Legal
responsive: true
---

<% content_for :outside_wrapper do %>
<div class="legal-wrapper">
  <h1>Legal</h1>

  <p>
  <br/>
      Ember is a registered trademark owned by <a href="http://www.tilde.io">Tilde Inc</a>.
  </p>
  <p>
      The trademarks, logos, and service marks (collectively the “Trademarks”) displayed on our website are registered and unregistered Trademarks used by us, or other third parties. Nothing contained on this website should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Trademark displayed on the website without written permission from us or such third party that may own the Trademarks displayed on the website.
  </p>

  <h2>Non-Legalese TL;DR</h2>

  <p>
      Ember's strong brand and identity are an important part of the project. We're protective of it! Please be respectful and <a href="mailto:leah@emberjs.com">reach out</a> if you're unsure if your use is acceptable. Visit the <a href="/logos">branding page</a> to learn more about what is and isn't permitted, and to download logos.
  </p>
  <p>
      We often grant licenses for use of the Ember logo for non-commercial community use cases. If you think you might be one of them, let's talk. We always aim to be reasonable.
  </p>
  <p>
    The Tomster in particular has many more restrictions and should not be used without express authorization. <a href="../tomster">You can view the various official Tomsters</a>, and check out <a href="../tomster/faq">our growing FAQ</a>.
  </p>

  <h2>The Ember License</h2>

  <p>
      The most current Ember license details <a href="https://github.com/emberjs/ember.js/blob/master/LICENSE">can be found on GitHub</a>.
  </p>

  <h2>Documentation Images</h2>

  <p>
    The graphs, diagrams and charts in the <a href="/guides">Ember Guides</a> have been released under the Creative Commons Attribution-NonCommercial-ShareAlike (CC BY-NC-SA) license.
  </p>
  <img class="rightFloat" src="/images/legal/license-cc_by_nc_sa.png" />
  <p>
    This license allows others to remix, tweak, and build upon the instructional materials non-commercially, as long as they credit Ember and license any new creations under the identical terms.
  </p>
  <p>
    This license does <strong>not</strong> include any uses of the Tomster included in the Guides. Please reach out for clarification on any ambiguous images before using.
  </p>
</div>
<% end %>
