---
title: Ember Brand Guidelines
responsive: true
---

<h1>Brand Guidelines</h1>
<p>The Ember brand and associated assets are part of a meticulously curated experience. We take great pride in what our team and community have helped bring to life, and ask that you follow our guidelines to ensure consistency across all Ember properties.</p>
<p><a href="/images/brand/Ember-Brand-Guidelines.pdf">Download brand guidelines (PDF)</a></p>

<section>
  <h2>The Logos</h2>
  <p>Our logos are the main identifier of our brand, so we're careful with how we use them. They may not be manipulated in any way, and may <strong>never</strong> be incorporated into other logos.</p>
  <p>Ember, the Ember logo design and the Tomster designs are exclusive trademarks registered in the United States by Tilde Inc. The ® symbol must be present in these brand marks. If you use the logos, please add standard language explicitly indicating unofficial status. For example, "This page/product/etc is unaffiliated with the Ember project. Ember is a trademark of Tilde Inc."</p>
  <p><a href="/images/brand/logos-ember.zip">Download logos (ZIP)</a></p>
  <ul>
    <li>
      <h3>Primary Logo</h3>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_Ember-Dark.png"></li>
        <li><img src="/images/brand/ember_Ember-Light.png"></li>
        <li><img src="/images/brand/ember_Ember-1c-Light.png"></li>
        <li><img src="/images/brand/ember_Ember-1c-Dark.png"></li>
      </ul>
      <p>The Ember logo can be used on websites, mobile apps, or in printed materials to indicate use of Ember technologies <strong>assuming there is no chance it might imply official status or project/core team endorsement</strong>.</p>
      <p>The color mark should only be displayed on a black or very light colored background. In other scenarios, use a solid black or white logo to contrast your background.</p>
      <p>When printed, the Ember logo should always be in PMS 7417C. The hex value is <span style="background-color: #E04E39; color: white; font-weight: bolder; padding: 1px 4px; border-radius: 5px;">#E04E39</span>.</p>
    </li>
    <li>
      <h3>Tomster Lockup</h3>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_Tomster-Lockup.png"></li>
        <li><img src="/images/brand/ember_Tomster-Lockup.png"></li>
        <li><img src="/images/brand/ember_Tomster-Lockup.png"></li>
        <li><img src="/images/brand/ember_Tomster-Lockup.png"></li>
      </ul>
      <p>A fun alternative to the primary logotype is the Tomster lockup. It’s designed with a white stroke which allows it to work on all background colors without modification.</p>
    </li>
    <li>
      <h3>Subproject Logos</h3>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_CLI-Dark.png"></li>
        <li><img src="/images/brand/ember_CLI-Light.png"></li>
        <li><img src="/images/brand/ember_CLI-1c-Light.png"></li>
        <li><img src="/images/brand/ember_CLI-1c-Dark.png"></li>
      </ul>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_Data-Dark.png"></li>
        <li><img src="/images/brand/ember_Data-Light.png"></li>
        <li><img src="/images/brand/ember_Data-1c-Light.png"></li>
        <li><img src="/images/brand/ember_Data-1c-Dark.png"></li>
      </ul>
      <p>The Ember project has numerous projects under its umbrella. These other logos may be used under the same terms as the primary Ember logo.</p>
    </li>
    <li>
      <h3>Tertiary Logos</h3>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_Forum-Dark.png"></li>
        <li><img src="/images/brand/ember_Forum-Light.png"></li>
        <li><img src="/images/brand/ember_Forum-1c-Light.png"></li>
        <li><img src="/images/brand/ember_Forum-1c-Dark.png"></li>
      </ul>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_Times-Dark.png"></li>
        <li><img src="/images/brand/ember_Times-Light.png"></li>
        <li><img src="/images/brand/ember_Times-1c-Light.png"></li>
        <li><img src="/images/brand/ember_Times-1c-Dark.png"></li>
      </ul>
      <ul class="brand-logos">
        <li><img src="/images/brand/ember_Jobs-Dark.png"></li>
        <li><img src="/images/brand/ember_Jobs-Light.png"></li>
        <li><img src="/images/brand/ember_Jobs-1c-Light.png"></li>
        <li><img src="/images/brand/ember_Jobs-1c-Dark.png"></li>
      </ul>
      <p>Ember communities and smaller projects have logos based on Ember’s <span class="code">code</span> style. They are only to be used by the project owners themselves the official properties.</p>
    </li>
  </ul>
</section>

<section>
  <h2>The Ember Mascots</h2>
  <p>With the exception of the Tomster logo lockup, our mascots are reserved for official Ember project use <em>only</em>.</p>
  <p>We sometimes grant licenses for specific use cases, and certain community initiatives may, with approval, commission the design of custom Tomsters and Zoeys via official channels. For more info on commissioned mascots, <a href="../tomster/faq">visit the Tomster FAQ page</a>.</p>
</section>

<section>
  <h2>Naming</h2>
  <p>Please avoid naming your projects and events anything that implies Ember or Tilde's endorsement. Keep this in mind when selecting domain names as well.</p>
  <p>It is all right to use Ember in the name of local meetup groups, which are well understood to be unofficial. It is also OK to use Ember in the name of other events, assuming the official Ember logo is never made part of the name or logo for the unofficial event.</p>
  <p>EmberConf and EmberCamp are both used for official purposes and cannot otherwise be used.</p>
</section>
