---
title: "Meetups"
responsive: true
---

<h1>
  Ember Meetup Resources
</h1>

<p>
  Running an Ember User Group can be challenging, but <em>really</em> rewarding: thanks so much for stepping up! We're here to help however we can. <a href="mailto:meetups@emberjs.com">Reach out to Leah</a> if you have questions, ideas, or anything else User Group / Meetup related.
</p>

<p>
  If you're looking for a little help getting started, <a href="/community/meetups-getting-started">we've put together some starter tips for you</a>. Hope it's helpful!
</p>

<div>
  <h1 class="second">
    Assets
  </h1>

  <h2>Branding Materials</h2>


  <p>
    We've created user group badges and branding to help give our groups a consistent feel. You can create your own by downloading our
    <a href="/images/meetups/Ember-Meetup-Templates.zip"> Sketch and Illustrator templates (ZIP)</a>.
  </p>


  <p>
    If you're using <a href="//meetup.com" target="__blank">Meetup</a> to manage your group, you can also use our header image for your group's pages:
  </p>
  <a href="/images/meetups/ember-meetup-header.jpg" target="-_blank"><img class="meetups-header" src="/images/meetups/ember-meetup-header.jpg" alt="Ember Meetup Header"></a>


  <h2>Logos</h2>
  <img class="example-meetups-logo" src="/images/meetups/ember-meetup-logo-san-francisco.png" srcset="/images/meetups/ember-meetup-logo-san-francisco.png 1x, /images/meetups/ember-meetup-logo-san-francisco@2x.png 2x">

  <p>
    Our <a href="/images/meetups/Ember-Meetup-Templates.zip">logo design templates (ZIP)</a> allow you to create a meetup logo for your city in a range of formats. For usage instructions, see our <a href="/images/brand/Ember-Brand-Guidelines.pdf">brand guidelines (PDF)</a>.
  </p>
  <p>
    The primary Ember logo may be used the terms covered on our <a href="/branding">branding page</a>. In general, manipulations of any sort are not allowed. Please <a href="mailto:leah@emberjs.com">email us</a> with any questions.
  </p>

  <ul class="inline_list">
    <li><a href="/images/logos/ember-logo.ai">Logo in Illustrator format</a></li>
    <li><a href="/images/logos/ember-logo.png">Logo in PNG format, transparent background</a></li>
    <li><a href="/images/brand/logos-ember.zip">All Ember logos (ZIP)</a></li>
  </ul>

  <h2>Stickers</h2>

  <p>
    The Ember Core Team has a small stash of Ember stickers donated by the folks at <a href="http://tilde.io">Tilde</a>. These are distributed as requested while in stock. If you'd like to print your own Ember stickers, here are the files you'll need for the canonical ones.
  </p>

  <ul class="inline_list">
    <li><a href="/images/stickers/ember-sticker.ai">Ember Logo Stickers</a>, best printed die-cut at 3.0" x 1.25"</li>
    <li><a href="/images/stickers/tomster-sticker.ai">Ember Mascot Stickers</a>, best printed die-cut at 3" x 3"</li>
  </ul>

  <p>
    We recommend printing your stickers with <a href="http://www.stickermule.com/unlock?ref_id=3368978601">StickerMule</a>, who are long time supporters of Open Source. The link here will also get you $10 off your first order.
  </p>

    <div>
      <h2 class="second">
      Custom Tomsters and Zoeys
      </h2>

      <p>
        You may have noticed that some user groups (Salt Lake City, Munich, London, etc.) have their own custom Tomster and/or Zoey variants. These have been commissioned and licensed by the groups; they paid a small commission fee to have the character designed by one of the official designers, and we granted them a license to use that variant for non-commercial user group related purposes.
      </p>

      <p class="tomsterVar">
        <a href="http://www.meetup.com/Ember-js-Munich/">
          <img width="180px" src="/images/community/tomsters/Ember-Munich-Half-sm.png">
        </a>
        <a href="http://www.meetup.com/Ember-ATX/">
          <img width="180px" src="/images/community/tomsters/Ember-Austin-Zoey-Half-sm.png">
        </a>
        <a href="http://www.meetup.com/Vancouver-Ember-js/">
          <img width="180px" src="/images/community/tomsters/Ember-Vancouver-Half-sm.png">
        </a>
      </p>

      <p>
          Thankfully, our designers love Ember and therefore give us ridiculously fair deals. Pricing ranges from $80 to $300, depending on the extent of the request. On average, most user groups spend $200.
      </p>
      <p>
          If you're interested in commissioning a Meetup/User Group Tomster or Zoey, <a href="../tomster/commission/">reach out to us with details</a>.
      </p>
  </div>

  <h1>Recording Your Meetup</h1>

  <p>
    Many Ember Meetup organizers have done the community a tremendous service by having their meetups recorded. In some cases groups are able to find sponsors, and in others, sponsors pick up either the expense and/or the labor.
  </p>
  <p>
    The London group was the first to roll their own, with Portland and other cities to follow. Overall one-time equipment spend in USD was approximately $350, plus two HDMI cords and the use of an iPhone or Tablet.
  </p>
  <p>
    If you're interested in recording your meetups on your own, here are the items some of those groups have had success with:
  </p>
  <ul>
    <li>
      <a href="https://www.amazon.com/AmazonBasics-60-Inch-Lightweight-Tripod-Bag/dp/B005KP473Q/ref=sr_1_2?ie=UTF8&qid=1475263846&sr=8-2&keywords=tripod">Lightweight tripod</a> with adjustable-height legs, rubber feet and great maneuverability.
    </li>
    <li>
      <a href="https://www.amazon.com/gp/product/B009GHYLKS/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Phone-sized mount</a> so your phone can hook into the tripod.
    </li>
    <li>
      <a href="https://www.amazon.com/gp/product/B00MIQ40JQ/ref=oh_aui_detailpage_o06_s00?ie=UTF8&psc=1">Game Capture device</a> for recording the presenter's slides.
    </li>
    <li>
      <a href="https://www.amazon.com/gp/product/B003QKBVYK/ref=oh_aui_detailpage_o06_s00?ie=UTF8&psc=1">Voice recorder</a> so you're recording the speaker's audio separately, and not using the not-too-great cell phone video audio.
    </li>
    <li>
      <a href="https://www.amazon.com/gp/product/B00KMILKGS/ref=oh_aui_detailpage_o06_s00?ie=UTF8&psc=1">Lavalier Mic</a> that plugs into the voice recorder, to allow your speakers maximum maneuverability.
    </li>
  </ul>
  <p>
    To make this setup work, you'll need a laptop, in <em>addition</em> to the presenter's laptop. The basic process is:
    <ul>
      <li>
        The presenter's laptop gets plugged via HDMI into the Video Capture device (HDMI In).
      </li>
      <li>
        The video capture device gets plugged via HDMI into the projector (HDMI Out).
      </li>
      <li>
        The video capture device <em>also</em> plugs into the extra laptop via USB.
      </li>
      <li>
        The presenter wears the Voice Recording device in a pocket, with the Lavalier mic plugged in and attached somewhere near their neck. This will record your separate, clear audio stream.
      </li>
      <li>
        The tripod is positioned somewhere with a good view of the speaker, with the phone-specific-attachment screwed in, and then the phone inserted horizontally.
      </li>
      <li>
        When everything's ready to go, hit the record button on the capturing laptop, hit the record button on the iPhone, hit the record button on the voice recorder, and you're off to the races.
      </li>
      <li>
        After the event, download all three files onto one laptop, and use something like Screenflow to sync them up and produce your video. Alternatively, if you have <em>some</em> sponsorship, you can find a local producer or videographer to do this work for you for a few hundred dollars, depending on the volume of content.
      </li>
    </ul>
  </p>

  <h1>Organizers Network</h1>
  <p>
    There's a great (not-so-secret) channel in the Ember Community Discord for organizers. Request to be added to the <dfn>meetup-organizer</dfn> role in #discord-server-admin so that you can join us!
  </p>
</div>
