---
title: "Community"
---

<h1>
  Ember Meetup Assets
</h1>

<p>
  The following Meetup Badges are optimized for the main Meetup.com size. Get in touch if we can help you with something else.
</p>

<div class="meetups section">

  <% data.meetups.each do |name, groups| %>
    <h2><%= name %></h2>
    <ul>
    <% groups.sort_by(&:location).each do |group| %>
      <li>
        <%= image_tag "meetups/#{group.image}" %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <p>
    Starting a <em>new</em> user group? Want to play with fonts? <a href="/images/meetups/EmberMeetUp_180x135.psd">Download the PSD</a> and have at it!
  </p>

</div>