---
title: "Community"
---

<h1>
  Ember Sponsors and Friends
</h1>

<p>
  It's still early in the life of the project, but we couldn't have gotten as far as we have without the support&mdash;both financial and technical&mdash;of the following companies:
</p>

<div class="sponsors section">

<table id="showcase">
  <% data.sponsors.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <a href="<%= user.url %>" rel="nofollow">
            <img src="/images/about/<%= user.image %>">
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<!-- This next section is here for smaller sponsors; all those listed above have contributed tens-to-hundreds of thousands of dollars in time/cash.
 -->
<!-- <p>
  We'd also like the thank the following folks for their generous support:
</p>

<ul>
  <li>Test small supporter 1</li>
  <li>Test small supporter 2</li>
  <li>Test small supporter 3</li>
</ul> -->

</div>