---
title: "Team"
---

<h1>
  Ember Core Team
</h1>

<p>
  Ember is an Open Source project that relies on the tireless support of individual contributors. These are the members of our Core Team:
</p>

<div class="team section">

<table class="headshots">
  <% data.team.each_slice(4) do |slice| %>
    <tr>
      <% slice.each do |user| %>
        <td>
          <p>
            <%= user.name %>
          </p>
          <a href="<%= user.github %>" rel="nofollow">
            <img src="/images/team/<%= user.image %>" width="150" height="150">
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

</div>
